/*公用搜索头部开始*/
.gb-top {
    width: 7.5rem;
    background-color: #eee; }
.gb-top .gb-top-center {
    width: 7.1rem;
    height: .88rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
.gb-top .gb-top-center .tc-l {
    display: flex;
    align-items: center; }
.gb-top .gb-top-center .tc-l img {
    width: 1.82rem;
    height: .55rem; }
.gb-top .gb-top-center .tc-r {
    /*width: 5.98rem;*/
    height: .88rem;
    display: flex;
    align-items: center; }
.gb-top .gb-top-center .tc-r input {
    line-height: normal;
    display: inline-block;
    width: 3.85rem;
    padding-left: .15rem;
    height: .6rem;
    border: none;
    border: .03rem solid #122a8c;
    outline: none;
    border-radius: .3rem 0 0 .3rem; }
.gb-top .gb-top-center .tc-r a {
    display: inline-block;
    width: .9rem;
    height: .6rem;
    background-color: #122a8c;
    border: .03rem solid #122a8c;
    border-left: none;
    border-radius: 0 .3rem .3rem 0;
    display: flex;
    align-items: center; }
.gb-top .gb-top-center .tc-r a img {
    width: .32rem;
    height: .32rem;
    margin-left: .25rem; }


input::-ms-input-placeholder{line-height: normal;}
input::-webkit-input-placeholder{line-height: normal;}
/*公用头部结束*/


/*轮播图问题*/
.liop a img{
    display: block;
}
/*轮播图问题*/


/*公用版块介绍*/
.ec-info{
    height: .8rem;
    border-left: .1rem solid #122a8c;
    background-color: #fff;
}
.eci-c{
    width: 7.1rem;
    height: .8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eci-c span{
    color: #122a8c;
    font-size: .36rem;
    font-weight: bold;
}
.ecic-r{
    width: 1.1rem;
    height: .5rem;
    color: #fff;
    background-color: #e73227;
    display: block;
    border-radius: .3rem;
    line-height: .5rem;
    text-align: center;
    font-size: .26rem;
}
/*公用版块介绍*/


/*流程开始*/
.bm-toM-item{
    width: 7.1rem;
    margin: 0 auto;
}
.cz-liuChe{
    display: flex;
    padding-top: .2rem;
}
.cz-liuChe li{
    width: 25%;
    height: 1.5rem;
}
.cz-liuChe li a{
    display: block;
    width: 100%;
}
.cz-liuChe li a .map{
    width: 100%;
    display: flex;
    height: .8rem;
    align-items:center;
}
.cz-liuChe li a .fx-you{
    justify-content: flex-end !important;
}
.cz-liuChe li a .map .map-m{
    width: .82rem;
    height: .82rem;
}
.cz-liuChe li a .map .map-m2{
    width: .47rem;
    border-top:1px dashed #b5b5b5 ;
}
.cz-liuChe li a .map .ico1{
    background: url(../images/wz-bm-ico.png) -.10rem -.32rem;
    background-size: 5.04rem 1.58rem;
}
.cz-liuChe li a .map .ico2{
    background: url(../images/wz-bm-ico.png) -1.04rem -.32rem;
    background-size: 5.04rem 1.58rem;
}
.cz-liuChe li a .map .ico3{
    background: url(../images/wz-bm-ico.png) -2.02rem -.32rem;
    background-size: 5.04rem 1.58rem;
}
.cz-liuChe li a .map .ico4{
    background: url(../images/wz-bm-ico.png) -2.93rem -.32rem;
    background-size: 5.04rem 1.58rem;
}
.cz-liuChe li a p{
    text-align: center;font-size: .30rem;
    color: #222;margin: .2rem 0;
}
body a:hover{
    text-decoration: none;
}
/*流程结束*/


/*公用底部开始*/

.foot{
    width: 7.5rem;
    margin: 0 auto;
    height: 1.2rem;
    position: fixed;
    background: #fff;
    bottom: 0;
    border-top: .001rem solid #a9a9a9;
    left: 0;
    right: 0;
    z-index: 10000;
}
.foot-c{
    width: 7.1rem;
    height: 1.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot a{
    display: flex;
    height: .8rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.foot i{
    width: .35rem;
    height: .35rem;
    background-size: .35rem .35rem;
}
.foot span{
    color: #333333;
    font-size: .24rem;
    padding-top: .02rem;
}
.foot span.green{
    color: #122a8c;
}
.foot a:hover{
    text-decoration: none;
}
.hondq{
    position: relative;
}
.tt{
    /*display: none;*/
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    background-color: #da322a;
    position: absolute;
    right: 0.2rem;
    top: 0;
}
.icon1{
    display: block;
    background: url("../images/qiye.png") no-repeat;
}
.icon2{
    background: url("../images/chanpin.png") no-repeat;
}
.icon3{
    background: url("../images/tongxun.png") no-repeat;
}
.icon4{
    background: url("../images/new.png") no-repeat;
}
.icon5{
    background: url("../images/geren.png") no-repeat;
}
/*首页变亮图标*/
.icon11{
    background: url("../images/qiyeicon.png") no-repeat;
}
.icon21{
    background: url("../images/chanpinicon.png") no-repeat;
}
.icon31{
    background: url("../images/tongxunicon.png") no-repeat;
}
.icon41{
    background: url("../images/newicon.png") no-repeat;
}
.icon51{
    background: url("../images/gerenicon.png") no-repeat;
}
/*变亮图标结束*/


/*公用底部结束*/


/*新版公用头部开始*/
.zl-top {
    width: 7.5rem;
    background-color: #f1f1f1; }
.zl-top .zlt-c {
    width: 7.1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
.zl-top .zlt-c .zltc-l {
    display: flex;
    align-items: center;
    width: 2.16rem;
    height: .88rem; }
.zl-top .zlt-c .zltc-l a {
    display: inline-block;
    width: .14rem;
    height: .24rem;  }
.zl-top .zlt-c .zltc-l a img {
    width: .14rem;
    height: .24rem; }
.zl-top .zlt-c .zltc-c {
    width: 2.7rem;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    color: #333333;
    font-size: .34rem; }
.zl-top .zlt-c .zltc-r {
    width: 2.16rem;
    height: .88rem;
    line-height: .88rem;
    display: flex;
    justify-content: flex-end; }
.zl-top .zlt-c .zltc-r a {
    color: #333333;
    font-size: .34rem; }

.ipt .ipt-c {
    width: 7.1rem;
    height: .88rem;
    margin: .2rem auto;
    display: flex;
    justify-content: space-between; }
.ipt .ipt-c input {
    display: inline-block;
    width: 6.47rem;
    height: .88rem;
    border: .01rem solid #989898;
    border-right: none;
    border-bottom-left-radius: .1rem;
    border-top-left-radius: .1rem;
    font-size: .3rem; }
.ipt .ipt-c .clear {
    width: .65rem;
    height: .88rem;
    border: .01rem solid #989898;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: .1rem;
    border-top-right-radius: .1rem; }
.ipt .ipt-c .clear i {
    display: inline-block;
    width: .3rem;
    height: .3rem; }
.ipt .ipt-c .clear i img {
    width: .3rem;
    height: .3rem; }
.zltc-l{
    width: 1rem!important;
    height: .88rem;
}
.zltc-c{
    width: 5.1rem!important;
    height: .88rem;
}
.zltc-r{
    width: 1rem!important;
    height: .88rem;
}

/*新版公用头部开始*/


/*公用好友列表开始*/
.qqlb {
    width: 7.5rem; }
.qqlb .qqlb-c {
    width: 7.5rem; }
.qqlb .qqlb-c ul li {
    display: inline-block;
    width: 7.5rem;
    height: 2.3rem;
    margin-bottom: .2rem;
    background-color: #fff; }
.qqlb .qqlb-c ul li .qq {
    width: 7.1rem;
    margin: 0 auto; }
.qqlb .qqlb-c ul li .qq .qq-t {
    width: 7.1rem;
    height: 1.77rem;
    border-bottom: .01rem solid #cacaca;
    display: flex;
    align-items: center;
    justify-content: space-between; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-l {
    height: 1.77rem;
    display: flex;
    align-items: center;
    margin-right: .28rem; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-l i {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .1rem; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-l i img {
    width: 100%;
    height: 100%;
    border-radius: .1rem; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-c {
    width: 3.7rem;
    height: 1.35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-c em {
    display: flex;
    font-size: .28rem;
    align-items: baseline; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-c em p {
    color: #050505;
    font-size: .34rem;
    margin-right: .2rem; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-c em span {
    color: #919191; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-c em h3 {
    width: 3.7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555555; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r {
    width: 2rem;
    height: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;  }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r time {
    color: #8e8e8e;
    font-size: .22rem; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r em {
    display: flex;
    justify-content: space-between;
    margin-top: .4rem; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r em button {
    width: .9rem;
    height: .4rem;
    border-radius: .05rem;
    font-size: .22rem; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r em .btn1 {
    color: #122a8c;
    border: .01rem solid #122a8c;
    background-color: #fff; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r em .btn2 {
    border: .01rem solid #122a8c;
    background-color: #122a8c;
    color: #fff;
    outline: none;
    margin-left: .1rem;
}
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r em a {
    display: flex;
    justify-content: center;
    width: .9rem;
    height: .4rem;
    border: .01rem solid #da322a;
    background-color: #da322a;
    border-radius: .05rem;
    line-height: .4rem; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r em a i {
    display: flex;
    align-items: center;
    width: .08rem;
    height: .08rem;
}
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r em a i img {
    width: 100%;
    height: 100%; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r em a p {
    color: #fff;
    font-size: .22rem; }
.qqlb .qqlb-c ul li .qq .qq-t .qqt-r em span {
    color: #122a8c;
    font-size: .22rem; }
.qqlb .qqlb-c ul li .qq .qq-f {
    width: 7.1rem;
    height: 0.53rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
.qqlb .qqlb-c ul li .qq .qq-f span {
    display: flex; }
.qqlb .qqlb-c ul li .qq .qq-f .zhuying {
    width: 4.5rem;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #bbbbbb;
    font-size: .22rem; }
.qqlb .qqlb-c ul li .qq .qq-f .whoeye {
    width: 2.52rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
.qqlb .qqlb-c ul li .qq .qq-f .whoeye i {
    display: flex;
    align-items: center;
    width: .3rem;
    height: .17rem;
    margin-right: .06rem; }
.qqlb .qqlb-c ul li .qq .qq-f .whoeye i img {
    width: 100%;
    height: 100%; }
.qqlb .qqlb-c ul li .qq .qq-f .whoeye p {
    font-size: .22rem;
    color: #9e9e9e; }
/*公用好友列表结束*/

.qq-t a{
    display: flex;
    align-items: center;
}


.qqt-l>i{
    text-align: center;
    font-size: .6rem;
    line-height: 1.25rem;
    color: #fff;
    background-color: #122a8c;
}







/*推荐企业公用*/
.e-gongsi {
    width: 7.5rem;
    height: auto; }
.e-gongsi .e-gongsi-c {
    width: 7.1rem;
    margin: 0 auto; }
.e-gongsi .e-gongsi-c .e-company {
    width: 7.1rem;
    height: 4.35rem;
    background-color: #fff; }
.e-gongsi .e-gongsi-c .e-company .ec-t {
    width: 7.1rem;
    height: 3.3rem;
    position: relative; }
.e-gongsi .e-gongsi-c .e-company .ec-t .ect-tl {
    display: flex;
    position: absolute;
    align-items: center;
    top: .15rem;
    right: .2rem; }
.e-gongsi .e-gongsi-c .e-company .ec-t .ect-tl i {
    display: inline-block;
    width: .2rem;
    height: .26rem; }
.e-gongsi .e-gongsi-c .e-company .ec-t .ect-tl i img {
    width: 100%;
    height: 100%;
    display: block; }
.e-gongsi .e-gongsi-c .e-company .ec-t .ect-tl p {
    color: #9e9e9e;
    font-size: .22rem; }
.e-gongsi .e-gongsi-c .e-company .ec-t .e-hmb {
    width: 7.1rem;
    height: .5rem;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
.e-gongsi .e-gongsi-c .e-company .ec-t .e-hmb .e-hmb-c {
    width: 6.7rem;
    height: .5rem;
    margin: 0 auto;
    display: flex; }
.e-gongsi .e-gongsi-c .e-company .ec-t .e-hmb .e-hmb-c .ehmbc-l {
    width: 3.35rem;
    height: .5rem;
    display: flex;
    align-items: center; }
.e-gongsi .e-gongsi-c .e-company .ec-t .e-hmb .e-hmb-c .ehmbc-l i {
    display: inline-block;
    width: .22rem;
    height: .22rem; }
.e-gongsi .e-gongsi-c .e-company .ec-t .e-hmb .e-hmb-c .ehmbc-l i img {
    display: block;
    width: 100%;
    height: 100%; }
.e-gongsi .e-gongsi-c .e-company .ec-t .e-hmb .e-hmb-c .ehmbc-l p {
    display: inline-block;
    height: .5rem;
    line-height: .5rem;
    font-size: .22rem;
    color: #9e9e9e; }
.e-gongsi .e-gongsi-c .e-company .ec-t .e-hmb .e-hmb-c .ehmbc-r {
    width: 3.35rem;
    height: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
.e-gongsi .e-gongsi-c .e-company .ec-t .e-hmb .e-hmb-c .ehmbc-r i {
    display: inline-block;
    width: .27rem;
    height: .17rem; }
.e-gongsi .e-gongsi-c .e-company .ec-t .e-hmb .e-hmb-c .ehmbc-r i img {
    width: 100%;
    height: 100%;
    display: block; }
.e-gongsi .e-gongsi-c .e-company .ec-t .e-hmb .e-hmb-c .ehmbc-r p {
    display: inline-block;
    height: .5rem;
    line-height: .5rem;
    font-size: .22rem;
    color: #9e9e9e; }
.e-gongsi .e-gongsi-c .e-company .ec-t img {
    width: 100%;
    height: 100%; }
.e-gongsi .e-gongsi-c .e-company .ec-f {
    width: 7.1rem;
    height: 1.05rem; }
.e-gongsi .e-gongsi-c .e-company .ec-f .e-p-1 {
    margin-top: .1rem;
    display: inline-block;
    width: 7.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1c1c1c;
    font-size: .3rem; }
.e-gongsi .e-gongsi-c .e-company .ec-f .e-p-2 {
    display: inline-block;
    width: 7.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #b6b6ba;
    font-size: .3rem;
    margin-bottom: .1rem; }

.e-newst {
    width: 7.5rem;
    background-color: #fff; }
.e-newst .e-newst-c {
    border-top: .001rem solid #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.1rem;
    height: 2.02rem;
    margin: 0 auto; }
.e-newst .e-newst-c .e-newst-c-l {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: .17rem; }
.e-newst .e-newst-c .e-newst-c-l .e-company-img {
    width: 1.6rem;
    height: 1.6rem;
    border: .01rem solid #999999; }
.e-newst .e-newst-c .e-newst-c-l .e-company-img img {
    width: 100%;
    height: 100%; }
.e-newst .e-newst-c .e-newst-c-r {
    width: 5.35rem;
    height: 1.6rem; }
.e-newst .e-newst-c .e-newst-c-r .encr-p1 {
    width: 5.35rem;
    height: .8rem;
    color: #1c1c1c;
    font-size: .3rem;
    overflow: hidden; }
.e-newst .e-newst-c .e-newst-c-r .encr-p2 {
    margin-top: .05rem;
    color: #b6b6ba;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .3rem; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info {
    margin-top: .05rem;
    display: flex; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-l {
    display: flex;
    align-items: center;
    margin-right: .3rem; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-l i {
    display: inline-block;
    width: .22rem;
    height: .22rem; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-l i img {
    width: 100%;
    height: 100%;
    display: block; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-l p {
    color: #9e9e9e;
    font-size: .22rem; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-c {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .3rem; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-c i {
    display: inline-block;
    width: .27rem;
    height: .17rem; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-c i img {
    width: 100%;
    height: 100%;
    display: block; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-c p {
    color: #9e9e9e;
    font-size: .22rem; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-r {
    display: flex;
    text-align: center;
    align-items: center; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-r i {
    display: inline-block;
    width: .2rem;
    height: .26rem; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-r i img {
    width: 100%;
    height: 100%;
    display: block; }
.e-newst .e-newst-c .e-newst-c-r .encrr-info .encrri-r p {
    text-align: right;
    color: #9e9e9e;
    font-size: .22rem; }

.e-tujiangs {
    display: flex;
    justify-content: space-between; }
/*推荐企业公用*/



/*列表筛选选项开始*/
.listchoice{
    height: .8rem;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    border-bottom: .1px solid #cccccc;
}
.listchoice a{
    display: block;
    color: #4a4a4a;
    font-size: .3rem;
}
.listchoice a:hover{
    text-decoration: none;
}
.listchoice-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 5.53rem;
    height: .8rem;
    /*background-color: yellow;*/
}
.listchoice-right{
    border-left: .001rem #cacaca solid;
    width: 1.57rem;
    height: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .02rem;
    /*background-color: blue;*/
}
.listchoice-right img{
    padding-left: .1rem;
    width: .29rem;
    height: .33rem;
}
.listchoice-right a{
    /*width: .92rem;*/
    height: .8rem;
    display: flex;
    align-items: center;
}
/*列表筛选选项结束*/




/*产品展厅开始*/
.e-neo {
    width: 7.5rem; }
.e-neo .e-neo-c {
    width: 7.1rem;
    margin: .1rem auto;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
.e-neo .e-neo-c a {
    display: block;
    width: 3.5rem;
    height: 5rem;
    margin-top: .1rem; }
.e-neo .e-neo-c a .e-neo-cis {
    width: 3.5rem;
    height: 5rem;
    background-color: #fff;
    margin-right: .1rem; }
.e-neo .e-neo-c a .e-neo-cis .neo-t {
    width: 3.5rem;
    height: 3.5rem; }
.e-neo .e-neo-c a .e-neo-cis .neo-t img {
    width: 100%;
    height: 100%; }
.e-neo .e-neo-c a .e-neo-cis .neo-b {
    width: 3.5rem;
    height: 1.5rem; }
.e-neo .e-neo-c a .e-neo-cis .neo-b .neob-c {
    width: 3.1rem;
    height: 1.5rem;
    margin: 0 auto;
    border-top: .01rem dotted #cccccc; }
.e-neo .e-neo-c a .e-neo-cis .neo-b .neob-c .neobc-p1 {
    width: 3.1rem;
    height: .8rem;
    margin-top: .1rem;
    color: #333333;
    font-size: .3rem;
    overflow: hidden; }
.e-neo .e-neo-c a .e-neo-cis .neo-b .neob-c .neobc-p2 {
    width: 3.1rem;
    height: .35rem;
    margin-top: .15rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
.e-neo .e-neo-c a .e-neo-cis .neo-b .neob-c .neobc-p2 .p2-span1 {
    color: #e83328;
    font-size: .32rem; }
.e-neo .e-neo-c a .e-neo-cis .neo-b .neob-c .neobc-p2 .p2-span2 {
    display: flex;
    align-items: center; }
.e-neo .e-neo-c a .e-neo-cis .neo-b .neob-c .neobc-p2 .p2-span2 i {
    display: inline-block;
    width: .27rem;
    height: .17rem;
    margin-right: .1rem; }
.e-neo .e-neo-c a .e-neo-cis .neo-b .neob-c .neobc-p2 .p2-span2 i img {
    display: block;
    width: 100%;
    height: 100%; }
.e-neo .e-neo-c a .e-neo-cis .neo-b .neob-c .neobc-p2 .p2-span2 em {
    color: #999999;
    font-size: .22rem; }
#round {
    margin-left: 3.2rem;
     }
/*产品展厅结束*/