<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/guiguzi.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <title>分类</title>
</head>
<body>
    <div class="box">
        <div class="step">
            <div class="step-left">
                <ul id="tab">
                    <a href="">
                        <li class="wu">青花瓷</li>
                    </a>
                    <a href="">
                        <li>青花瓷</li>
                    </a>
                    <a href="">
                        <li>青花瓷</li>
                    </a>
                    <a href="">
                        <li>青花瓷</li>
                    </a>
                </ul>
            </div>
            <div class="step-right">
                <div class="sr-top">
                    <img src="../img/guiguzi.png" alt=""/>
                </div>
                <div class="xianbiao">
                    <i class="xian"></i><span class="biaoti">推荐产品</span>
                </div>
                <div class="sr-center">
                    <div class="pingzi-1">
                        <a href="javascript:;">
                            <img src="../img/pingzi1.png" alt=""/>
                            <p>元清花六宝之鸳鸯戏水莲花纹鸯戏水莲花纹鸯戏水莲花纹鸯戏水莲花纹鸯戏水莲花纹鸯戏水莲花纹鸯戏水莲花纹鸯戏水莲花纹鸯戏水莲花纹鸯戏水莲花纹鸯戏水莲花纹玉事实上事实上壶春瓶</p>
                        </a>
                    </div>
                    <div class="pingzi-1">
                        <a href="javascript:;">
                            <img src="../img/pingzi1.png" alt=""/>
                            <p>元清花六宝之鸳鸯戏水莲花纹玉水莲花纹玉水莲花纹玉壶春瓶</p>
                        </a>
                    </div>
                    <div class="pingzi-1">
                        <a href="javascript:;">
                            <img src="../img/pingzi1.png" alt=""/>
                            <p>元清花六宝之鸳鸯戏水莲花纹玉壶春瓶</p>
                        </a>
                    </div>
                </div>
                <div class="xianbiao gengduo">
                    <em style="font-style: normal"><i class="xian"></i><span class="biaoti">青花瓷</span></em>
                    <p class="dingwei"><a href="javascript:;">更多>></a></p>
                </div>
                <div class="sr-foot">
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五彩</p>
                    </a>    
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五彩</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五彩</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五彩</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五彩</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五彩</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五彩</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五彩</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五</p>
                    </a>
                    <a href="javascript:;">
                        <img src="../img/pingzi1.png" alt=""/>
                        <p>花五</p>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <script>
//        window.onload = function(){
//            var lis = document.getElementById('tab').getElementsByTagName('li');
//            var div = document.getElementsByClassName("step-right");
//            for(var i= 0; i<lis.length; i++){
//                lis[i].index = i;
//                lis[i].onmousemove = function(){
//                    for(var i = 0; i<lis.length; i++){
//                        lis[i].className = "";
//                        lis[i].style.display = "none";
//                    }
//                    this.className = "show_bt"
//                    lis[this.index].style.display = "block";
//                }
//            }
//        }
    </script>
</body>
</html>