<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>document</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/tab.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        .box {
            max-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
        .co{
            background-color: #122a8c;
        }
    </style>
</head>
<body>
<div class="box">
    <div class="icon">
        <span class="co">切换一</span>
        <span>切换二</span>
        <span>切换三</span>
        <span>切换四</span>
        <span>切换五</span>
    </div>
    <div class="list">
        <span>盒子一</span>
        <span>盒子二</span>
        <span>盒子三</span>
        <span>盒子四</span>
        <span>盒子五</span>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".icon>span").on("click",function(){
            $(this).addClass("co").siblings().removeClass("co")
        $(".list>span").hide().eq($(this).index()).show()
        })
    })
</script>
</body>
</html>