<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>个人中心</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/jihe.css"/>
    <link rel="stylesheet" href="../css/style4.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        .box{
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="box">
        <!--头部开始-->
        <div class="zl-top">
            <div class="zlt-c">
                <div class="zltc-l">
                    <a href="javascript:;">
                        <img src="../images/huisejiantou.png" alt=""/>
                    </a>
                </div>
                <div class="zltc-c">
                    <p>动态通知</p>
                </div>
                <div class="zltc-r">

                </div>
            </div>
        </div>
        <!--头部结束-->

        <!--通知部分开始-->
        <div class="tongzhi">
            <ul>
                <li>
                    <div class="tz-left">
                        <i>
                            <!--<img src="../images/tx.png" alt=""/>-->
                            陈
                        </i>
                    </div>
                    <div class="tz-right" style="margin-left: .2rem">
                        <div>
                            <p class="dtp1">
                                陈娜·<span>河南尼伯特数控特数控特数控</span>市场经理
                            </p>
                            <p class="dtp2">
                                评论了:平台拥有各协会资源、产业联盟资 评论了:平台拥有各协会资源、产业联盟资
                            </p>
                            <p class="dtp3">18分钟前</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tz-left">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                    </div>
                    <div class="tz-right" style="margin-left: .2rem">
                        <div>
                            <p class="dtp1">
                                陈娜·<span>河南尼伯特数控特数控特数控</span>市场经理
                            </p>
                            <p class="dtp2">
                                评论了:平台拥有各协会资源、产业联盟资 评论了:平台拥有各协会资源、产业联盟资
                            </p>
                            <p class="dtp3">18分钟前</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tz-left">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                    </div>
                    <div class="tz-right" style="margin-left: .2rem">
                        <div>
                            <p class="dtp1">
                                陈娜·<span>河南尼伯特数控特数控特数控</span>市场经理
                            </p>
                            <p class="dtp2">
                                赞了你的动态
                            </p>
                            <p class="dtp3">18分钟前</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tz-left">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                    </div>
                    <div class="tz-right" style="margin-left: .2rem">
                        <div>
                            <p class="dtp1">
                                陈娜·<span>河南尼伯特数控特数控特数控</span>市场经理
                            </p>
                            <p class="dtp2">
                                评论了:平台拥有各协会资源、产业联盟资 评论了:平台拥有各协会资源、产业联盟资
                            </p>
                            <p class="dtp3">18分钟前</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>



        <!--通知部分结束-->
    </div>
    <script>
        $(document).ready(function(){
            if($(".CGB").html() == 0){
                $(".tt").css("display","none");
            }else{
                $(".tt").css("display","block");
            }
        })
    </script>
</body>
</html>