<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>个人中心</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/style4.css"/>
    <link rel="stylesheet" href="../css/gerenzhongxin.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
</head>
<body>
    <div class="box">
        <!--头部开始-->
        <div class="zl-top">
            <div class="zlt-c">
                <div class="zltc-l">

                </div>
                <div class="zltc-c">
                    <p>个人中心</p>
                </div>
                <div class="zltc-r">

                </div>
            </div>
        </div>
        <!--头部结束-->

        <!--个人信息开始-->
        <div class="p-info">
            <a href="javscript:;">
                <div class="p-info-c">
                    <div class="p-info-c-l">
                        <i>
                            <img src="../images/qq-tx.png" alt="" style="display: none"/>
                            <span>陈</span>
                        </i>
                        <div>
                            <p>陈娜 <span style="font-size: .28rem">聚方科技园总经理</span></p>
                            <p style="color: #646464;font-size: .26rem">知名度 <span style="color: #e73227;font-size: .26rem">268</span>, 高于 <span style="color: #e73227;font-size: .26rem">26%</span>的用户</p>
                        </div>
                    </div>
                    <div class="p-info-c-r">
                        <i>
                            <img src="../images/li-jiantou.png" alt=""/>
                        </i>
                    </div>
                </div>
            </a>
        </div>
        <!--个人信息结束-->


        <!--好友处理部分-->
        <div class="gr-list">
            <div class="gr-list-c">
                <ul>
                    <li>
                        <a href="javscript:;">
                            <div class="gr-list-c-l">
                                <i>
                                    <img src="../images/haoyoulist.png" alt=""/>
                                </i>
                                <p>好友列表</p>
                            </div>
                            <div class="gr-list-c-r">
                                <i>
                                    <img src="../images/li-jiantou.png" alt=""/>
                                </i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="gr-list-c-l">
                                <i>
                                    <img src="../images/tianjiahaoyou.png" alt=""/>
                                </i>
                                <p>添加好友请求</p>
                                <span class="CGB">0</span>
                            </div>
                            <div class="gr-list-c-r">
                                <i>
                                    <img src="../images/li-jiantou.png" alt=""/>
                                </i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="gr-list-c-l">
                                <i>
                                    <img src="../images/zhimingdulo.png" alt=""/>
                                </i>
                                <p>我的知名度</p>
                                <time style="color: #e73227;font-size: .3rem;margin-left: .15rem">+10</time>
                            </div>
                            <div class="gr-list-c-r">
                                <i>
                                    <img src="../images/li-jiantou.png" alt=""/>
                                </i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="gr-list-c-l">
                                <i>
                                    <img src="../images/heimingdan.png" alt=""/>
                                </i>
                                <p>黑名单</p>
                                <!--<time style="color: #e73227;font-size: .3rem;margin-left: .15rem">+10</time>-->
                            </div>
                            <div class="gr-list-c-r">
                                <i>
                                    <img src="../images/li-jiantou.png" alt=""/>
                                </i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--好友处理部分-->

        <!--资料部分-->
        <div class="gr-list">
            <div class="gr-list-c">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="gr-list-c-l">
                                <i>
                                    <img src="../images/fabudedongtai.png" alt=""/>
                                </i>
                                <p>发布的动态</p>
                            </div>
                            <div class="gr-list-c-r">
                                <i>
                                    <img src="../images/li-jiantou.png" alt=""/>
                                </i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="gr-list-c-l">
                                <i>
                                    <img src="../images/canyudedongtai.png" alt=""/>
                                </i>
                                <p>我参与的动态</p>
                            </div>
                            <div class="gr-list-c-r">
                                <i>
                                    <img src="../images/li-jiantou.png" alt=""/>
                                </i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="gr-list-c-l">
                                <i>
                                    <img src="../images/dongtaitongzhilishi.png" alt=""/>
                                </i>
                                <p>动态通知历史</p>
                            </div>
                            <div class="gr-list-c-r">
                                <i>
                                    <img src="../images/li-jiantou.png" alt=""/>
                                </i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 资料部分-->


        <!--退出登录-->
        <div class="gr-list">
            <div class="gr-list-c">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="gr-list-c-l">
                                <i>
                                    <img src="../images/shezhi.png" alt=""/>
                                </i>
                                <p>设置</p>
                            </div>
                            <div class="gr-list-c-r">
                                <i>
                                    <img src="../images/li-jiantou.png" alt=""/>
                                </i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--退出登录-->

        <!--底部导航开始-->
        <div class="foot">
            <div class="foot-c">
                <a href="{:url('index/index')}">
                    <i class="icon1"></i>
                    <span>企业展厅</span>
                </a>
                <a href="{:url('product/index')}">
                    <i class="icon2"></i>
                    <span>产品展厅</span>
                </a>
                <a href="{:url('product/index')}">
                    <i class="icon3"></i>
                    <span>通讯大厅</span>
                </a>
                <a href="{:url('news/index')}">
                    <i class="icon4"></i>
                    <span>新闻资讯</span>
                </a>
                <a href="{:url('index/baoming')}" class="hondq">
                    <i class="icon51"></i>
                    <span class="green">个人中心</span>
                    <time class="tt"></time>
                </a>
            </div>
        </div>
        <!--底部导航结束-->
    </div>
    <script>
        $(document).ready(function(){
            if($(".CGB").html() == 0){
                $(".tt").css("display","none");
            }else{
                $(".tt").css("display","block");
            }
        })
    </script>
</body>
</html>