<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>document</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/shequ.css"/>
    <link rel="stylesheet" href="../css/style4.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        .box {
            max-width: 7.5rem;
            background-color: #eee;
            margin: 0 auto;
            position: relative;
        }
    </style>
</head>
<body>
<div class="box">
    <!--全屏模版-->
    <div class="xunwenbox">
        <div class="xwbox-foot">
            <a href="javascript:;">拉黑</a>
            <a href="javascript:;">举报</a>
            <a href="javascript:;" class="xuxiao">取消</a>
        </div>
    </div>
    <!--全屏模版-->

    <!--动态圈-->
    <div class="circlejia">
        <a href="javascript:;">
            <i>
                <img src="../images/jiahaofa.png" alt=""/>
            </i>
            <p>发布动态</p>
        </a>
    </div>
</div>
<!--动态圈-->

    <!--头部大图板块-->
    <div class="shequ-tbg">
        <img src="../images/shequ-tbg.png" alt=""/>
    </div>
    <div class="shequ-tmbm">
        <div class="shequ-tmb">
            <div class="sqtb">
                <i>
                    <a href="javascript:;">
                        <img src="../images/jjjj.png" alt=""/>
                    </a>
                </i>
                <p><a href="javascript:;">分享</a></p>
            </div>
            <p class="gyp">#说一说工业4.0吧#</p>
            <p class="eyepp">
                <i>
                    <img src="../images/baieye.png" alt=""/>
                </i>
                <span>1206人看过</span>
            </p>
        </div>
    </div>
    <!--头部大图板块-->

    <!--分类-->
    <div class="rmzx">
        <div class="rmzx-l">
            <p class="onclick-blue">热门</p>
        </div>
        <div class="rmzx-r">
            <p>最新</p>
        </div>
    </div>
    <!--分类-->

    <!--个人发布信息-->
    <div class="per-info">
        <div class="per-info-c">
            <div class="pic-t">
                <div class="pic-t-l">
                    <i>
                        <img src="../images/tx.png" alt=""/>
                    </i>
                    <ul>
                        <li>
                            <span class="name">陈安</span>
                            <span class="zhiwu">市场总监</span>
                        </li>
                        <li class="companyy">河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司</li>
                        <li class="fb-time">18分钟前</li>
                    </ul>
                </div>
                <div class="pic-t-r">
                    <i>
                        <img src="../images/xiajiantou.png" alt=""/>
                    </i>
                </div>
            </div>
            <div class="pic-b">
                <p>尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。</p>
                <ul>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                </ul>
                <div class="liulandianan">
                    <div class="lldz-l">
                        浏览186次
                    </div>
                    <div class="lldz-r">
                        <a href="javascript:;">
                            <img src="../images/dianzan.png" alt="" class="hdz"/>
                        </a>
                        <a href="javascript:;">
                            <img src="../images/xiaoxi.png" alt=""/>
                        </a>
                        <a href="javascript:;">
                            <img src="../images/zhuanfa.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="dianzanrenshu">
                    <a href="javascript:;" class="dzs-a1">
                        <i>
                            <img src="../images/shoudianzan.png" alt=""/>
                        </i>
                    </a>
                    <a href="javascript:;">
                        阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，
                    </a>
                </div>
                <div class="ltian-info">
                    <a href="javascript:;">
                        <span>宇通科技:</span>
                        <i>你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!</i>
                    </a>
                    <a href="javascript:;">
                        <span>宇通科技:</span>
                        <i>
                            你好我是河南尼伯特数控工具有限公司的!
                        </i>
                    </a>
                    <a href="javascript:;" style="color: #122a8c;font-size: .24rem;">查看全部220条评论</a>
                </div>
                <div class="pl-input">
                    <input type="text" placeholder="&nbsp;&nbsp;评论"/>
                </div>
            </div>
        </div>
    </div>
    <div class="per-info">
        <div class="per-info-c">
            <div class="pic-t">
                <div class="pic-t-l">
                    <i>
                        <img src="../images/tx.png" alt=""/>
                    </i>
                    <ul>
                        <li>
                            <span class="name">陈安</span>
                            <span class="zhiwu">市场总监</span>
                        </li>
                        <li class="companyy">河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司</li>
                        <li class="fb-time">18分钟前</li>
                    </ul>
                </div>
                <div class="pic-t-r">
                    <i>
                        <img src="../images/xiajiantou.png" alt=""/>
                    </i>
                </div>
            </div>
            <div class="pic-b">
                <p>尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。</p>
                <ul>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                </ul>
                <div class="liulandianan">
                    <div class="lldz-l">
                        浏览186次
                    </div>
                    <div class="lldz-r">
                        <a href="javascript:;">
                            <img src="../images/dianzan.png" alt="" class="hdz"/>
                        </a>
                        <a href="javascript:;">
                            <img src="../images/xiaoxi.png" alt=""/>
                        </a>
                        <a href="javascript:;">
                            <img src="../images/zhuanfa.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="dianzanrenshu">
                    <a href="javascript:;" class="dzs-a1">
                        <i>
                            <img src="../images/shoudianzan.png" alt=""/>
                        </i>
                    </a>
                    <a href="javascript:;">
                        阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，
                    </a>
                </div>
                <div class="ltian-info">
                    <a href="javascript:;">
                        <span>宇通科技:</span>
                        <i>你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!</i>
                    </a>
                    <a href="javascript:;">
                        <span>宇通科技:</span>
                        <i>
                            你好我是河南尼伯特数控工具有限公司的!
                        </i>
                    </a>
                    <a href="javascript:;" style="color: #122a8c;font-size: .24rem;">查看全部220条评论</a>
                </div>
                <div class="pl-input">
                    <input type="text" placeholder="&nbsp;&nbsp;评论"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //      点赞
        $(".hdz").on("click",function(){
            if($(this).attr("src")=="../images/dianzan.png"){
                $(this).attr("src","../images/hongsedianzan.png");
            }
            else{
                $(this).attr("src","../images/dianzan.png");
            }
        })

//        隐藏圆圈
        $(".circlejia").on("click",function(){
            $(".circlejia").css("left","0")
        })
        var f = setInterval(function(){
            $(".circlejia").css("left","-0.8rem")
        },3000)
//弹出层询问框
        $(".pic-t-r>i>img").on("click",function(){
            $(".xunwenbox").show();
        })
        $(".xuxiao").on("click",function(){
            $(".xunwenbox").hide();
        })
    })
</script>
</body>
</html>