<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>黑名单</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/haoyou-list.css"/>
    <link rel="stylesheet" href="../css/style4.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
</head>
<body>
<div class="box">
    <!--头部开始-->
    <div class="zl-top">
        <div class="zlt-c">
            <div class="zltc-l">
                <a href="javascript:;">
                    <img src="../images/huisejiantou.png" alt=""/>
                </a>
            </div>
            <div class="zltc-c">
                <p>黑名单</p>
            </div>
            <div class="zltc-r">
                <a href="javascript:;">
                    <i>

                    </i>
                </a>
            </div>
        </div>
    </div>
    <!--头部结束-->


    <div class="tabbox-r">
        <!--名片开始-->
        <div class="mp-new">
            <div class="mp-new-c">
                <div class="mnc-l">
                    <a href="javascript:;">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <ul>
                            <li class="li-xm">陈娜 <span class="s-orange">批发商</span></li>
                            <li class="li-dh">郑州·切销工具制造</li>
                            <li class="li-cp">河南尼伯特数控工具有限公司</li>
                            <li class="li-zu">总经理</li>
                        </ul>
                    </a>
                </div>
                <div class="mnc-r">
                    <a href="javascript:;" class="blue-btn">
                        <p>
                            解除
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="mp-new">
            <div class="mp-new-c">
                <div class="mnc-l">
                    <a href="javascript:;">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <ul>
                            <li class="li-xm">陈娜 <span class="s-green">生产加工商</span></li>
                            <li class="li-dh">郑州·切销工具制造</li>
                            <li class="li-cp">河南尼伯特数控工具有限公司</li>
                            <li class="li-zu">总经理</li>
                        </ul>
                    </a>
                </div>
                <div class="mnc-r">
                    <a href="javascript:;" class="blue-btn">
                        解除
                    </a>
                </div>
            </div>
        </div>
        <div class="mp-new">
            <div class="mp-new-c">
                <div class="mnc-l">
                    <a href="javascript:;">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <ul>
                            <li class="li-xm">陈娜 <span class="s-red">原料供应商</span></li>
                            <li class="li-dh">郑州·切销工具制造</li>
                            <li class="li-cp">河南尼伯特数控工具有限公司</li>
                            <li class="li-zu">总经理</li>
                        </ul>
                    </a>
                </div>
                <div class="mnc-r">
                    <a href="javascript:;" class="blue-btn">
                        解除
                    </a>
                </div>
            </div>
        </div>
        <div class="mp-new">
            <div class="mp-new-c">
                <div class="mnc-l">
                    <a href="javascript:;">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <ul>
                            <li class="li-xm">陈娜 <span class="s-skyblue">外贸</span></li>
                            <li class="li-dh">郑州·切销工具制造</li>
                            <li class="li-cp">河南尼伯特数控工具有限公司</li>
                            <li class="li-zu">总经理</li>
                        </ul>
                    </a>
                </div>
                <div class="mnc-r">
                    <a href="javascript:;" class="blue-btn">
                        解除
                    </a>
                </div>
            </div>
        </div>
        <div class="mp-new">
            <div class="mp-new-c">
                <div class="mnc-l">
                    <a href="javascript:;">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <ul>
                            <li class="li-xm">陈娜 <span class="s-lingshou">零售</span></li>
                            <li class="li-dh">郑州·切销工具制造</li>
                            <li class="li-cp">河南尼伯特数控工具有限公司</li>
                            <li class="li-zu">总经理</li>
                        </ul>
                    </a>
                </div>
                <div class="mnc-r">
                    <a href="javascript:;" class="blue-btn">
                        解除
                    </a>
                </div>
            </div>
        </div>
        <div class="mp-new">
            <div class="mp-new-c">
                <div class="mnc-l">
                    <a href="javascript:;">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <ul>
                            <li class="li-xm">陈娜 <span class="s-shebei">代理渠道商</span></li>
                            <li class="li-dh">郑州·切销工具制造</li>
                            <li class="li-cp">河南尼伯特数控工具有限公司</li>
                            <li class="li-zu">总经理</li>
                        </ul>
                    </a>
                </div>
                <div class="mnc-r">
                    <a href="javascript:;" class="blue-btn">
                        解除
                    </a>
                </div>
            </div>
        </div>
        <div class="mp-new">
            <div class="mp-new-c">
                <div class="mnc-l">
                    <a href="javascript:;">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <ul>
                            <li class="li-xm">陈娜 <span class="s-fuwu">服务</span></li>
                            <li class="li-dh">郑州·切销工具制造</li>
                            <li class="li-cp">河南尼伯特数控工具有限公司</li>
                            <li class="li-zu">总经理</li>
                        </ul>
                    </a>
                </div>
                <div class="mnc-r">
                    <a href="javascript:;" class="blue-btn">
                        解除
                    </a>
                </div>
            </div>
        </div>
        <div class="mp-new">
            <div class="mp-new-c">
                <div class="mnc-l">
                    <a href="javascript:;">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <ul>
                            <li class="li-xm">陈娜 <span class="s-daili">代理渠道商</span></li>
                            <li class="li-dh">郑州·切销工具制造</li>
                            <li class="li-cp">河南尼伯特数控工具有限公司</li>
                            <li class="li-zu">总经理</li>
                        </ul>
                    </a>
                </div>
                <div class="mnc-r">
                    <a href="javascript:;" class="blue-btn">
                        解除
                    </a>
                </div>
            </div>
        </div>
        <div class="mp-new">
            <div class="mp-new-c">
                <div class="mnc-l">
                    <a href="javascript:;">
                        <i>
                            <!--<img src="../images/tx.png" alt=""/>-->
                            陈
                        </i>
                        <ul>
                            <li class="li-xm">陈娜 <span class="s-qita">其他</span></li>
                            <li class="li-dh">郑州·切销工具制造</li>
                            <li class="li-cp">河南尼伯特数控工具有限公司</li>
                            <li class="li-zu">总经理</li>
                        </ul>
                    </a>
                </div>
                <div class="mnc-r">
                    <a href="javascript:;" class="blue-btn">
                        解除
                    </a>
                </div>
            </div>
        </div>
        <div class="mp-new">
            <div class="mp-new-c">
                <div class="mnc-l">
                    <a href="javascript:;">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <ul>
                            <li class="li-xm">陈娜 <span class="s-pinpai">品牌商</span></li>
                            <li class="li-dh">郑州·切销工具制造</li>
                            <li class="li-cp">河南尼伯特数控工具有限公司</li>
                            <li class="li-zu">总经理</li>
                        </ul>
                    </a>
                </div>
                <div class="mnc-r">
                    <a href="javascript:;" class="blue-btn">
                        解除
                    </a>
                </div>
            </div>
        </div>
        <!--名片结束-->
    </div>
</div>




</div>
<script>
    $(document).ready(function () {

    })
</script>
</body>
</html>