<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的聊天</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/style4.css"/>
    <link rel="stylesheet" href="../css/liaotian.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        body{
            padding-bottom: 1.5rem;
        }
        .box {
            max-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="box">
    <!--头部开始-->
    <div class="zl-top">
        <div class="zlt-c">
            <div class="zltc-l">
                <a href="javascript:;">
                    <img src="../images/huisejiantou.png" alt="" onclick="javascript:history.back(-1);"/>
                </a>
            </div>
            <div class="zltc-c">
                <p>陈娜</p>
            </div>
            <div class="zltc-r">
                <a href="javascript:;">

                </a>
            </div>
        </div>
    </div>
    <!--头部结束-->

    <!--聊天界面-->
    <div class="w-message">
        <div class="w-time">
            <pre>2017-06-24 11:20:02</pre>
        </div>
        <!--我的消息-->
        <div class="mge">
            <div class="mge-per">
                <div class="mge-info">
                    <pre>你好呀你好呀你好呀你好呀你好呀你好呀你好呀你好呀你好好呀你好呀你好呀</pre>
                </div>
                <div class="mge-tx">
                    <a href="javascript:;">
                        <!--<img src="../images/tx.png" alt=""/>-->
                        陈
                    </a>
                </div>
            </div>
            <div class="mge-per">
                <div class="mge-info">
                    <pre>你好呀</pre>
                </div>
                <div class="mge-tx">
                    <a href="javascript:;">
                        <!--<img src="../images/tx.png" alt=""/>-->
                        陈
                    </a>
                </div>
            </div>
        </div>
        <!--我的消息-->
        <div class="w-time">
            <pre>2017-06-24 11:20:02</pre>
        </div>
        <!--对面消息-->
        <div class="mge1">
            <div class="mge-per1">
                <div class="mge-tx1">
                    <a href="javascript:;">
                        <img src="../images/tx.png" alt=""/>
                    </a>
                </div>
                <div class="mge-info1">
                    <pre>你好呀你好呀你好呀你好呀你好呀你好呀你好呀你好呀你好好呀你好呀你好呀</pre>
                </div>
            </div>
            <div class="mge-per1">
                <div class="mge-tx1">
                    <a href="javascript:;">
                        <img src="../images/tx.png" alt=""/>
                    </a>
                </div>
                <div class="mge-info1">
                    <pre>你好呀</pre>
                </div>
            </div>
        </div>
        <!--对面消息-->
        <!--我的消息-->
        <div class="mge">
            <div class="mge-per">
                <div class="mge-info">
                    <pre>你好呀你好呀你好呀你好呀你好呀你好呀你好呀你好呀你好好呀你好呀你好呀</pre>
                </div>
                <div class="mge-tx">
                    <a href="javascript:;">
                        <!--<img src="../images/tx.png" alt=""/>-->
                        陈
                    </a>
                </div>
            </div>
        </div>
        <!--我的消息-->
    </div>
    <!--聊天界面-->


    <!--输入框-->
    <div class="w-ipt">
        <div class="w-ipt-c">
            <input type="text" placeholder="输入一条消息"/>
            <button>发送</button>
        </div>
    </div>



    <!--输入框-->



</div>
</body>
</html>