<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>document</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/style4.css"/>
    <link rel="stylesheet" href="../css/jihe.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        .box {
            max-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="box">
    <!--头部开始-->
    <div class="zl-top">
        <div class="zlt-c">
            <div class="zltc-l">
                <a href="javascript:;">
                    <img src="../images/huisejiantou.png" alt=""/>
                </a>
            </div>
            <div class="zltc-c">
                <p>社区名人榜</p>
            </div>
            <div class="zltc-r">
                <a href="javasvript:;">

                </a>
            </div>
        </div>
    </div>
    <!--头部结束-->

    <!--排行榜开始-->
    <div class="phb-pp">
        <ul>
            <li>
                <a class="jxx-bm">
                    <div class="phb-l">
                        <!--<p>1</p>-->
                    </div>
                    <div class="phb-c">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <h6>
                            <p>刘超 <span>经理</span></p>
                            <em>河南尼伯特数控工具有限公司</em>
                        </h6>
                    </div>
                    <div class="phb-r">
                        <p>29.1</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="jxx-bm">
                    <div class="phb-l">
                        <p>1</p>
                    </div>
                    <div class="phb-c">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <h6>
                            <p>刘超 <span>经理</span></p>
                            <em>河南尼伯特数控工具有限公司</em>
                        </h6>
                    </div>
                    <div class="phb-r">
                        <p class="hhhhh">29.1</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="jxx-bm">
                    <div class="phb-l">
                        <p>2</p>
                    </div>
                    <div class="phb-c">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <h6>
                            <p>刘超 <span>经理</span></p>
                            <em>河南尼伯特数控工具有限公司</em>
                        </h6>
                    </div>
                    <div class="phb-r">
                        <p class="hhhhh">29.1</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="jxx-bm">
                    <div class="phb-l">
                        <p>3</p>
                    </div>
                    <div class="phb-c">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <h6>
                            <p>刘超 <span>经理</span></p>
                            <em>河南尼伯特数控工具有限公司</em>
                        </h6>
                    </div>
                    <div class="phb-r">
                        <p class="hhhhh">29.1</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="jxx-bm">
                    <div class="phb-l">
                        <p>4</p>
                    </div>
                    <div class="phb-c">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <h6>
                            <p>刘超 <span>经理</span></p>
                            <em>河南尼伯特数控工具有限公司</em>
                        </h6>
                    </div>
                    <div class="phb-r">
                        <p class="hhhhh">29.1</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="jxx-bm">
                    <div class="phb-l">
                        <p>5</p>
                    </div>
                    <div class="phb-c">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <h6>
                            <p>刘超 <span>经理</span></p>
                            <em>河南尼伯特数控工具有限公司</em>
                        </h6>
                    </div>
                    <div class="phb-r">
                        <p class="hhhhh">29.1</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="jxx-bm">
                    <div class="phb-l">
                        <p>6</p>
                    </div>
                    <div class="phb-c">
                        <i>
                            <!--<img src="../images/tx.png" alt=""/>-->
                            陈
                        </i>
                        <h6>
                            <p>刘超 <span>经理</span></p>
                            <em>河南尼伯特数控工具有限公司</em>
                        </h6>
                    </div>
                    <div class="phb-r">
                        <p class="hhhhh">29.1</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="jxx-bm">
                    <div class="phb-l">
                        <p>7</p>
                    </div>
                    <div class="phb-c">
                        <i>
                            <img src="../images/tx.png" alt=""/>
                        </i>
                        <h6>
                            <p>刘超 <span>经理</span></p>
                            <em>河南尼伯特数控工具有限公司</em>
                        </h6>
                    </div>
                    <div class="phb-r">
                        <p class="hhhhh">29.1</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>



    <!--排行榜结束-->

</div>
<script>
    $(document).ready(function () {

    })
</script>
</body>
</html>