<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>document</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/style4.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <style>
        body{
            padding-bottom: 2rem;
            position: relative;
        }
        .box {
            max-width: 7.5rem;
            background-color: #eee;
            margin: 0 auto;
        }
        .zltc-l a{
            display: block;
            width: .32rem!important;
            height: .32rem!important;
        }
        .zltc-l a img{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="box">
    <!--全屏模版-->
    <div class="xunwenbox">
        <div class="xwbox-foot">
            <a href="javascript:;">拉黑</a>
            <a href="javascript:;">举报</a>
            <a href="javascript:;" class="xuxiao">取消</a>
        </div>
    </div>
    <!--全屏模版-->
    <!--头部开始-->
    <div class="zl-top">
        <div class="zlt-c">
            <div class="zltc-l">
                <a href="javascript:;">
                    <img src="../images/seah.png" alt=""/>
                </a>
            </div>
            <div class="zltc-c">
                <div class="tctab">
                    <ul>
                        <li style="border-bottom-left-radius: .1rem;border-right: none;border-top-left-radius: .1rem;" class="secai122">行业动态</li>
                        <li style="border-left: none;border-bottom-right-radius: .1rem;
    border-top-right-radius: .1rem;">人脉库</li>
                    </ul>
                </div>
            </div>
            <div class="zltc-r">
                <a href="javascript:;">
                    发布
                </a>
            </div>
        </div>
    </div>
    <!--头部结束-->

    <!--tab分页内容开始-->
    <div class="tabbox">
        <div class="tabbox-l">

            <!--社区头部开始-->
            <div class="shequ-t">
                <div class="qiandaosucd" style="display: none">
                    <p>签到成功 <i>+5</i> <span>知名度</span></p>
                    <p>已签到4天</p>
                </div>
                <div class="sql-l">
                    <i>
                        <img src="../images/shqu-tx.png" alt=""/>
                    </i>
                </div>
                <div class="sql-r">
                    <ul>
                        <li>网博会官方社区</li>
                        <li>
                            <p>动态:3.69W</p>
                            <p>访问量:3.69W</p>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i>
                                    <img src="../images/qiandao.png" alt=""/>   
                                </i>
                                <p class="qiandao">签到</p>
                            </a>
                            <a href="javascript:;">
                                <i>
                                    <img src="../images/mingrenbang.png" alt=""/>
                                </i>
                                名人榜
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--社区头部结束-->


            <!--公用板块介绍-->
            <div class="ec-info">
                <div class="eci-c">
                    <span>热门话题</span>
                </div>
            </div>
            <!--公用板块介绍-->

            <!--板块-->
            <div class="mokuai">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="javascript:;">
                                <img src="../images/shequ-bg.png" alt=""/>
                                <p>
                                    #说一说工业4.0吧#
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:;">
                                <img src="../images/shequ-bg2.png" alt=""/>
                                <p>
                                    #智能工业的未来#
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:;">
                                <img src="../images/shequ-bg3.png" alt=""/>
                                <p>
                                    #说一说工业4.0吧#
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide ">
                            <a href="javascript:;">
                                <img src="../images/shequ-bg2.png" alt=""/>
                                <p>
                                    #说一说工业4.0吧#
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--板块-->

            <!--公用板块介绍-->
            <div class="ec-info" style="margin-top: .2rem">
                <div class="eci-c">
                    <span>
                        <a href="javascript:;">
                            金属工具
                        </a>
                        <a href="javascript:;">
                            行业动态
                        </a>
                    </span>
                    
                    <a href="{:url('company/tj')}" class="ecic-r">
                        切换
                        <i>
                            <img src="../images/baisejiantou.png" alt=""/>
                        </i>
                    </a>
                </div>
            </div>
            <!--公用板块介绍-->

            <!--个人发布信息-->
            <div class="per-info">
                <div class="per-info-c">
                    <div class="pic-t">
                        <div class="pic-t-l">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li>
                                    <span class="name">陈安</span>
                                    <span class="zhiwu">市场总监</span>
                                </li>
                                <li class="companyy">河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司</li>
                                <li class="fb-time">18分钟前</li>
                            </ul>
                        </div>
                        <div class="pic-t-r">
                            <i>
                                <img src="../images/xiajiantou.png" alt=""/>
                            </i>
                        </div>
                    </div>
                    <div class="pic-b">
                        <p>尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。</p>
                        <ul>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                        </ul>
                        <div class="liulandianan">
                            <div class="lldz-l">
                                浏览186次
                            </div>
                            <div class="lldz-r">
                                <a href="javascript:;">
                                    <img src="../images/dianzan.png" alt="" class="hdz"/>
                                </a>
                                <a href="javascript:;">
                                    <img src="../images/xiaoxi.png" alt=""/>
                                </a>
                                <a href="javascript:;">
                                    <img src="../images/zhuanfa.png" alt=""/>
                                </a>
                            </div>
                        </div>
                        <div class="dianzanrenshu">
                            <a href="javascript:;" class="dzs-a1">
                                <i>
                                    <img src="../images/shoudianzan.png" alt=""/>
                                </i>
                            </a>
                            <a href="javascript:;">
                                阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，
                            </a>
                        </div>
                        <div class="ltian-info">
                            <a href="javascript:;">
                                <span>宇通科技:</span>
                                <i>你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!</i>
                            </a>
                            <a href="javascript:;">
                                <span>宇通科技:</span>
                                <i>
                                    你好我是河南尼伯特数控工具有限公司的!
                                </i>
                            </a>
                            <a href="javascript:;" style="color: #122a8c;font-size: .24rem;">查看全部220条评论</a>
                        </div>
                        <div class="pl-input">
                            <input type="text" placeholder="&nbsp;&nbsp;评论"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="per-info">
                <div class="per-info-c">
                    <div class="pic-t">
                        <div class="pic-t-l">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li>
                                    <span class="name">陈安</span>
                                    <span class="zhiwu">市场总监</span>
                                </li>
                                <li class="companyy">河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司</li>
                                <li class="fb-time">18分钟前</li>
                            </ul>
                        </div>
                        <div class="pic-t-r">
                            <i>
                                <img src="../images/xiajiantou.png" alt=""/>
                            </i>
                        </div>
                    </div>
                    <div class="pic-b">
                        <p>尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。</p>
                        <ul>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                        </ul>
                        <div class="liulandianan">
                            <div class="lldz-l">
                                浏览186次
                            </div>
                            <div class="lldz-r">
                                <a href="javascript:;">
                                    <img src="../images/dianzan.png" alt="" class="hdz"/>
                                </a>
                                <a href="javascript:;">
                                    <img src="../images/xiaoxi.png" alt=""/>
                                </a>
                                <a href="javascript:;">
                                    <img src="../images/zhuanfa.png" alt=""/>
                                </a>
                            </div>
                        </div>
                        <div class="dianzanrenshu">
                            <a href="javascript:;" class="dzs-a1">
                                <i>
                                    <img src="../images/shoudianzan.png" alt=""/>
                                </i>
                            </a>
                            <a href="javascript:;">
                                阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，
                            </a>
                        </div>
                        <div class="ltian-info">
                            <a href="javascript:;">
                                <span>宇通科技:</span>
                                <i>你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!</i>
                            </a>
                            <a href="javascript:;">
                                <span>宇通科技:</span>
                                <i>
                                    你好我是河南尼伯特数控工具有限公司的!
                                </i>
                            </a>
                            <a href="javascript:;" style="color: #122a8c;font-size: .24rem;">查看全部220条评论</a>
                        </div>
                        <div class="pl-input">
                            <input type="text" placeholder="&nbsp;&nbsp;评论"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="per-info">
                <div class="per-info-c">
                    <div class="pic-t">
                        <div class="pic-t-l">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li>
                                    <span class="name">陈安</span>
                                    <span class="zhiwu">市场总监</span>
                                </li>
                                <li class="companyy">河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司</li>
                                <li class="fb-time">18分钟前</li>
                            </ul>
                        </div>
                        <div class="pic-t-r">
                            <i>
                                <img src="../images/xiajiantou.png" alt=""/>
                            </i>
                        </div>
                    </div>
                    <div class="pic-b">
                        <p>尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。</p>
                        <ul>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                            <li>
                                <img src="../images/dongtai-bg.png" alt=""/>
                            </li>
                        </ul>
                        <div class="liulandianan">
                            <div class="lldz-l">
                                浏览186次
                            </div>
                            <div class="lldz-r">
                                <a href="javascript:;">
                                    <img src="../images/dianzan.png" alt="" class="hdz"/>
                                </a>
                                <a href="javascript:;">
                                    <img src="../images/xiaoxi.png" alt=""/>
                                </a>
                                <a href="javascript:;">
                                    <img src="../images/zhuanfa.png" alt=""/>
                                </a>
                            </div>
                        </div>
                        <div class="dianzanrenshu">
                            <a href="javascript:;" class="dzs-a1">
                                <i>
                                    <img src="../images/shoudianzan.png" alt=""/>
                                </i>
                            </a>
                            <a href="javascript:;">
                                阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，
                            </a>
                        </div>
                        <div class="ltian-info">
                            <a href="javascript:;">
                                <span>宇通科技:</span>
                                <i>你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!</i>
                            </a>
                            <a href="javascript:;">
                                <span>宇通科技:</span>
                                <i>
                                    你好我是河南尼伯特数控工具有限公司的!
                                </i>
                            </a>
                            <a href="javascript:;" style="color: #122a8c;font-size: .24rem;">查看全部220条评论</a>
                        </div>
                        <div class="pl-input">
                            <input type="text" placeholder="&nbsp;&nbsp;评论"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--个人发布信息-->
            <!--动态圈-->
            <div class="circlejia">
                <a href="javascript:;">
                    <i>
                        <img src="../images/jiahaofa.png" alt=""/>
                    </i>
                    <p>发布动态</p>
                </a>
            </div>
        </div>
        <!--动态圈-->






        <!--人脉圈开始-->
        <div class="tabbox-r" style="display: none">
            <div class="trc">
                <div class="tabbox-r-c">
                    <div class="ren-top">
                        <a href="javascript:;">
                            <p>
                                <i>
                                    <img src="../images/tuiojian.png" alt=""/>
                                </i>
                            <span>
                                推荐人脉
                            </span>
                            </p>
                            <i>
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </a>
                        <a href="javascript:;" style="border-bottom: none">
                            <p>
                                <i>
                                    <img src="../images/new-p.png" alt=""/>
                                </i>
                            <span>
                                行业新人
                            </span>
                            </p>
                            <i>
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="rm-sx">
                <div class="sc-l">
                    <p>全部地区</p>
                    <span>
                        切换地区&nbsp;
                        <i>
                            <img src="../images/lv-xiajiantou.png" alt=""/>
                        </i>
                    </span>
                </div>
                <div class="sc-r">
                    <p>切削工具制造</p>
                    <span>
                        切换行业&nbsp;
                        <i>
                            <img src="../images/lv-xiajiantou.png" alt=""/>
                        </i>
                    </span>
                </div>
            </div>
            <!--名片开始-->
            <div class="mp-new">
                <div class="mp-new-c">
                    <div class="mnc-l">
                        <a href="javascript:;">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li class="li-xm">陈娜 <span class="s-orange">批发商</span></li>
                                <li class="li-dh">郑州·切销工具制造</li>
                                <li class="li-cp">河南尼伯特数控工具有限公司</li>
                                <li class="li-zu">总经理</li>
                            </ul>
                        </a>
                    </div>
                    <div class="mnc-r">
                        <a href="javascript:;" class="red-btn">
                            <i>
                                <img src="../images/b-circle.png" alt=""/>
                            </i>
                            <p>
                                &nbsp;消息
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mp-new">
                <div class="mp-new-c">
                    <div class="mnc-l">
                        <a href="javascript:;">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li class="li-xm">陈娜 <span class="s-green">生产加工商</span></li>
                                <li class="li-dh">郑州·切销工具制造</li>
                                <li class="li-cp">河南尼伯特数控工具有限公司</li>
                                <li class="li-zu">总经理</li>
                            </ul>
                        </a>
                    </div>
                    <div class="mnc-r">
                        <a href="javascript:;" class="blue-btn">
                        +好友
                        </a>
                    </div>
                </div>
            </div>
            <div class="mp-new">
                <div class="mp-new-c">
                    <div class="mnc-l">
                        <a href="javascript:;">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li class="li-xm">陈娜 <span class="s-red">原料供应商</span></li>
                                <li class="li-dh">郑州·切销工具制造</li>
                                <li class="li-cp">河南尼伯特数控工具有限公司</li>
                                <li class="li-zu">总经理</li>
                            </ul>
                        </a>
                    </div>
                    <div class="mnc-r">
                        <a href="javascript:;" class="blue-btn">
                            +好友
                        </a>
                    </div>
                </div>
            </div>
            <div class="mp-new">
                <div class="mp-new-c">
                    <div class="mnc-l">
                        <a href="javascript:;">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li class="li-xm">陈娜 <span class="s-skyblue">外贸</span></li>
                                <li class="li-dh">郑州·切销工具制造</li>
                                <li class="li-cp">河南尼伯特数控工具有限公司</li>
                                <li class="li-zu">总经理</li>
                            </ul>
                        </a>
                    </div>
                    <div class="mnc-r">
                        <a href="javascript:;" class="blue-btn">
                            +好友
                        </a>
                    </div>
                </div>
            </div>
            <div class="mp-new">
                <div class="mp-new-c">
                    <div class="mnc-l">
                        <a href="javascript:;">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li class="li-xm">陈娜 <span class="s-lingshou">零售</span></li>
                                <li class="li-dh">郑州·切销工具制造</li>
                                <li class="li-cp">河南尼伯特数控工具有限公司</li>
                                <li class="li-zu">总经理</li>
                            </ul>
                        </a>
                    </div>
                    <div class="mnc-r">
                        <a href="javascript:;" class="blue-btn">
                            +好友
                        </a>
                    </div>
                </div>
            </div>
            <div class="mp-new">
                <div class="mp-new-c">
                    <div class="mnc-l">
                        <a href="javascript:;">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li class="li-xm">陈娜 <span class="s-shebei">代理渠道商</span></li>
                                <li class="li-dh">郑州·切销工具制造</li>
                                <li class="li-cp">河南尼伯特数控工具有限公司</li>
                                <li class="li-zu">总经理</li>
                            </ul>
                        </a>
                    </div>
                    <div class="mnc-r">
                        <a href="javascript:;" class="blue-btn">
                            +好友
                        </a>
                    </div>
                </div>
            </div>
            <div class="mp-new">
                <div class="mp-new-c">
                    <div class="mnc-l">
                        <a href="javascript:;">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li class="li-xm">陈娜 <span class="s-fuwu">服务</span></li>
                                <li class="li-dh">郑州·切销工具制造</li>
                                <li class="li-cp">河南尼伯特数控工具有限公司</li>
                                <li class="li-zu">总经理</li>
                            </ul>
                        </a>
                    </div>
                    <div class="mnc-r">
                        <a href="javascript:;" class="blue-btn">
                            +好友
                        </a>
                    </div>
                </div>
            </div>
            <div class="mp-new">
                <div class="mp-new-c">
                    <div class="mnc-l">
                        <a href="javascript:;">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li class="li-xm">陈娜 <span class="s-daili">代理渠道商</span></li>
                                <li class="li-dh">郑州·切销工具制造</li>
                                <li class="li-cp">河南尼伯特数控工具有限公司</li>
                                <li class="li-zu">总经理</li>
                            </ul>
                        </a>
                    </div>
                    <div class="mnc-r">
                        <a href="javascript:;" class="blue-btn">
                            +好友
                        </a>
                    </div>
                </div>
            </div>
            <div class="mp-new">
                <div class="mp-new-c">
                    <div class="mnc-l">
                        <a href="javascript:;">
                            <i>
                                <!--<img src="../images/tx.png" alt=""/>-->
                                陈
                            </i>
                            <ul>
                                <li class="li-xm">陈娜 <span class="s-qita">其他</span></li>
                                <li class="li-dh">郑州·切销工具制造</li>
                                <li class="li-cp">河南尼伯特数控工具有限公司</li>
                                <li class="li-zu">总经理</li>
                            </ul>
                        </a>
                    </div>
                    <div class="mnc-r">
                        <a href="javascript:;" class="blue-btn">
                            +好友
                        </a>
                    </div>
                </div>
            </div>
            <div class="mp-new">
                <div class="mp-new-c">
                    <div class="mnc-l">
                        <a href="javascript:;">
                            <i>
                                <img src="../images/tx.png" alt=""/>
                            </i>
                            <ul>
                                <li class="li-xm">陈娜 <span class="s-pinpai">品牌商</span></li>
                                <li class="li-dh">郑州·切销工具制造</li>
                                <li class="li-cp">河南尼伯特数控工具有限公司</li>
                                <li class="li-zu">总经理</li>
                            </ul>
                        </a>
                    </div>
                    <div class="mnc-r">
                        <a href="javascript:;" class="blue-btn">
                            +好友
                        </a>
                    </div>
                </div>
            </div>
            <!--名片结束-->
        </div>
    </div>


    <!--tab分页内容结束-->


    <!--底部导航开始-->
    <div class="foot">
        <div class="foot-c">
            <a href="{:url('index/index')}">
                <i class="icon1"></i>
                <span>企业展厅</span>
            </a>
            <a href="{:url('product/index')}">
                <i class="icon2"></i>
                <span>产品展厅</span>
            </a>
            <a href="{:url('product/index')}">
                <i class="icon31"></i>
                <span class="green">行业圈</span>
            </a>
            <a href="{:url('news/index')}">
                <i class="icon4"></i>
                <span>新闻资讯</span>
            </a>
            <a href="{:url('index/baoming')}" class="hondq">
                <i class="icon5"></i>
                <span>个人中心</span>
                <time class="tt"></time>
            </a>
        </div>
    </div>
    <!--底部导航结束-->
</div>






<script>
    $(document).ready(function () {

//        tab切换
        $(".tctab>ul>li").on("click",function(){
            $(this).addClass("secai122").siblings().removeClass();
            $(".tabbox>div").hide().eq($(".tctab>ul>li").index(this)).show();
        })

//        签到点击和蒙版
        $(".qiandao").on("click",function(){
            $(".qiandao").html("已签到");
            $(".qiandaosucd").show();
            setInterval(function(){
                $(".qiandaosucd").hide();
            },1500)
        })

//        板块
        var mySwiper = new Swiper('.swiper-container',{
            loop : true,
            slidesPerView : 'auto',
            loopedSlides :4,
        })
//      点赞
        $(".hdz").on("click",function(){
            if($(this).attr("src")=="../images/dianzan.png"){
                $(this).attr("src","../images/hongsedianzan.png");
            }
            else{
                $(this).attr("src","../images/dianzan.png");
            }
        })

//        隐藏圆圈
        $(".circlejia").on("click",function(){
            $(".circlejia").css("left","0")
        })
        var f = setInterval(function(){
            $(".circlejia").css("left","-0.8rem")
        },3000)
//弹出层询问框
        $(".pic-t-r>i>img").on("click",function(){
            $(".xunwenbox").show();
        })
        $(".xuxiao").on("click",function(){
            $(".xunwenbox").hide();
        })

    })
</script>
</body>
</html>