<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>document</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/shequ.css"/>
    <link rel="stylesheet" href="../css/style4.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        .box {
            max-width: 7.5rem;
            background-color: #eee;
            margin: 0 auto;
        }

    </style>
</head>
<body>
<div class="box">
    <!--全屏模版-->
    <div class="xunwenbox">
        <div class="xwbox-center">
            <div class="xwc-t">
                <p>提示信息</p>
            </div>
            <p class="xwc-p">确定删除这条动态吗？</p>
            <button class="qubtn">确定</button>
            <button class="shanbtn">删除</button>
        </div>
    </div>
    <!--全屏模版-->
    <div class="zl-top">
        <div class="zlt-c">
            <div class="zltc-l">
                <a href="javascript:;">
                    <img src="../images/huisejiantou.png" alt=""/>
                </a>
            </div>
            <div class="zltc-c">
                我发布的
            </div>
            <div class="zltc-r">
                <a href="javascript:;">
                    发布
                </a>
            </div>
        </div>
    </div>
    <div class="per-info">
        <div class="per-info-c">
            <div class="pic-t">
                <div class="pic-t-l">
                    <i>
                        <img src="../images/tx.png" alt=""/>
                    </i>
                    <ul>
                        <li>
                            <span class="name">陈安</span>
                            <span class="zhiwu">市场总监</span>
                        </li>
                        <li class="companyy">河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司</li>
                        <li class="fb-time">18分钟前</li>
                    </ul>
                </div>
                <div class="pic-t-r">
                    <i>
                        <img src="../images/shanchu.png" alt=""/>
                    </i>
                </div>
            </div>
            <div class="pic-b">
                <p>尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。</p>
                <ul>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                </ul>
                <div class="liulandianan">
                    <div class="lldz-l">
                        浏览186次
                    </div>
                    <div class="lldz-r">
                        <a href="javascript:;">
                            <img src="../images/dianzan.png" alt="" class="hdz"/>
                        </a>
                        <a href="javascript:;">
                            <img src="../images/xiaoxi.png" alt=""/>
                        </a>
                        <a href="javascript:;">
                            <img src="../images/zhuanfa.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="dianzanrenshu">
                    <a href="javascript:;" class="dzs-a1">
                        <i>
                            <img src="../images/shoudianzan.png" alt=""/>
                        </i>
                    </a>
                    <a href="javascript:;">
                        阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，
                    </a>
                </div>
                <div class="ltian-info">
                    <a href="javascript:;">
                        <span>宇通科技:</span>
                        <i>你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!</i>
                    </a>
                    <a href="javascript:;">
                        <span>宇通科技:</span>
                        <i>
                            你好我是河南尼伯特数控工具有限公司的!
                        </i>
                    </a>
                    <a href="javascript:;" style="color: #122a8c;font-size: .24rem;">查看全部220条评论</a>
                </div>
                <div class="pl-input">
                    <input type="text" placeholder="&nbsp;&nbsp;评论"/>
                </div>
            </div>
        </div>
    </div>
    <div class="per-info">
        <div class="per-info-c">
            <div class="pic-t">
                <div class="pic-t-l">
                    <i>
                        <img src="../images/tx.png" alt=""/>
                    </i>
                    <ul>
                        <li>
                            <span class="name">陈安</span>
                            <span class="zhiwu">市场总监</span>
                        </li>
                        <li class="companyy">河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司河南尼伯特数控工具有限公司</li>
                        <li class="fb-time">18分钟前</li>
                    </ul>
                </div>
                <div class="pic-t-r">
                    <i>
                        <img src="../images/shanchu.png" alt=""/>
                    </i>
                </div>
            </div>
            <div class="pic-b">
                <p>尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。尼伯特数控诚招代理商!通过供应链+互联网精准配套企业工业链，降低企业成本，增强企业竞争力。</p>
                <ul>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                    <li>
                        <img src="../images/dongtai-bg.png" alt=""/>
                    </li>
                </ul>
                <div class="liulandianan">
                    <div class="lldz-l">
                        浏览186次
                    </div>
                    <div class="lldz-r">
                        <a href="javascript:;">
                            <img src="../images/dianzan.png" alt="" class="hdz"/>
                        </a>
                        <a href="javascript:;">
                            <img src="../images/xiaoxi.png" alt=""/>
                        </a>
                        <a href="javascript:;">
                            <img src="../images/zhuanfa.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="dianzanrenshu">
                    <a href="javascript:;" class="dzs-a1">
                        <i>
                            <img src="../images/shoudianzan.png" alt=""/>
                        </i>
                    </a>
                    <a href="javascript:;">
                        阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，阿拉斯加，
                    </a>
                </div>
                <div class="ltian-info">
                    <a href="javascript:;">
                        <span>宇通科技:</span>
                        <i>你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!你好我是河南尼伯特数控工具有限公司的!</i>
                    </a>
                    <a href="javascript:;">
                        <span>宇通科技:</span>
                        <i>
                            你好我是河南尼伯特数控工具有限公司的!
                        </i>
                    </a>
                    <a href="javascript:;" style="color: #122a8c;font-size: .24rem;">查看全部220条评论</a>
                </div>
                <div class="pl-input">
                    <input type="text" placeholder="&nbsp;&nbsp;评论"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //      点赞
        $(".hdz").on("click",function(){
            if($(this).attr("src")=="../images/dianzan.png"){
                $(this).attr("src","../images/hongsedianzan.png");
            }
            else{
                $(this).attr("src","../images/dianzan.png");
            }
        })
        $(".pic-t-r>i>img").on("click",function(){
            $(".xunwenbox").show();
        })
        $(".qubtn").on("click",function(){
            $(".xunwenbox").hide();
        })
        $(".shanbtn").on("click",function(){
            $(".xunwenbox").hide();
        })
    })
</script>
</body>
</html>