<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>违规内容</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/style4.css"/>
    <link rel="stylesheet" href="../css/zmd+4.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        body{
            padding-bottom: 1.5rem;
        }
        .box {
            max-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="box">
    <!--头部开始-->
    <div class="zl-top">
        <div class="zlt-c">
            <div class="zltc-l">
                <a href="javascript:;">
                    <img src="../images/huisejiantou.png" alt="" onclick="javascript:history.back(-1);"/>
                </a>
            </div>
            <div class="zltc-c">
                <p>哪些内容属于违规内容？</p>
            </div>
            <div class="zltc-r">
                <a href="javascript:;">

                </a>
            </div>
        </div>
    </div>
    <!--头部结束-->
    <div class="zmd">
        <div class="zmd-c">
            <p class="zmd-p1">哪些内容属于违规内容？</p>
            <ul>
                <li>
                    1、违反法律法规：发布违反法律法规，危害国家及社会安全的信息，主要表现为：
                </li>
                <li>
                    反对宪法所确定的基本原则
                </li>
                <li>
                    危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一
                </li>
                <li>
                    损害国家荣誉和利益
                </li>
                <li>
                    煽动民族仇恨、民族歧视，破坏民族团结
                </li>
                <li>
                    破坏国家宗教政策，宣扬邪教和封建迷信
                </li>
                <li>
                    散布谣言，扰乱社会秩序，破坏社会稳定
                </li>
                <li>
                    宣扬淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪
                </li>
                <li>
                    煽动非法集会、结社、游行、示威、聚众扰乱社会秩序
                </li>
                <li>
                    诽谤他人，泄露他人隐私，侵害他人合法权益
                </li>
                <li>
                    含有法律、行政法规禁止的其他内容的信息
                </li>
                <li>
                    2、不友善行为：不尊重脉脉用户及其所贡献内容的行为，在社区里用不文明的语言谩骂、侮辱、诽谤其他用户。
                </li>
                <li>
                    恶意举报：因为个人恩怨或者主观情绪举报他人
                </li>
                <li>
                    社会歧视：对他人的民族、种族、宗教、性取向、性别、年龄、地域、生理特征等身份或者内容进行攻击。
                </li>
                <li>
                    威胁：许诺以不良的后果来迫使他人服从自己的意志
                </li>
                <li>
                    3、发布垃圾内容：发布影响用户体验、与社区氛围不符的内容，主要表现为：
                </li>
                <li>
                    发布重复内容：包括同一内容实名,对他人反复发送色情、段子鸡汤、等内容

                </li>
                <li>
                    灌水：发布与社区无关的鸡汤、段子，一连串没意义的文字、符号、字母、表情等内容。
                </li>
                <li>
                    含有淫秽色情、暴力、血腥、仇恨的内容
                </li>
                <li>
                    发布含有钓鱼网站、木马、病毒网站链接及相关内容
                </li>
                <li>
                    发布含有潜在危险、窃取用户隐私的相关内容
                </li>
                <li>
                    机器抓取发送的无意义内容、重复内容；
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>