<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/qiyezhanting.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/style2.css"/>
    <link rel="stylesheet" href="../css/wz-bm.css"/>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <script src="../js/js.js"></script>
    <title>企业展厅</title>
</head>
<body>
    <div class="box">
        <!--头部开始-->
        <div class="topone">
            <div class="search">
                <div class="search-left">
                    <img src="../images/logo.png" alt=""/>
                </div>
                <div class="search-right">
                    <input type="text" placeholder="搜你想搜的" style=" text-align: center"/>
                    <div class="xiaoa">
                        <a href="javascript:;">
                            <img src="../images/fangdajing.png" alt="" id="fangdajing"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--头部结束-->

        <!--轮播开始-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../images/720.png" alt="" width="100%"/>
                </div>
                <div class="swiper-slide">
                    <img src="../images/720.png" alt="" width="100%"/>
                </div>
                <div class="swiper-slide">
                    <img src="../images/720.png" alt="" width="100%"/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!--轮播结束-->

        <!--参展流程开始-->
        <div class="fenlei">
            <span>参展流程</span>
        </div>
        <div class="bm-toM-item">
            <ul class="cz-liuChe">
                <li>
                    <a href="">
                        <div class="map fx-you">
                            <div class="map-m ico1"></div>
                            <div class="map-m2"></div>
                        </div>
                        <p>预约申请</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="map">
                            <div class="map-m2"></div>
                            <div class="map-m ico2"></div>
                            <div class="map-m2"></div>
                        </div>
                        <p>取景拍照</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="map">
                            <div class="map-m2"></div>
                            <div class="map-m ico3"></div>
                            <div class="map-m2"></div>
                        </div>
                        <p>加工制作</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="map">
                            <div class="map-m2"></div>
                            <div class="map-m ico4"></div>

                        </div>
                        <p>参展成功</p>
                    </a>
                </li>
            </ul>
        </div>
        <!--<span class="canzhanliuchengxian"></span>-->
        </div>
        <!--参展流程结束-->

        <!--展厅导航开始-->
        <div class="fenlei" style="margin-top: .2rem">
            <span>展厅导航</span>
            <div class="fenlei-right">
                <a href="javascript:;">
                    更多
                    <img src="../images/youjiantou.png" alt=""/>
                </a>
            </div>
        </div>
        <div class="fenlei-bottom">
            <div class="swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="page-first">
                            <ul>
                                <li>
                                    <a href="javascript:;" class="w1">
                                        <p class="duixiang1">IT数码</p>
                                        <p class="duixiang2">WOMEN'S</p>
                                    </a>
                                    <a href="javascript:;" class="w2">
                                        <p class="duixiang1">农林牧渔业</p>
                                        <p class="duixiang2">WOMEN'S</p>

                                    </a>
                                    <a href="javascript:;" class="w3">
                                        <p class="duixiang1">制造业</p>
                                        <p class="duixiang2">WOMEN'S</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="w4">
                                        <p class="duixiang1">化工业</p>
                                        <p class="duixiang2">WOMEN'S</p>

                                    </a>
                                    <a href="javascript:;" class="w5">
                                        <p class="duixiang1">医疗器械</p>
                                        <p class="duixiang2">WOMEN'S</p>

                                    </a>
                                    <a href="javascript:;" class="w6">
                                        <p class="duixiang1">食品饮食</p>
                                        <p class="duixiang2">WOMEN'S</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="page-first">
                            <ul>
                                <li>
                                    <a href="javascript:;" class="w1">
                                        <p class="duixiang1">IT数码</p>
                                        <p class="duixiang2">WOMEN'S</p>
                                    </a>
                                    <a href="javascript:;" class="w2">
                                        <p class="duixiang1">农林牧渔业</p>
                                        <p class="duixiang2">WOMEN'S</p>

                                    </a>
                                    <a href="javascript:;" class="w3">
                                        <p class="duixiang1">制造业</p>
                                        <p class="duixiang2">WOMEN'S</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="w4">
                                        <p class="duixiang1">化工业</p>
                                        <p class="duixiang2">WOMEN'S</p>

                                    </a>
                                    <a href="javascript:;" class="w5">
                                        <p class="duixiang1">医疗器械</p>
                                        <p class="duixiang2">WOMEN'S</p>

                                    </a>
                                    <a href="javascript:;" class="w6">
                                        <p class="duixiang1">食品饮食</p>
                                        <p class="duixiang2">WOMEN'S</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="page-first">
                            <ul>
                                <li>
                                    <a href="javascript:;" class="w1">
                                        <p class="duixiang1">IT数码</p>
                                        <p class="duixiang2">WOMEN'S</p>
                                    </a>
                                    <a href="javascript:;" class="w2">
                                        <p class="duixiang1">农林牧渔业</p>
                                        <p class="duixiang2">WOMEN'S</p>

                                    </a>
                                    <a href="javascript:;" class="w3">
                                        <p class="duixiang1">制造业</p>
                                        <p class="duixiang2">WOMEN'S</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="w4">
                                        <p class="duixiang1">化工业</p>
                                        <p class="duixiang2">WOMEN'S</p>

                                    </a>
                                    <a href="javascript:;" class="w5">
                                        <p class="duixiang1">医疗器械</p>
                                        <p class="duixiang2">WOMEN'S</p>

                                    </a>
                                    <a href="javascript:;" class="w6">
                                        <p class="duixiang1">食品饮食</p>
                                        <p class="duixiang2">WOMEN'S</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination1 oo"></div>
            </div>
        </div>
        <!--展厅导航结束-->

        <!--推荐展厅开始-->
        <div class="tuijianzhanting">
            <div class="fenlei" style="margin-top: .2rem">
                <span>推荐展厅</span>
                <div class="fenlei-right">
                    <a href="javascript:;">
                        更多
                        <img src="../images/youjiantou.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>
        <div class="tuijianzhanwei">
            <div class="list-one">
                <img src="../images/zhantingyifu.png" alt=""/>
                <div class="mengban">
                    <p class="pp1">河南互创信息技术有限公司</p>
                    <p class="pp2">休闲 购物 娱乐 潮流</p>
                </div>
                <div class="eyeye">
                    <img src="../images/eye.png" alt=""/>
                    <p>1000</p>
                </div>
                <div class="zhengzhou">
                    <p>郑州</p>
                </div>
            </div>
            <div class="list-two">
                <img src="../images/zhantingyifu.png" alt=""/>
                <div class="mengban">
                    <p class="pp1">河南互创信息技术有限公司</p>
                    <p class="pp2">休闲 购物 娱乐 潮流</p>
                </div>
                <div class="eyeye">
                    <img src="../images/eye.png" alt=""/>
                    <p>1000</p>
                </div>
                <div class="zhengzhou">
                    <p>郑州</p>
                </div>
            </div>
            <div class="list-three">
                <img src="../images/zhantingyifu.png" alt=""/>
                <div class="mengban">
                    <p class="pp1">河南互创信息技术有限公司</p>
                    <p class="pp2">休闲 购物 娱乐 潮流</p>
                </div>
                <div class="eyeye" style="margin-top: .2rem">
                    <img src="../images/eye.png" alt=""/>
                    <p>1000</p>
                </div>
                <div class="zhengzhou">
                    <p>郑州</p>
                </div>
            </div>
        </div>
        <!--推荐展厅结束-->

        <!--最新展位开始-->
        <div class="fenlei" style="margin-top: .2rem">
            <span>最新展位</span>
            <div class="fenlei-right">
                <a href="javascript:;">
                    更多
                    <img src="../images/youjiantou.png" alt=""/>
                </a>
            </div>
        </div>
        <div class="listall">
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/yi.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/er.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/san.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/si.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/wu.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/liu.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/qi.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/ba.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
        </div>
        <!--最新展位结束-->

        <!--滑动开始-->
        <div class="huadong">
            <a href="javascript:;">
                <img src="../images/shuangjiantou.png" alt=""/>
                &nbsp;&nbsp;&nbsp;向上滑动,查看更多
            </a>
        </div>
        <!--滑动结束-->

        <!--底部导航开始-->
        <div class="foot">
            <a href="javascript:;">
                <i class="icon1"></i>
                <span>企业展厅</span>
            </a>
            <a href="javascript:;">
                <i class="icon2"></i>
                <span>产品展厅</span>
            </a>
            <a href="javascript:;">
                <i class="icon3"></i>
                <span>新闻资讯</span>
            </a>
            <a href="javascript:;">
                <i class="icon4"></i>
                <span>我要参展</span>
            </a>
        </div>
        <!--底部导航结束-->


    </div>
</body>
</html>