<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/chanpinzhanting.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/wz-bm.css" />
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
 
    <title>我要参展</title>
    <style>
    	.swiper-containe{width: 100%;}
    	.swiper-wrapper{height: 100vh;}
    	.swiper-slide{height: 100vh !important;}
    </style>
</head>
<body class="clor3">
	<div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, -0px, 0px);">
            <div class="swiper-slide" style="">
            	<div class="swiper-slide" style="background-color: #fdebab;padding-bottom: .2rem;">
			        <div class="bm-hd">
			        	<div class="img"></div>
			        	<!--<img src="../images/wz-bmxxb.jpg" alt="" width="7.15rem" height="5.12rem"/>-->
			        	<p class="ft30 tc">已经报名人数：<span>8000</span>人</p>
			        </div>        
			        <div class="bm-m">
			        	<form action="">
			        		<input type="text" placeholder="请输入您的姓名"/>
			        		<input type="text" placeholder="请输入您的联系电话"/>
			        		<input type="text" placeholder="请输入您的联系地址"/>
			        	    <input type="submit" value="提交" class="btn-subm ft30"/>	
			        	</form>
			        	<p class="ft24 tc"><i></i>向上滑动，查看更多</p>
			        </div>
		        </div>
            </div>
            <div class="swiper-slide" style="overflow: auto;">
                <div class="bm-toM" style="position: relative;padding-bottom: .9rem;">
	        	<div class="bm-toM-hd"></div>
	        	<div class="bm-toM-item">
	        		<h2>关于微展网</h2>
	        		<p>微展网，走在时代的前沿，专业720，3D产品展示平台。以优质独特的线上展示方式，让您在同行业中脱颖而出，生意更上一层楼。在微展网除了可以享受到优惠的价格更可以享受到贴心的服务。</p>
	        	</div>
	        	<div class="bm-toM-item">
	        		<h2>720、3D产品的展示优势</h2>
	        		<p style="margin-top: 15px;">1.展示方式新颖，全新展示方式给人耳目一新。</p>
	        		<p>2.交互性更强，自动旋转、缩放、背景音乐、语音解说等，轻松一即可分享。的轻松可以观看场景和产品的各个方向和细节</p>
	        		<p>3.增强现实，虽然照片都是平面的，但是通过软件处理后，能给人立体三维的感觉，效果逼真，仿佛身临其境。</p>
	        		<p>4.覆盖范围广，未来发展的趋势，抓住机会就是捉住客源，别人都用上新型展示方式你再用的时候已经晚了。</p>
	        	</div>
	        	<div class="bm-toM-item">
	        		<h2>参展流程</h2>
	        		<ul class="cz-liuChe">
	        		    <li>
	        		    	<a href="">
	        		    		<div class="map fx-you">
	        		    			<div class="map-m ico1"></div>
	        		    			<div class="map-m2"></div>
	        		    		</div>
	        		    		<p>预约申请</p>
	        		    	</a>
	        		    </li>
	        		    <li>
	        		    	<a href="">
	        		    		<div class="map">
	        		    			<div class="map-m2"></div>
	        		    			<div class="map-m ico2"></div>
	        		    			<div class="map-m2"></div>
	        		    		</div>
	        		    		<p>取景拍照</p>
	        		    	</a>
	        		    </li>
	        		   <li>
	        		    	<a href="">
	        		    		<div class="map">
	        		    			<div class="map-m2"></div>
	        		    			<div class="map-m ico3"></div>
	        		    			<div class="map-m2"></div>
	        		    		</div>
	        		    		<p>加工制作</p>
	        		    	</a>
	        		    </li>
	        		    <li>
	        		    	<a href="">
	        		    		<div class="map">
	        		    			<div class="map-m2"></div>
	        		    			<div class="map-m ico4"></div>
	        		    			
	        		    		</div>
	        		    		<p>参展成功</p>
	        		    	</a>
	        		    </li>
	        		</ul>
	        	</div>
	        	<div class="bm-toM-item">
	        		<h2>720°VR全景服务报价表</h2>
	        		<div class="table ft26" style="margin-top: 15px;">
	        			<div class="table-m">
	        				<h4 class="tab-h4">服务报价</h4>
	        				<div>
	        					<ul class="flex top">
	        						<li class="tfl"><b>场景数量</b></li>
	        						<li class="tc">1-10个</li>
	        						<li class="tc">11-30个</li>
	        						<li class="tfr">31-51个</li>
	        					</ul>
	        					<ul class="flex top">
	        						<li class="tfl"><b>场景价格</b></li>
	        						<li class="tc">500元/个</li>
	        						<li class="tc">450元/个</li>
	        						<li class="tfr">400元/个</li>
	        					</ul>
	        				</div>
	        			</div>
	        			<div class="table-m to">
	        				<h4 class="tab-h4">附加功能报价</h4>
	        				<div>
	        					<ul class="ft24">
		        					<li >
		        						<ul class="flex ft26">
			        						<li class="tfl"><b>附加功能</b></li>
			        						<li class="tc"><b>赠送</b></li>
			        						<li class="tfr"><b>价格</b></li>
		        						</ul>
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">背景音乐</li>
			        						<li class="tc ft30">x</li>
			        						<li class="tfr"><span class="clorff00">30</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">网址链接</li>
			        						<li class="tc"><span class="clorff00">送</span></li>
			        						<li class="tfr"><span class="clorff00">10</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">联系电话</li>
			        						<li class="tc"><span class="clorff00">送</span></li>
			        						<li class="tfr"><span class="clorff00">10</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">地图导航</li>
			        						<li class="tc ft30">x</li>
			        						<li class="tfr"><span class="clorff00">30</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">显示LOGO</li>
			        						<li class="tc ft30">x</li>
			        						<li class="tfr"><span class="clorff00">30</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">自定义右键</li>
			        						<li class="tc ft30">x</li>
			        						<li class="tfr"><span class="clorff00">20</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">去底部版权</li>
			        						<li class="tc ft30">x</li>
			        						<li class="tfr"><span class="clorff00">20</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">视频播放</li>
			        						<li class="tc ft30">x</li>
			        						<li class="tfr"><span class="clorff00">80</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">沙盘显示</li>
			        						<li class="tc ft30">x</li>
			        						<li class="tfr"><span class="clorff00">50</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">天气特效</li>
			        						<li class="tc ft30">x</li>
			        						<li class="tfr"><span class="clorff00">20</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">留言评论</li>
			        						<li class="tc ft30">x</li>
			        						<li class="tfr"><span class="clorff00">50</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">网友点赞</li>
			        						<li class="tc"><span class="clorff00">送</span></li>
			        						<li class="tfr"><span class="clorff00">10</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">二维码分享</li>
			        						<li class="tc"><span class="clorff00">送</span></li>
			        						<li class="tfr"><span class="clorff00">10</span>元</li>
		        						</ul>	        						
		        					</li>
		        					<li	>
		        						<ul class="flex">
			        						<li class="tfl">密码访问</li>
			        						<li class="tc ft30">x</li>
			        						<li class="tfr"><span class="clorff00">10</span>元</li>
		        						</ul>	        						
		        					</li>
	        					</ul>
	        					<div class="tab-sub tc ft30">
	        						<i></i><span>13673636085</span>
	        					</div>	        					
	        				</div>	        				
	        			</div>
	        		</div>
	        		<p style="font-size: .22rem;margin: 10px 0;"><span class="clorff00">注：</span>"送"表示赠送的功能，x表示非赠送功能，需要时额外支付。</p>
	        	</div>
	        	<div class="bm-toM-item">
	        		<h2>3D产品展示报价表</h2>
	        		<div class="table" style="padding-top: 0;">
	        			<ul style="background-color: #f4f4f4;">
	        				<li class="flex tabm-li tabm-li-hd ft28" style="border: 0;width: 5.3rem;margin: auto;height: .7rem;line-height: .7rem;">
    							<div>拍摄产品类型</div>
    							<div>制作价格</div>
    						</li>
	        			</ul>
    					<ul class="cpBj ft24">  						
    						<li class="flex tabm-li">
    							<div>手表/珍珠首饰</div>
    							<div><span class="clorff00">100</span>元/件</div>
    						</li>
    						<li class="flex tabm-li">
    							<div>不锈钢/玻璃制品</div>
    							<div><span class="clorff00">100</span>元/件</div>
    						</li>
    						<li class="flex tabm-li">
    							<div>服装模特</div>
    							<div><span class="clorff00">120</span>元/件</div>
    						</li>
    						<li class="flex tabm-li">
    							<div>3C数码</div>
    							<div><span class="clorff00">80</span>元/件</div>
    						</li>
    						<li class="flex tabm-li">
    							<div>护肤彩妆</div>
    							<div><span class="clorff00">80</span>元/件</div>
    						</li>
    						<li class="flex tabm-li">
    							<div>食品保健</div>
    							<div><span class="clorff00">50</span>元/件</div>
    						</li>
    						<li class="flex tabm-li">
    							<div>日用品/母婴用品/玩具</div>
    							<div><span class="clorff00">50</span>元/件</div>
    						</li>
    						<li class="flex tabm-li">
    							<div>箱包/鞋子</div>
    							<div><span class="clorff00">50</span>元/件</div>
    						</li>
    						<li class="flex tabm-li">
    							<div>眼镜/钱包/腰带等小物件</div>
    							<div><span class="clorff00">50</span>元/件</div>
    						</li>
    					</ul>
    					<div class="tab-sub tc ft30">
    						<i></i><span>13673636085</span>
    					</div>	        					
    				</div>	        				
	        		<p style="font-size: .22rem;margin: 10px 0;justify-content:space-between"><span class="clorff00">注：</span><br />
	        		    <span>1.3D拍摄统一采用纯色背景在摄影棚拍摄。</span><br />
	        		    <span>2.服务价格主要针对的是重量≤100KG，体积大小在60*60*100cm范围内的产品，纯白，高反光，溶液等超出我们规定的重量和体积的产品，请先与我们沟通具体价格后订购，不同产品价格不同。</span>
	        		</p>	
	        	</div>
	        	   
	        </div>
            </div>
           
        </div>
        <!-- Add Pagination -->
       
  </div>
  <!-- 底部部分开始-->
			        <div class="foot" id="foot" style="display: none;">
		                <a href="javascript:;">
		                    <i class="icon1"></i>
		                    <span>企业展厅</span>
		                </a>
		                <a href="javascript:;">
		                    <i class="icon2"></i>
		                    <span>产品展厅</span>
		                </a>
		                <a href="javascript:;">
		                    <i class="icon3"></i>
		                    <span>新闻资讯</span>
		                </a>
		                <a href="javascript:;">
		                    <i class="icon4"></i>
		                    <span>我要参展</span>
		                </a>
			        </div>
		            <!--底部部分结束--> 
   <script>
    	 var swiper = new Swiper('.swiper-container',{
                    direction : 'vertical',
                    noSwipingClass : 'bm-toM-item', 
                    noSwipingClass : 'foot',
                    onSlideChangeStart: function(swiper,even){
                     var foot = document.getElementById('foot');
                     if(swiper.activeIndex==1){
                     	foot.style.display = 'flex';
                     }else{
                     	foot.style.display = 'none';
                     }
                    }
                });
    </script>
    </script>
</body>
</html>