<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/zixunxiangqing.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/chanpinliebiao.css"/>
    <script src="../js/base.js"></script>
    <title>咨询详情</title>
</head>
<body>
    <div class="box">
        <!--头部开始-->
        <div class="top123">
            <div class="top123-center">
                <img src="../images/jiantouhui.png" alt=""/>
                <p>新闻资讯</p>
            </div>
        </div>
        <!--头部结束-->



        <!--列表顶部开始-->
        <div class="list-top123">
            <p>哪些科技会改变我们2017年的生活</p>
        </div>
        <div class="list-bottom">
            <p class="zhong">
                <img src="../images/zhongbiao.png" alt=""/>
                2017-03-08
            </p>
            <p class="eyelala">
                <img src="../images/eye.png" alt=""/>
                269
            </p>
            <p>
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI4MzY4MTc1Ng==&scene=110#wechat_redirect ">
                    点击关注微展网公众号
                </a>
            </p>
        </div>
        <!--列表顶部结束-->



        <!--详情部分开始-->
        <div class="xingqing">
            <div class="good">
                <img src="../images/yanjing.png" alt=""/>
            </div>
        </div>
        <!--详情部分结束-->

        <!--字体开始-->
        <div class="fontlalala">
            <p>在谷歌眼镜失败四年后，在脸上佩戴一台电脑已经不像以前那么怪异。今年秋天，很多人为了购买一副内置摄像头的Snap Spectacles不惜排队好几个小时。而《口袋妖怪Go》也让数以百万的人见识了增强现实技术的潜力——这项技术可以在现实世界上叠加虚拟信息。与虚拟现实相比，增强现实的一大优势在于隔离性大大降低。
            </p>
        </div>

        <!-- 字体结束-->



        <!--二维码开始-->
        <div class="erweima">
            <div class="ewm-center">
                <div class="ewmc-t">
                    <p>微展——是利用虚拟现实VR全景技术把线下企业搬到互联
                        网上进行全方位展示的平台。
                    </p>
                </div>
                <div class="ewmc-b">
                    <p class="dandup">更多精彩资讯</p>
                    <p class="budandup">微信号：expov-cn</p>
                    <img src="../images/erweima.png" alt=""/>
                </div>
                <p class="djgz">点击可关注微展网</p>
            </div>
        </div>
        <!--二维码结束-->

        <!-- 底部开始-->
        <div class="foot">
            <a href="javascript:;">
                <i class="icon1"></i>
                <span>企业展厅</span>
            </a>
            <a href="javascript:;">
                <i class="icon2"></i>
                <span>产品展厅</span>
            </a>
            <a href="javascript:;">
                <i class="icon3"></i>
                <span>新闻资讯</span>
            </a>
            <a href="javascript:;">
                <i class="icon4"></i>
                <span>我要参展</span>
            </a>
        </div>
        <!-- 底部结束-->
    </div>
</body>
</html>