<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/zixun.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <script src="../js/js.js"></script>
    <title>资讯</title>
</head>
<body>
    <div class="box">
        <!--轮播开始-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../images/720.png" alt="" width="100%"/>
                </div>
                <div class="swiper-slide">
                    <img src="../images/720.png" alt="" width="100%"/>
                </div>
                <div class="swiper-slide">
                    <img src="../images/720.png" alt="" width="100%"/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!--轮播结束-->

        <!--资讯导航开始-->
        <div class="nav">
            <div class="topnav">
                <a href="javascript:;" class="greenfont">
                    <p>全部资讯</p>
                </a>
                <span>&nbsp;</span>
                <a href="javascript:;">
                    行业资讯
                </a>
                <span>&nbsp;</span>
                <a href="javascript:;">
                    产品资讯
                </a>
                <span>&nbsp;</span>
                <a href="javascript:;">
                    展会资讯
                </a>
            </div>
        </div>
        <!--资讯导航结束-->

        <!--资讯列表开始-->
        <div class="infolist">
            <div class="listone">
                <div class="auto-square">
                    <div class="list-left">
                        <img src="../images/yanjing.png" alt=""/>
                    </div>
                    <div class="list-right">
                        <div class="list-right-top">
                            <p class="list-right-top-p1">哪些科技会改变我们2017年的生...</p>
                            <p class="list-right-top-p2">瞬间移动仍然无法实现，但我们仍对未来科
                                步怀有期待...</p>
                        </div>
                        <div class="list-right-bottom">
                            <p class="p-img">
                                <img src="../images/zhongbiao.png" alt=""/>
                                2017-03-08
                            </p>
                            <p class="p-img2">
                                <img src="../images/eye.png" alt=""/>
                                269
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listone">
                <div class="auto-square">
                    <div class="list-left">
                        <img src="../images/airport.png" alt=""/>
                    </div>
                    <div class="list-right">
                        <div class="list-right-top">
                            <p class="list-right-top-p1">哪些科技会改变我们2017年的生...</p>
                            <p class="list-right-top-p2">瞬间移动仍然无法实现，但我们仍对未来科
                                步怀有期待...</p>
                        </div>
                        <div class="list-right-bottom">
                            <p class="p-img">
                                <img src="../images/zhongbiao.png" alt=""/>
                                2017-03-08
                            </p>
                            <p class="p-img2">
                                <img src="../images/eye.png" alt=""/>
                                269
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listone">
                <div class="auto-square">
                    <div class="list-left">
                        <img src="../images/benchi.png" alt=""/>
                    </div>
                    <div class="list-right">
                        <div class="list-right-top">
                            <p class="list-right-top-p1">哪些科技会改变我们2017年的生...</p>
                            <p class="list-right-top-p2">瞬间移动仍然无法实现，但我们仍对未来科
                                步怀有期待...</p>
                        </div>
                        <div class="list-right-bottom">
                            <p class="p-img">
                                <img src="../images/zhongbiao.png" alt=""/>
                                2017-03-08
                            </p>
                            <p class="p-img2">
                                <img src="../images/eye.png" alt=""/>
                                269
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listone">
                <div class="auto-square">
                    <div class="list-left">
                        <img src="../images/manman.png" alt=""/>
                    </div>
                    <div class="list-right">
                        <div class="list-right-top">
                            <p class="list-right-top-p1">哪些科技会改变我们2017年的生...</p>
                            <p class="list-right-top-p2">瞬间移动仍然无法实现，但我们仍对未来科
                                步怀有期待...</p>
                        </div>
                        <div class="list-right-bottom">
                            <p class="p-img">
                                <img src="../images/zhongbiao.png" alt=""/>
                                2017-03-08
                            </p>
                            <p class="p-img2">
                                <img src="../images/eye.png" alt=""/>
                                269
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listone">
                <div class="auto-square">
                    <div class="list-left">
                        <img src="../images/gangtie.png" alt=""/>
                    </div>
                    <div class="list-right">
                        <div class="list-right-top">
                            <p class="list-right-top-p1">哪些科技会改变我们2017年的生...</p>
                            <p class="list-right-top-p2">瞬间移动仍然无法实现，但我们仍对未来科
                                步怀有期待...</p>
                        </div>
                        <div class="list-right-bottom">
                            <p class="p-img">
                                <img src="../images/zhongbiao.png" alt=""/>
                                2017-03-08
                            </p>
                            <p class="p-img2">
                                <img src="../images/eye.png" alt=""/>
                                269
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--资讯列表结束-->

        <!--滑动展示区开始-->
        <div class="huadong">
            <a href="javascript:;">
                <img src="../images/shuangjiantou.png" alt=""/>
                &nbsp;&nbsp;&nbsp;向上滑动,查看更多
            </a>
        </div>
        <!--滑动展示区结束-->

        <!-- 底部部分开始-->
        <div class="foot">
            <a href="javascript:;">
                <i class="icon1"></i>
                <span>企业展厅</span>
            </a>
            <a href="javascript:;">
                <i class="icon2"></i>
                <span>产品展厅</span>
            </a>
            <a href="javascript:;">
                <i class="icon3"></i>
                <span>新闻资讯</span>
            </a>
            <a href="javascript:;">
                <i class="icon4"></i>
                <span>我要参展</span>
            </a>
        </div>
        <!--底部部分结束-->
    </div>
</body>
</html>