<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/zuixinzhanwei.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/style2.css"/>
    <script src="../js/base.js"></script>
    <title>最新展位</title>
</head>
<body>
    <div class="box">
        <!--头部开始-->
        <div class="topone">
            <div class="search">
                <div class="search-left">
                    <img src="../images/logo.png" alt=""/>
                </div>
                <div class="search-right">
                    <input type="text" placeholder="搜你想搜的" style=" text-align: center"/>
                    <div class="xiaoa">
                        <a href="javascript:;">
                            <img src="../images/fangdajing.png" alt="" id="fangdajing"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--头部结束-->

        <!--列表选项开始-->
        <div class="listchoice">
            <div class="listchoice-left">
                <a href="javascript:;">
                    综合排序
                </a>
                <a href="javascript:;">
                    热度
                </a>
                <a href="javascript:;">
                    最新
                </a>
            </div>
            <div class="listchoice-right">
                <a href="javascript:;">
                    分类
                    <img src="../images/loudou.png" alt=""/>
                </a>
            </div>
        </div>
        <!--列表选项结束-->

        <!--最新占展位结束-->
        <div class="listall">
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/yi.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/er.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/san.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/si.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/wu.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/liu.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/qi.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
            <a href="javascript:;">
                <div class="applist">
                    <img src="../images/ba.png" alt=""/>
                    <p class="zz">郑州</p>
                </div>
                <div class="backblack">
                    <p>&nbsp;&nbsp;休闲&nbsp;&nbsp;娱乐&nbsp;&nbsp;购物</p>
                    <p>
                        <img src="../images/eye.png" alt=""/>
                        180&nbsp;&nbsp;
                    </p>
                </div>
                <div class="huchaung">
                    河南互创信息技术有限公司...
                </div>
            </a>
        </div>
        <!--最新展位结束-->
        <!--滑动开始-->
        <div class="huadong">
            <a href="javascript:;">
                <img src="../images/shuangjiantou.png" alt=""/>
                &nbsp;&nbsp;&nbsp;向上滑动,查看更多
            </a>
        </div>
        <!--滑动结束-->

        <!--底部导航开始-->
        <div class="foot">
            <a href="javascript:;">
                <i class="icon1"></i>
                <span>企业展厅</span>
            </a>
            <a href="javascript:;">
                <i class="icon2"></i>
                <span>产品展厅</span>
            </a>
            <a href="javascript:;">
                <i class="icon3"></i>
                <span>新闻资讯</span>
            </a>
            <a href="javascript:;">
                <i class="icon4"></i>
                <span>我要参展</span>
            </a>
        </div>
        <!--底部导航结束-->
    </div>
</body>
</html>