<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>document</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/H5.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <script src="../js/swiper.animate1.0.2.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        html,body{
            height:100%;
        }
        .swiper-container {
            width: 100%;
            height: 100%;
            background:#fff;
        }
        .swiper-slide{
            display: flex;
            align-items: center;
            flex-direction: column;
            width:100%;
            height:100%;
            background-color: #d4d1fb;
            background-size:100% 100%;
        }
    </style>
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <p class="p1">企业需求</p>
                <p class="p2">(请准确填写，秘书处专人对接)</p>
                <div class="qy1">
                    <div class="qy1-t">企业需求(可多选)</div>
                    <div class="qy1-b">
                        <div class="option">
                            <input type="checkbox"/>
                            <span>融资</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>挂牌上市</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>定增、减持</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>并购重组</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>资产管理</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>商业保理</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>商业租赁</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>跨国业务</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="qy1" style="margin-top: 2.3rem">
                    <div class="qy1-t">企业需求(可多选)</div>
                    <div class="qy1-b">
                        <div class="option">
                            <input type="checkbox"/>
                            <span>策划营销</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>公关传播</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>数字化办公</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>大数据</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>技术交流合作</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>智能制造</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>企业电商</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>私董会</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="qy1" style="margin-top: 2.3rem">
                    <div class="qy1-t">企业需求(可多选)</div>
                    <div class="qy1-b">
                        <div class="option">
                            <input type="checkbox"/>
                            <span>仲裁诉讼</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>法律顾问</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>税收筹划</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>财务审计</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>财务顾问</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>机械设计</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>工程设计</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>知识产权</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="qy1" style="margin-top: 2.3rem">
                    <div class="qy1-t">企业需求(可多选)</div>
                    <div class="qy1-b">
                        <div class="option">
                            <input type="checkbox"/>
                            <span>工程施工、监理</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>环保评测</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>政府支持</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>土地、房产顾问</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>业务培训</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>车险寿险财险</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>人才引进</span>
                        </div>
                        <div class="option">
                            <input type="checkbox"/>
                            <span>活动策划</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <p class="p1">企业主营业务、可提供服务</p>
                <textarea name="" id="textarea" placeholder="企业主营业务、可提供服务"></textarea>
            </div>
            <div class="swiper-slide">
                <p class="p1">其他需求</p>
                <textarea name="" id="textarea" placeholder="其他需求"></textarea>
            </div>
            <div class="swiper-slide">
                <p class="p1">企业基本情况</p>
                <input type="text" placeholder="企业名称" class="input"/>
                <input type="text" placeholder="法人代表" class="input"/>
                <input type="text" placeholder="职务" class="input"/>
                <input type="text" placeholder="邮箱" class="input"/>
                <input type="text" placeholder="企业联系人" class="input"/>
                <input type="text" placeholder="企业名称" class="input"/>
                <input type="text" placeholder="职务" class="input"/>
                <input type="text" placeholder="手机" class="input"/>
                <input type="text" placeholder="邮箱" class="input"/>
                <input type="text" placeholder="QQ" class="input"/>
                <input type="text" placeholder="微信" class="input"/>
            </div>
            <div class="swiper-slide">
                <p class="p1">对联盟工作建议</p>
                <textarea name="" class="textarea1" placeholder="对联盟工作建议"></textarea>
                <a href="javascript:;" class="tj">提交</a>
                <p class="p3">
                    地址:河南省郑州市经三路东风路金成国际广场6号楼东2403号
                </p>
                <p class="p4">
                    电话:0371-60313361 0371-60313360
                </p>
                <p class="p3">
                    EMAIL:hn_ema@163.com
                </p>
                <div class="icon">
                    <div class="icon-l">
                        <i>
                            <img src="../images/er.png" alt=""/>
                        </i>
                        <span>网博会</span>
                    </div>
                    <div class="icon-l">
                        <i>
                            <img src="../images/er.png" alt=""/>
                        </i>
                        <span>网博会</span>
                    </div>
                    <div class="icon-l">
                        <i>
                            <img src="../images/er.png" alt=""/>
                        </i>
                        <span>网博会</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <p class="p1" style="margin-bottom: 1rem">需求对接</p>
                <span style="width: 6.5rem;border-bottom: .01rem solid gray"></span>
                <a href="javascript:;" class="xiehui">
                    <img src="../images/xiehui.png" alt=""/>
                </a>
            </div>
        </div>
        <img src="../images/jiantou.png" alt="" class="skake"/>
        <div class="swiper-pagination"></div>
    </div>
<script>
    $(document).ready(function () {
        var mySwiper = new Swiper('.swiper-container', {
            direction : 'vertical',
            pagination : '.swiper-pagination',
            paginationType : 'progress',
            effect : 'coverflow',
            coverflow: {
                rotate: 30,
                stretch: 10,
                depth: 60,
                modifier: 2,
                slideShadows : true
            }
        })
    })
</script>
</body>
</html>