<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/lingjiangsousuo.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/js2.js"></script>
    <script src="../js/base.js"></script>
    <title>领奖搜索页面</title>
</head>
<body>
    <div class="box">
        <!--顶部页面开始-->
        <div class="top" id="toptop">
            <div class="date">
                奖品领取确认时间:-2017-04-01~2017-04-08
            </div>
            <div class="search">
                <input type="text" placeholder="输入姓名或编号确认领奖"/>
                <a href="javascript:;">
                    <p>搜索</p>
                </a>
            </div>
        </div>
        <!--顶部页面结束-->

        <!-- 领奖人信息开始-->
        <div class="win-info">
            <div class="info-box">
                <ul class="list-one onm">
                    <li>编号:</li>
                    <li>126号</li>
                </ul>
                <ul class="list-one">
                    <li>姓名:</li>
                    <li>高明宇</li>
                </ul>
                <ul class="list-one">
                    <li>排名号:</li>
                    <li>1</li>
                </ul>
                <ul class="list-one">
                    <li>票数:</li>
                    <li>23062</li>
                </ul>
                <button class="btn">已确认</button>
            </div>
        </div>


        <!-- 领奖人信息结束-->

        <!--领取方式部分开始-->
        <div class="zhongjiangmingdan">
            <img src="../images/qianbao.png" alt=""/>
            <p>奖品领取方式</p>
        </div>
        <div  class="lingqu">
            <div class="lingqu-one">
                <p class="fangshiyi">
                    <img src="../images/oneone.png" alt=""/>
                    方式一:现场领取
                </p>
                <p>
                    2017年4月9日在河南工程学院南苑餐厅门口
                </p>
            </div>
            <div class="lingqu-two">
                <p class="fangshier">
                    <img src="../images/twotwo.png" alt=""/>
                    方式二：奖品邮寄
                </p>
                <p>
                    拨打八角商城客服电话400-6833-551或者通过添加微信号15515952561
                    告知我们您的邮寄地址。
                </p>
            </div>
        </div>
        <!--领取方式部分结束-->
        <a href="#toptop" id="dingwei">
            <img src="../images/topup.png" alt=""/>
        </a>

        <!--新活动开始-->
        <div class="zhongjiangmingdan">
            <img src="../images/qianbao.png" alt=""/>
            <p>新活动已发布，快来参与吧~</p>
        </div>
        <div class="xinhuodong">
            <div class="xinhuodong-top">
                <div class="lingqu-one">
                    <p class="fangshiyi">
                        <img src="../images/oneone.png" alt=""/>
                        火拼
                    </p>
                    <p>
                        火拼是一个体现分享、互利互惠的趣味性的玩法。玩法很简单，只要到八角商城，进入【火拼】栏目，选择感兴趣的商品，点击一键火拼，支付火拼价后，邀请朋友共同参与，人满成团后即火拼成功。我们将分别给拼友们发货。
                    </p>
                </div>
                <div class="xinhuodong-bottom">
                    <div class="bajiao-top">
                        <a href="javascript:;">
                            <i class="icon1"></i>
                            <span>点击火拼栏目</span>
                        </a>
                        <a href="javascript:;">
                            <i class="icon2"></i>
                            <span>选择感兴趣的商品</span>
                        </a>
                        <a href="javascript:;">
                            <i class="icon3"></i>
                            <span>开启一键火拼</span>
                        </a>
                    </div>
                    <div class="bajiao-bottom">
                        <div class="bajiao-top">
                            <a href="javascript:;">
                                <i class="icon4"></i>
                                <span>邀请好友完成火拼</span>
                            </a>
                            <a href="javascript:;">
                                <i class="icon5"></i>
                                <span></span>
                            </a>
                            <a href="javascript:;">
                                <i class="icon6"></i>
                                <span>人满后将分别发货</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            </div>
            <div class="xinhuodong2">
                <div class="xinhuodong xinhuodongla">
                    <div class="xinhuodong-top">
                        <div class="lingqu-one">
                            <p class="fangshiyi">
                                <img src="../images/oneone.png" alt=""/>
                                八角英雄
                            </p>
                            <p>
                                本活动三天举办一期，每期将产生一位八角英雄，并免费获得当期奖品。只要点击我要称霸获取到参赛资格，在最短的时间内把血槽加满即可成为本期英雄。
                            </p>
                        </div>
                        <div class="xinhuodong-bottom xinhuodong2-bottom">
                            <div class="bajiao-top yiongxiong-top">
                                <a href="javascript:;">
                                    <i class="icon7"></i>
                                    <span>点击我要称霸按钮</span>
                                </a>
                                <a href="javascript:;">
                                    <i class="icon8"></i>
                                    <span>获取参赛资格</span>
                                </a>
                                <a href="javascript:;">
                                    <i class="icon9"></i>
                                    <span>需支付0.8元参赛，
后期未中奖者，我们将退回</span>
                                </a>
                            </div>
                            <div class="bajiao-bottom yiongxiong-bottom">
                                <div class="bajiao-top">
                                    <a href="javascript:;">
                                        <i class="icon10"></i>
                                        <span>分享给好友为自己加血</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="icon11"></i>
                                        <span>&nbsp;</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="icon12"></i>
                                        <span>先将血槽加满者即
成为本期英雄</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--新活动部分结束-->

                <!--底部开始-->
                <div class="bottom-img">
                    <a href="#toptop">
                        <p><img src="../images/baiyun.png" alt=""/></p>
                        <p><img src="../images/baiyunhei.png" alt=""/></p>
                    </a>
                </div>
                <!--底部结束-->
            </div>
    </div>
</body>
</html>