<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>企业展厅</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/e-common.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <script src="../js/jquery.dotdotdot.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        .box {
            max-width: 7.5rem;
            padding-bottom: 2rem;
            height: auto;
            margin: 0 auto;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <div class="box">
        <!--头部开始-->
        <div class="gb-top">
            <div class="gb-top-center">
                <div class="tc-l">
                    <a href="{:url('index/index')}">
                        <img src="../images/wangbohui.png" alt=""/>
                    </a>
                </div>
                <form id="search_form" action="{:url('company/index')}" method="get">
                    <div class="tc-r">
                        <input type="text" placeholder="Search" name="keyword" id="keyword"/>
                        <a href="javascript:;" id="fangdajings">
                            <img src="../images/search.png" alt=""/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <!--头部结束-->


        <!--轮播开始-->
            <div class="swiper-container liop">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../images/banner.png" alt="" width="100%"/>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../images/banner1.png" alt="" width="100%"/>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../images/banner.png" alt="" width="100%"/>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        <!--轮播结束-->

        <!--公用板块介绍-->
        <div class="ec-info">
            <div class="eci-c">
                <span>Recommended exhibitors</span>
                <a href="{:url('company/tj')}" class="ecic-r">
                    more
                </a>
            </div>
        </div>
        <!--公用板块介绍-->


        <!--公司开始-->
        <div class="e-gongsi">
            <div class="e-gongsi-c">
                <div class="e-company">
                    <a href="javascript:;">
                        <div class="ec-t">
                            <div class="ect-tl">
                                <i>
                                    <img src="../images/e-dizhi.png" alt=""/>
                                </i>
                                <p>&nbsp;Zhengzhou</p>
                            </div>
                            <div class="e-hmb">
                                <div class="e-hmb-c">
                                    <div class="ehmbc-l">
                                        <i>
                                            <img src="../images/e-time.png" alt=""/>
                                        </i>
                                        <p>&nbsp;September 28th,2016</p>
                                    </div>
                                    <div class="ehmbc-r">
                                        <i>
                                            <img src="../images/e-eye.png" alt=""/>
                                        </i>
                                        <p>&nbsp;3180</p>
                                    </div>
                                </div>
                            </div>
                            <img src="../images/zbh.png" alt=""/>
                        </div>
                        <div class="ec-f">
                            <p class="e-p-1">
                                Zhengzhou Wisdom Polytron Tecolytron Tecolytron Technologies Inc
                            </p>
                            <p class="e-p-2">
                                Robot·Automatic welding·Robot
                            </p>
                        </div>
                    </a>
                </div>
                <div class="e-company">
                    <a href="javascript:;">
                        <div class="ec-t">
                            <div class="ect-tl">
                                <i>
                                    <img src="../images/e-dizhi.png" alt=""/>
                                </i>
                                <p>&nbsp;Zhengzhou</p>
                            </div>
                            <div class="e-hmb">
                                <div class="e-hmb-c">
                                    <div class="ehmbc-l">
                                        <i>
                                            <img src="../images/e-time.png" alt=""/>
                                        </i>
                                        <p>&nbsp;September 28th,2016</p>
                                    </div>
                                    <div class="ehmbc-r">
                                        <i>
                                            <img src="../images/e-eye.png" alt=""/>
                                        </i>
                                        <p>&nbsp;3180</p>
                                    </div>
                                </div>
                            </div>
                            <img src="../images/zbh.png" alt=""/>
                        </div>
                        <div class="ec-f">
                            <p class="e-p-1">
                                Zhengzhou Wisdom Polytron Tecolytron Tecolytron Technologies Inc
                            </p>
                            <p class="e-p-2">
                                Robot·Automatic welding·Robot
                            </p>
                        </div>
                    </a>
                </div>
                <div class="e-company">
                    <a href="javascript:;">
                        <div class="ec-t">
                            <div class="ect-tl">
                                <i>
                                    <img src="../images/e-dizhi.png" alt=""/>
                                </i>
                                <p>&nbsp;Zhengzhou</p>
                            </div>
                            <div class="e-hmb">
                                <div class="e-hmb-c">
                                    <div class="ehmbc-l">
                                        <i>
                                            <img src="../images/e-time.png" alt=""/>
                                        </i>
                                        <p>&nbsp;September 28th,2016</p>
                                    </div>
                                    <div class="ehmbc-r">
                                        <i>
                                            <img src="../images/e-eye.png" alt=""/>
                                        </i>
                                        <p>&nbsp;3180</p>
                                    </div>
                                </div>
                            </div>
                            <img src="../images/zbh.png" alt=""/>
                        </div>
                        <div class="ec-f">
                            <p class="e-p-1">
                                Zhengzhou Wisdom Polytron Tecolytron Tecolytron Technologies Inc
                            </p>
                            <p class="e-p-2">
                                Robot·Automatic welding·Robot
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--公司结束-->

        <!--公用板块介绍-->
        <div class="ec-info" style="margin-top: .2rem">
            <div class="eci-c">
                <span>Procedure</span>
                <a href="{:url('company/tj')}" class="ecic-r">
                    order
                </a>
            </div>
        </div>
        <!--公用板块介绍-->

        <!--参展流程-->
        <div class="ccccolor" style="background-color: #fff;height: 2rem">
            <div class="bm-toM-item">
                <ul class="cz-liuChe">
                    <li>
                        <a href="">
                            <div class="map fx-you">
                                <div class="map-m ico1"></div>
                                <div class="map-m2"></div>
                            </div>
                            <p>Order</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="map">
                                <div class="map-m2"></div>
                                <div class="map-m ico2"></div>
                                <div class="map-m2"></div>
                            </div>
                            <p>Shoot</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="map">
                                <div class="map-m2"></div>
                                <div class="map-m ico3"></div>
                                <div class="map-m2"></div>
                            </div>
                            <p>Make</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="map">
                                <div class="map-m2"></div>
                                <div class="map-m ico4"></div>

                            </div>
                            <p>Finish</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 参展流程-->

        <!--公用板块介绍-->
        <div class="ec-info" style="margin-top: .2rem">
            <div class="eci-c">
                <span>Newest exhibitors</span>
                <a href="{:url('company/tj')}" class="ecic-r">
                    more
                </a>
            </div>
        </div>
        <!--公用板块介绍-->


        <!--推荐展商开始-->
        <div class="e-newst">
            <div class="e-newst-c">
                <a href="javascript:;" class="e-tujiangs">
                    <div class="e-newst-c-l">
                        <div class="e-company-img">
                            <img src="../images/e-c-img.png" alt=""/>
                        </div>
                    </div>
                    <div class="e-newst-c-r">
                        <p class="encr-p1 dot-ellipsis dot-resize-update">China Internationanternational equipmentmanufacturingOnline FairChina Internationanternational equipmentmanufacturingOnline Fair</p>
                        <p class="encr-p2">Robot·Automatic welding·Robot</p>
                        <div class="encrr-info">
                            <div class="encrri-l">
                                <i>
                                    <img src="../images/e-time.png" alt=""/>
                                </i>
                                <p>&nbsp;June 28th,2017</p>
                            </div>
                            <div class="encrri-c">
                                <i>
                                    <img src="../images/e-eye.png" alt=""/>
                                </i>
                                <p>&nbsp;3180</p>
                            </div>
                            <div class="encrri-r">
                                <i>
                                    <img src="../images/e-dizhi.png" alt=""/>
                                </i>
                                <p>&nbsp;guangzhou</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="e-newst-c">
                <a href="javascript:;" class="e-tujiangs">
                    <div class="e-newst-c-l">
                        <div class="e-company-img">
                            <img src="../images/e-c-img.png" alt=""/>
                        </div>
                    </div>
                    <div class="e-newst-c-r">
                        <p class="encr-p1 dot-ellipsis dot-resize-update">China Internationanternational equipmentmanufacturingOnline FairChina Internationanternational equipmentmanufacturingOnline Fair</p>
                        <p class="encr-p2">Robot·Automatic welding·Robot</p>
                        <div class="encrr-info">
                            <div class="encrri-l">
                                <i>
                                    <img src="../images/e-time.png" alt=""/>
                                </i>
                                <p>&nbsp;June 28th,2017</p>
                            </div>
                            <div class="encrri-c">
                                <i>
                                    <img src="../images/e-eye.png" alt=""/>
                                </i>
                                <p>&nbsp;3180</p>
                            </div>
                            <div class="encrri-r">
                                <i>
                                    <img src="../images/e-dizhi.png" alt=""/>
                                </i>
                                <p>&nbsp;guangzhou</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="e-newst-c">
                <a href="javascript:;" class="e-tujiangs">
                    <div class="e-newst-c-l">
                        <div class="e-company-img">
                            <img src="../images/e-c-img.png" alt=""/>
                        </div>
                    </div>
                    <div class="e-newst-c-r">
                        <p class="encr-p1 dot-ellipsis dot-resize-update">China Internationanternational equipmentmanufacturingOnline FairChina Internationanternational equipmentmanufacturingOnline Fair</p>
                        <p class="encr-p2">Robot·Automatic welding·Robot</p>
                        <div class="encrr-info">
                            <div class="encrri-l">
                                <i>
                                    <img src="../images/e-time.png" alt=""/>
                                </i>
                                <p>&nbsp;June 28th,2017</p>
                            </div>
                            <div class="encrri-c">
                                <i>
                                    <img src="../images/e-eye.png" alt=""/>
                                </i>
                                <p>&nbsp;3180</p>
                            </div>
                            <div class="encrri-r">
                                <i>
                                    <img src="../images/e-dizhi.png" alt=""/>
                                </i>
                                <p>&nbsp;guangzhou</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="e-newst-c">
                <a href="javascript:;" class="e-tujiangs">
                    <div class="e-newst-c-l">
                        <div class="e-company-img">
                            <img src="../images/e-c-img.png" alt=""/>
                        </div>
                    </div>
                    <div class="e-newst-c-r">
                        <p class="encr-p1 dot-ellipsis dot-resize-update">China Internationanternational equipmentmanufacturingOnline FairChina Internationanternational equipmentmanufacturingOnline Fair</p>
                        <p class="encr-p2">Robot·Automatic welding·Robot</p>
                        <div class="encrr-info">
                            <div class="encrri-l">
                                <i>
                                    <img src="../images/e-time.png" alt=""/>
                                </i>
                                <p>&nbsp;June 28th,2017</p>
                            </div>
                            <div class="encrri-c">
                                <i>
                                    <img src="../images/e-eye.png" alt=""/>
                                </i>
                                <p>&nbsp;3180</p>
                            </div>
                            <div class="encrri-r">
                                <i>
                                    <img src="../images/e-dizhi.png" alt=""/>
                                </i>
                                <p>&nbsp;guangzhou</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="e-newst-c">
                <a href="javascript:;" class="e-tujiangs">
                    <div class="e-newst-c-l">
                        <div class="e-company-img">
                            <img src="../images/e-c-img.png" alt=""/>
                        </div>
                    </div>
                    <div class="e-newst-c-r">
                        <p class="encr-p1 dot-ellipsis dot-resize-update">China Internationanternational equipmentmanufacturingOnline FairChina Internationanternational equipmentmanufacturingOnline Fair</p>
                        <p class="encr-p2">Robot·Automatic welding·Robot</p>
                        <div class="encrr-info">
                            <div class="encrri-l">
                                <i>
                                    <img src="../images/e-time.png" alt=""/>
                                </i>
                                <p>&nbsp;June 28th,2017</p>
                            </div>
                            <div class="encrri-c">
                                <i>
                                    <img src="../images/e-eye.png" alt=""/>
                                </i>
                                <p>&nbsp;3180</p>
                            </div>
                            <div class="encrri-r">
                                <i>
                                    <img src="../images/e-dizhi.png" alt=""/>
                                </i>
                                <p>&nbsp;guangzhou</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="e-newst-c">
                <a href="javascript:;" class="e-tujiangs">
                    <div class="e-newst-c-l">
                        <div class="e-company-img">
                            <img src="../images/e-c-img.png" alt=""/>
                        </div>
                    </div>
                    <div class="e-newst-c-r">
                        <p class="encr-p1 dot-ellipsis dot-resize-update">China Internationanternational equipmentmanufacturingOnline FairChina Internationanternational equipmentmanufacturingOnline Fair</p>
                        <p class="encr-p2">Robot·Automatic welding·Robot</p>
                        <div class="encrr-info">
                            <div class="encrri-l">
                                <i>
                                    <img src="../images/e-time.png" alt=""/>
                                </i>
                                <p>&nbsp;June 28th,2017</p>
                            </div>
                            <div class="encrri-c">
                                <i>
                                    <img src="../images/e-eye.png" alt=""/>
                                </i>
                                <p>&nbsp;3180</p>
                            </div>
                            <div class="encrri-r">
                                <i>
                                    <img src="../images/e-dizhi.png" alt=""/>
                                </i>
                                <p>&nbsp;guangzhou</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="e-newst-c">
                <a href="javascript:;" class="e-tujiangs">
                    <div class="e-newst-c-l">
                        <div class="e-company-img">
                            <img src="../images/e-c-img.png" alt=""/>
                        </div>
                    </div>
                    <div class="e-newst-c-r">
                        <p class="encr-p1 dot-ellipsis dot-resize-update">China Internationanternational equipmentmanufacturingOnline FairChina Internationanternational equipmentmanufacturingOnline Fair</p>
                        <p class="encr-p2">Robot·Automatic welding·Robot</p>
                        <div class="encrr-info">
                            <div class="encrri-l">
                                <i>
                                    <img src="../images/e-time.png" alt=""/>
                                </i>
                                <p>&nbsp;June 28th,2017</p>
                            </div>
                            <div class="encrri-c">
                                <i>
                                    <img src="../images/e-eye.png" alt=""/>
                                </i>
                                <p>&nbsp;3180</p>
                            </div>
                            <div class="encrri-r">
                                <i>
                                    <img src="../images/e-dizhi.png" alt=""/>
                                </i>
                                <p>&nbsp;guangzhou</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <!--推荐展商而结束-->

        <!--底部导航开始-->
        <div class="foot">
            <div class="foot-c">
                <a href="{:url('index/index')}">
                    <i class="icon11"></i>
                    <span class="green">COMPANY</span>
                </a>
                <a href="{:url('product/index')}">
                    <i class="icon2"></i>
                    <span>PRODUCT</span>
                </a>
                <a href="{:url('product/index')}">
                    <i class="icon3"></i>
                    <span>COMMUNITY</span>
                </a>
                <a href="{:url('news/index')}">
                    <i class="icon4"></i>
                    <span>NEWS</span>
                </a>
                <a href="{:url('index/baoming')}" class="hondq">
                    <i class="icon5"></i>
                    <span>PERSONAL</span>
                    <time class="tt"></time>
                </a>
            </div>
        </div>
        <!--底部导航结束-->
    </div>
    <script>
        $(document).ready(function(){
            var mySwiper = new Swiper('.swiper-container', {
                autoplay: 5000,//可选选项，自动滑动
                pagination : '.swiper-pagination',
                loop : true,
            })
        })
    </script>
</body>
</html>