<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>个人资料</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/e-common.css"/>
    <link rel="stylesheet" href="../css/e-gerenziliao.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
</head>
<body>
<div class="box">
    <!--头部开始-->
    <div class="zl-top">
        <div class="zlt-c">
            <div class="zltc-l">
                <a href="javascript:;">
                    <img src="../images/huisejiantou.png" alt=""/>
                </a>
            </div>
            <div class="zltc-c">
                <p>Edit data</p>
            </div>
            <div class="zltc-r">
                <a href="javascript:;">
                    Save
                </a>
            </div>
        </div>
    </div>
    <!--头部结束-->

    <!--个人资料列表-->
    <div class="zl-list">
        <div class="zll-c">
            <ul>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Head portrait</p>
                        </div>
                        <div class="zll-c-r">
                            <i class="i-1">
                                <img src="../images/nanrentouxiang.png" alt=""/>
                            </i>
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Name</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的姓名</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Phone number</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的手机号</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Corporate name</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的公司名称</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="javascript:;" style="border-bottom: none">
                        <div class="zll-c-l">
                            <p>Position</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的职位</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--个人资料列表-->


    <!--个人资料列表2-->
    <div class="zl-list">
        <div class="zll-c">
            <ul>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Location</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请选择您的所在地</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Email</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的Email</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>QQ</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的QQ号</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="javascript:;" style="border-bottom: none">
                        <div class="zll-c-l">
                            <p>WeChat</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的微信号</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--个人资料列表2-->

    <!--个人资料列表3-->
    <div class="zl-list">
        <div class="zll-c">
            <ul>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Industry</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请选择公司所属行业</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Company address</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的公司地址</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Office phone</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的办公电话</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Fax</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的传真号</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="zll-c-l">
                            <p>Website</p>
                        </div>
                        <div class="zll-c-r">
                            <!--<p>请输入您的公司网址</p>-->
                            <i class="i-2">
                                <img src="../images/li-jiantou.png" alt=""/>
                            </i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="zy-yewu">
            <div class="zyyw-c">
                <div class="zyywc-l">
                    <p>Major business</p>
                </div>
                <div class="zyywc-c">
                    <p>金属制造业meishiqing金属制造业meishiqing金属制造业meishiqing金属制造业meishiqin金属制造业meishiqing金属制造业meishiqing金属制造业meishiqing金属制造业meishiqing</p>
                </div>
                <div class="zyywc-r">
                    <i>
                        <img src="../images/li-jiantou.png" alt=""/>
                    </i>
                </div>
            </div>
        </div>
    </div>
    <!--个人资料列表3-->
    <button class="bc-btn">Save</button>
</div>
</body>
</html>