<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>企业展厅</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/e-common.css"/>
    <link rel="stylesheet" href="../css/e-news.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
</head>
<body>
<div class="box1">
    <!--头部开始-->
    <div class="zl-top">
        <div class="zlt-c">
            <div class="zltc-l">
                <a href="javascript:;">
                    <img src="../images/huisejiantou.png" alt=""/>
                </a>
            </div>
            <div class="zltc-c">
                <p>News</p>
            </div>
            <div class="zltc-r">
                <a href="javascript:;">

                </a>
            </div>
        </div>
    </div>
    <!--头部结束-->

    <!--具体新闻部分开始-->
    <div class="e-jtxx">
        <div class="e-jtxx-c">
            <p>
                What technologies will change our lives in the 2017？
            </p>
        </div>
        <br/>
        <div class="e-jtxx-c1">
            <span class="t-p">
                <i>
                    <img src="../images/e-time.png" alt=""/>
                </i>
                &nbsp;June 28th,2017
            </span>
            <span class="e-p">
                <i>
                    <img src="../images/e-eye.png" alt=""/>
                </i>
               &nbsp;268
            </span>
        </div>
    </div>
    <div class="e-jsimg">
        <div class="e-ji-c">
            <img src="../images/e-jsimg.png" alt=""/>
        </div>
    </div>
    <div class="e-infop">
        <div class="e-infop-c">
            <p>
                Hamlet:To be,or not to be- that is the question:Whether 'tis nobler in the mind to sufferThe slings and arrows of outrageous fortuneOr to take arms against a sea of troubles,And by opposing end them.To die- to sleep-No more; and by a sleep to say we endThe heartache,and the thousand natural shocksThat flesh is heir to.'Tis a consummationDevoutly to be wish'd.To die- to sleep.To sleep- perchance to dream:ay,there's the rub!For in that sleep of death what dreams may comeWhen we have shuffled off this mortal coil,Must give us pause.There's the respectThat makes calamity of so long life.For who would bear the whips and scorns of time,
            </p>
            <p>
                Hamlet:To be,or not to be- that is the question:Whether 'tis nobler in the mind to sufferThe slings and arrows of outrageous fortuneOr to take arms against a sea of troubles,And by opposing end them.To die- to sleep-No more; and by a sleep to say we endThe heartache,and the thousand natural shocksThat flesh is heir to.'Tis a consummationDevoutly to be wish'd.To die- to sleep.To sleep- perchance to dream:ay,there's the rub!For in that sleep of death what dreams may comeWhen we have shuffled off this mortal coil,Must give us pause.There's the respectThat makes calamity of so long life.For who would bear the whips and scorns of time,
            </p>
        </div>
    </div>
    <!--具体新闻部分结束-->

    <!--底部导航开始-->
    <div class="foot">
        <div class="foot-c">
            <a href="{:url('index/index')}">
                <i class="icon1"></i>
                <span>COMPANY</span>
            </a>
            <a href="{:url('product/index')}">
                <i class="icon2"></i>
                <span>PRODUCT</span>
            </a>
            <a href="{:url('product/index')}">
                <i class="icon3"></i>
                <span>COMMUNITY</span>
            </a>
            <a href="{:url('news/index')}">
                <i class="icon41"></i>
                <span class="green">NEWS</span>
            </a>
            <a href="{:url('index/baoming')}" class="hondq">
                <i class="icon5"></i>
                <span>PERSONAL</span>
                <time class="tt"></time>
            </a>
        </div>
    </div>
    <!--底部导航结束-->
</div>
</body>
</html>