<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>企业展厅</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/e-common.css"/>
    <link rel="stylesheet" href="../css/e-news.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <script src="../js/jquery.dotdotdot.min.js"></script>
    <script src="../js/base.js"></script>
</head>
<body>
<div class="box">
    <!--头部开始-->
    <div class="gb-top">
        <div class="gb-top-center">
            <div class="tc-l">
                <a href="{:url('index/index')}">
                    <img src="../images/wangbohui.png" alt=""/>
                </a>
            </div>
            <form id="search_form" action="{:url('company/index')}" method="get">
                <div class="tc-r">
                    <input type="text" placeholder="Search" name="keyword" id="keyword"/>
                    <a href="javascript:;" id="fangdajings">
                        <img src="../images/search.png" alt=""/>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <!--头部结束-->

    <!--资讯筛选开始-->
    <div class="en-news">
        <div class="ens-c">
            <ul>
                <li class="ens-b">
                    <a href="javascript:;" style="color: #122a8c">ALL</a>
                </li>
                <li>
                    <a href="javascript:;">Industry</a>
                </li>
                <li>
                    <a href="javascript:;">Product</a>
                </li>
                <li>
                    <a href="javascript:;" style="border-right: none">Exhibition</a>
                </li>
            </ul>
        </div>
    </div>
    <!--资讯筛选结束-->

    <!--新闻部分开始-->
    <div class="e-newlist">
        <div class="enlist-c">
            <em class="enew-em">
                <a href="javascript:;">
                    <div class="enlca-l">
                        <img src="../images/newsss.png" alt=""/>
                    </div>
                    <div class="enlca-r">
                        <div class="enlcar-t">
                            <p class="dot-ellipsis dot-resize-update">
                                The implementation of eightyears, CNC machineTheTheThe
                            </p>
                        </div>
                        <div class="enlcar-b">
                        <span class="spani1">
                            <i>
                                <img src="../images/e-time.png" alt=""/>
                            </i>
                            June 28th,2017
                        </span>
                        <span class="spani2">
                            <i>
                                <img src="../images/e-eye.png" alt=""/>
                            </i>
                            269
                        </span>
                        </div>
                    </div>
                </a>
            </em>
            <em class="enew-em">
                <a href="javascript:;">
                    <div class="enlca-l">
                        <img src="../images/newsss.png" alt=""/>
                    </div>
                    <div class="enlca-r">
                        <div class="enlcar-t">
                            <p class="dot-ellipsis dot-resize-update">
                                The implementation of eightyears, CNC machineTheTheThe
                            </p>
                        </div>
                        <div class="enlcar-b">
                        <span class="spani1">
                            <i>
                                <img src="../images/e-time.png" alt=""/>
                            </i>
                            June 28th,2017
                        </span>
                        <span class="spani2">
                            <i>
                                <img src="../images/e-eye.png" alt=""/>
                            </i>
                            269
                        </span>
                        </div>
                    </div>
                </a>
            </em>
            <em class="enew-em">
                <a href="javascript:;">
                    <div class="enlca-l">
                        <img src="../images/newsss.png" alt=""/>
                    </div>
                    <div class="enlca-r">
                        <div class="enlcar-t">
                            <p class="dot-ellipsis dot-resize-update">
                                The implementation of eightyears, CNC machineTheTheThe
                            </p>
                        </div>
                        <div class="enlcar-b">
                        <span class="spani1">
                            <i>
                                <img src="../images/e-time.png" alt=""/>
                            </i>
                            June 28th,2017
                        </span>
                        <span class="spani2">
                            <i>
                                <img src="../images/e-eye.png" alt=""/>
                            </i>
                            269
                        </span>
                        </div>
                    </div>
                </a>
            </em>
            <em class="enew-em">
                <a href="javascript:;">
                    <div class="enlca-l">
                        <img src="../images/newsss.png" alt=""/>
                    </div>
                    <div class="enlca-r">
                        <div class="enlcar-t">
                            <p class="dot-ellipsis dot-resize-update">
                                The implementation of eightyears, CNC machineTheTheThe
                            </p>
                        </div>
                        <div class="enlcar-b">
                        <span class="spani1">
                            <i>
                                <img src="../images/e-time.png" alt=""/>
                            </i>
                            June 28th,2017
                        </span>
                        <span class="spani2">
                            <i>
                                <img src="../images/e-eye.png" alt=""/>
                            </i>
                            269
                        </span>
                        </div>
                    </div>
                </a>
            </em>
            <em class="enew-em">
                <a href="javascript:;">
                    <div class="enlca-l">
                        <img src="../images/newsss.png" alt=""/>
                    </div>
                    <div class="enlca-r">
                        <div class="enlcar-t">
                            <p class="dot-ellipsis dot-resize-update">
                                The implementation of eightyears, CNC machineTheTheThe
                            </p>
                        </div>
                        <div class="enlcar-b">
                        <span class="spani1">
                            <i>
                                <img src="../images/e-time.png" alt=""/>
                            </i>
                            June 28th,2017
                        </span>
                        <span class="spani2">
                            <i>
                                <img src="../images/e-eye.png" alt=""/>
                            </i>
                            269
                        </span>
                        </div>
                    </div>
                </a>
            </em>
            <em class="enew-em">
                <a href="javascript:;">
                    <div class="enlca-l">
                        <img src="../images/newsss.png" alt=""/>
                    </div>
                    <div class="enlca-r">
                        <div class="enlcar-t">
                            <p class="dot-ellipsis dot-resize-update">
                                The implementation of eightyears, CNC machineTheTheThe
                            </p>
                        </div>
                        <div class="enlcar-b">
                        <span class="spani1">
                            <i>
                                <img src="../images/e-time.png" alt=""/>
                            </i>
                            June 28th,2017
                        </span>
                        <span class="spani2">
                            <i>
                                <img src="../images/e-eye.png" alt=""/>
                            </i>
                            269
                        </span>
                        </div>
                    </div>
                </a>
            </em>
        </div>
    </div>




    <!--新闻部分结束-->


    <!--底部导航开始-->
    <div class="foot">
        <div class="foot-c">
            <a href="{:url('index/index')}">
                <i class="icon1"></i>
                <span>COMPANY</span>
            </a>
            <a href="{:url('product/index')}">
                <i class="icon2"></i>
                <span>PRODUCT</span>
            </a>
            <a href="{:url('product/index')}">
                <i class="icon3"></i>
                <span>COMMUNITY</span>
            </a>
            <a href="{:url('news/index')}">
                <i class="icon41"></i>
                <span class="green">NEWS</span>
            </a>
            <a href="{:url('index/baoming')}" class="hondq">
                <i class="icon5"></i>
                <span>PERSONAL</span>
                <time class="tt"></time>
            </a>
        </div>
    </div>
    <!--底部导航结束-->
</div>
</body>
</html>