#fenxiangin{
  width: .3rem;
  height: .33rem;
  display: block;
  img{
    width: 100%;
    height: 100%;
    display: block;
  }
}



.infotop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 7.5rem;
  height: .8rem;
  background-color: #122a8c;
  margin: 0 auto;
  .infotopc{
    display: flex;
    justify-content: space-between;
    width: 7.14rem;
    height: .8rem;
    margin: 0 auto;
    .infotopcl{
      display: flex;
      align-items: center;
      width: 1.07rem;
      height: .8rem;
      a{
        display: block;
        width: .23rem;
        height: .38rem;
        img{
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
    .infotopcc{
      display: flex;
      //position: relative;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: .8rem;
      a{
        text-align: center;
        display: inline-block;
        width: 1.4rem;
        height: .5rem;
        color: #ffffff;
        font-size: .36rem;
      }
    }
    .infotopcr{
      width: 1.07rem;
      height: .8rem;
    }
  }
}






.infosearch{
  width: 7.5rem;
  height: .9rem;
  background-color: #e9e9e9;
  margin: 0 auto;
  .infosearchc{
    display: flex;
    align-items: center;
    width: 7.14rem;
    height: .9rem;
    margin: 0 auto;
    input{
      padding-left: .2rem;
      background-color: #ffffff;
      border-radius: .1rem;
      width: 7.14rem;
      height: .6rem;
      outline: none;
    }
  }
}



.newinfo{
  width: 7.5rem;
  margin: 0 auto;
  .newinfoc{
    width: 7.14rem;
    margin: 0 auto;
    .tuijian{
      display: block;
      width: 7.14rem;
      .shangxia{
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-bottom: .01rem solid #e9e9e9;
        width: 7.14rem;
        height: 3.75rem;
        .title{
          color: #333333;
          font-size: .32rem;
        }
        .picture{
          margin-top: .3rem;
          display: flex;
          justify-content: space-between;
          i{
            display: block;
            width: 2.35rem;
            height: 1.45rem;
            img{
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
        .tmanzhi{
          margin-top: .2rem;
          display: flex;
          align-items: center;
          span{
            padding: .03rem .07rem;
            margin-right: .2rem;
            color: #e83328;
            border: .01rem solid #e83328;
            border-radius: .05rem;
          }
          .guanggao{
            padding: .03rem .07rem;
            color: #122a8c;
            border: .01rem solid #122a8c;
            border-radius: .05rem;
          }
          .nthp1{
            color: #999999;
            font-size: .24rem;
          }
          .nthp2{
            margin-left: .25rem;
            color: #999999;
            font-size: .24rem;
          }
        }
      }
      .chunwenzi{
        border-bottom: .01rem solid #e9e9e9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1.95rem;
        border-bottom: .01rem solid #e9e9e9;
        width: 7.14rem;
        .title{
          color: #333333;
          font-size: .32rem;
        }
        .tmanzhi{
          margin-top: .2rem;
          display: flex;
          align-items: center;
          span{
            padding: .03rem .07rem;
            margin-right: .2rem;
            color: #e83328;
            border: .01rem solid #e83328;
            border-radius: .05rem;
          }
          .guanggao{
            padding: .03rem .07rem;
            color: #122a8c;
            border: .01rem solid #122a8c;
            border-radius: .05rem;
          }
          .nthp1{
            color: #999999;
            font-size: .24rem;
          }
          .nthp2{
            margin-left: .25rem;
            color: #999999;
            font-size: .24rem;
          }
        }
      }
      .zouyou{
        border-bottom: .01rem solid #e9e9e9;
        display: flex;
        height: 2.1rem;
        justify-content: space-between;
        align-items: center;
        .zouyoul{
          width: 4.35rem;
          .title{
            color: #333333;
            font-size: .32rem;
          }
          .tmanzhi{
            margin-top: .2rem;
            display: flex;
            align-items: center;
            span{
              padding: .03rem .07rem;
              margin-right: .2rem;
              color: #e83328;
              border: .01rem solid #e83328;
              border-radius: .05rem;
            }
            .guanggao{
              padding: .03rem .07rem;
              color: #122a8c;
              border: .01rem solid #122a8c;
              border-radius: .05rem;
            }
            .nthp1{
              color: #999999;
              font-size: .24rem;
            }
            .nthp2{
              margin-left: .25rem;
              color: #999999;
              font-size: .24rem;
            }
          }
        }
        .zouyour{
          width: 2.35rem;
          i{
            display: block;
            width: 2.35rem;
            height: 1.45rem;
            img{
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .xinwen{
      display: none;
      width: 7.14rem;
      .shangxia{
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-bottom: .01rem solid #e9e9e9;
        width: 7.14rem;
        height: 3.75rem;
        .title{
          color: #333333;
          font-size: .32rem;
        }
        .picture{
          margin-top: .3rem;
          display: flex;
          justify-content: space-between;
          i{
            display: block;
            width: 2.35rem;
            height: 1.45rem;
            img{
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
        .tmanzhi{
          margin-top: .2rem;
          display: flex;
          align-items: center;
          span{
            padding: .03rem .07rem;
            margin-right: .2rem;
            color: #e83328;
            border: .01rem solid #e83328;
            border-radius: .05rem;
          }
          .guanggao{
            padding: .03rem .07rem;
            color: #122a8c;
            border: .01rem solid #122a8c;
            border-radius: .05rem;
          }
          .nthp1{
            color: #999999;
            font-size: .24rem;
          }
          .nthp2{
            margin-left: .25rem;
            color: #999999;
            font-size: .24rem;
          }
        }
      }
      .chunwenzi{
        border-bottom: .01rem solid #e9e9e9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1.95rem;
        border-bottom: .01rem solid #e9e9e9;
        width: 7.14rem;
        .title{
          color: #333333;
          font-size: .32rem;
        }
        .tmanzhi{
          margin-top: .2rem;
          display: flex;
          align-items: center;
          span{
            padding: .03rem .07rem;
            margin-right: .2rem;
            color: #e83328;
            border: .01rem solid #e83328;
            border-radius: .05rem;
          }
          .guanggao{
            padding: .03rem .07rem;
            color: #122a8c;
            border: .01rem solid #122a8c;
            border-radius: .05rem;
          }
          .nthp1{
            color: #999999;
            font-size: .24rem;
          }
          .nthp2{
            margin-left: .25rem;
            color: #999999;
            font-size: .24rem;
          }
        }
      }
      .zouyou{
        border-bottom: .01rem solid #e9e9e9;
        display: flex;
        height: 2.1rem;
        justify-content: space-between;
        align-items: center;
        .zouyoul{
          width: 4.35rem;
          .title{
            color: #333333;
            font-size: .32rem;
          }
          .tmanzhi{
            margin-top: .2rem;
            display: flex;
            align-items: center;
            span{
              padding: .03rem .07rem;
              margin-right: .2rem;
              color: #e83328;
              border: .01rem solid #e83328;
              border-radius: .05rem;
            }
            .guanggao{
              padding: .03rem .07rem;
              color: #122a8c;
              border: .01rem solid #122a8c;
              border-radius: .05rem;
            }
            .nthp1{
              color: #999999;
              font-size: .24rem;
            }
            .nthp2{
              margin-left: .25rem;
              color: #999999;
              font-size: .24rem;
            }
          }
        }
        .zouyour{
          width: 2.35rem;
          i{
            display: block;
            width: 2.35rem;
            height: 1.45rem;
            img{
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .zhengce{
      display: none;
      width: 7.14rem;
      .shangxia{
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-bottom: .01rem solid #e9e9e9;
        width: 7.14rem;
        height: 3.75rem;
        .title{
          color: #333333;
          font-size: .32rem;
        }
        .picture{
          margin-top: .3rem;
          display: flex;
          justify-content: space-between;
          i{
            display: block;
            width: 2.35rem;
            height: 1.45rem;
            img{
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
        .tmanzhi{
          margin-top: .2rem;
          display: flex;
          align-items: center;
          span{
            padding: .03rem .07rem;
            margin-right: .2rem;
            color: #e83328;
            border: .01rem solid #e83328;
            border-radius: .05rem;
          }
          .guanggao{
            padding: .03rem .07rem;
            color: #122a8c;
            border: .01rem solid #122a8c;
            border-radius: .05rem;
          }
          .nthp1{
            color: #999999;
            font-size: .24rem;
          }
          .nthp2{
            margin-left: .25rem;
            color: #999999;
            font-size: .24rem;
          }
        }
      }
      .chunwenzi{
        border-bottom: .01rem solid #e9e9e9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1.95rem;
        border-bottom: .01rem solid #e9e9e9;
        width: 7.14rem;
        .title{
          color: #333333;
          font-size: .32rem;
        }
        .tmanzhi{
          margin-top: .2rem;
          display: flex;
          align-items: center;
          span{
            padding: .03rem .07rem;
            margin-right: .2rem;
            color: #e83328;
            border: .01rem solid #e83328;
            border-radius: .05rem;
          }
          .guanggao{
            padding: .03rem .07rem;
            color: #122a8c;
            border: .01rem solid #122a8c;
            border-radius: .05rem;
          }
          .nthp1{
            color: #999999;
            font-size: .24rem;
          }
          .nthp2{
            margin-left: .25rem;
            color: #999999;
            font-size: .24rem;
          }
        }
      }
      .zouyou{
        border-bottom: .01rem solid #e9e9e9;
        display: flex;
        height: 2.1rem;
        justify-content: space-between;
        align-items: center;
        .zouyoul{
          width: 4.35rem;
          .title{
            color: #333333;
            font-size: .32rem;
          }
          .tmanzhi{
            margin-top: .2rem;
            display: flex;
            align-items: center;
            span{
              padding: .03rem .07rem;
              margin-right: .2rem;
              color: #e83328;
              border: .01rem solid #e83328;
              border-radius: .05rem;
            }
            .guanggao{
              padding: .03rem .07rem;
              color: #122a8c;
              border: .01rem solid #122a8c;
              border-radius: .05rem;
            }
            .nthp1{
              color: #999999;
              font-size: .24rem;
            }
            .nthp2{
              margin-left: .25rem;
              color: #999999;
              font-size: .24rem;
            }
          }
        }
        .zouyour{
          width: 2.35rem;
          i{
            display: block;
            width: 2.35rem;
            height: 1.45rem;
            img{
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
















//新闻详情页面
.peoplesee{
  width: 7.5rem;
  margin: 0 auto;
  .peopleseec{
    border-bottom: .01rem solid #eeeeed;
    width: 7.14rem;
    line-height: 1rem;
    text-align: center;
    height: 1rem;
    margin: 0 auto;
    p{
      font-size: .36rem;
      color: #333333;
    }
  }
}


.titleinfo{
  width: 7.5rem;
  margin: 0 auto;
  .titleinfoc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 7.14rem;
    height: 2.1rem;
    margin: 0 auto;
    p{
      color: #333333;
      font-size: .38rem;
    }
    .yijia{
      margin-top: .2rem;
      display: flex;
      align-items: center;
      .renshu{
        color: #999999;
        font-size: .24rem;
        margin-right: .2rem;
      }
      .hour{
        font-size: .24rem ;
        color: #999999;
      }
    }
  }
}


.peitu{
  width: 7.5rem;
  margin: 0 auto;
  .peituc{
    width: 7.14rem;
    height: 4.2rem;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}


.wenzi{
  width: 7.5rem;
  margin: 0 auto;
  .wenzic{
    width: 7.14rem;
    margin: 0 auto;
    color: #333333;
    font-size: .3rem;
  }
}
