.shequ-tbg {
  width: 7.5rem;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto; }
  .shequ-tbg img {
    width: 100%;
    height: 100%; }

.shequ-tmbm {
  margin: 0 auto;
  width: 7.5rem;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: .88rem;
  left: 0;
  right: 0; }
  .shequ-tmbm .shequ-tmb {
    width: 7.1rem;
    height: 3.5rem;
    margin: 0 auto; }
    .shequ-tmbm .shequ-tmb .sqtb {
      display: flex;
      height: 0.8rem;
      justify-content: space-between;
      align-items: center; }
      .shequ-tmbm .shequ-tmb .sqtb i {
        display: block;
        width: .14rem;
        height: .24rem; }
        .shequ-tmbm .shequ-tmb .sqtb i img {
          width: 100%;
          height: 100%;
          display: block; }
      .shequ-tmbm .shequ-tmb .sqtb p a {
        color: #fff;
        font-size: .34rem; }
    .shequ-tmbm .shequ-tmb .gyp {
      margin-top: .6rem;
      width: 7.1rem;
      text-align: center;
      color: #ffffff;
      font-size: .36rem; }
    .shequ-tmbm .shequ-tmb .eyepp {
      margin-top: .2rem;
      width: 7.1rem;
      justify-content: center;
      display: flex;
      align-items: center; }
      .shequ-tmbm .shequ-tmb .eyepp i {
        display: block;
        width: .27rem;
        height: .17rem; }
        .shequ-tmbm .shequ-tmb .eyepp i img {
          width: 100%;
          height: 100%;
          display: block; }
      .shequ-tmbm .shequ-tmb .eyepp span {
        color: #fff;
        font-size: .24rem; }

.rmzx {
  margin: 0 auto;
  width: 7.5rem;
  display: flex;
  border-bottom: .01rem solid #d8d8d8;
  background-color: #fff; }
  .rmzx .rmzx-l {
    width: 3.75rem;
    height: .8rem;
    text-align: center;
    line-height: .8rem;
    display: flex;
    justify-content: center; }
    .rmzx .rmzx-l p {
      width: 1rem;
      height: .8rem;
      color: #4a4a4a;
      font-size: .3rem; }
  .rmzx .rmzx-r {
    width: 3.75rem;
    height: .8rem;
    text-align: center;
    line-height: .8rem;
    display: flex;
    justify-content: center; }
    .rmzx .rmzx-r p {
      width: 1rem;
      height: .8rem;
      color: #4a4a4a;
      font-size: .3rem; }

.onclick-blue {
  color: #122a8c;
  border-bottom: .03rem solid #122a8c; }

.weifabu {
  display: block;
  width: 4.81rem;
  height: 3.04rem;
  margin-top: 2.27rem;
  margin-left: 1.35rem; }
  .weifabu img {
    width: 100%;
    height: 100%; }

.weip1 {
  width: 3rem;
  margin: .5rem auto;
  color: #555555;
  font-size: .3rem;
  font-weight: bold; }

.weip2 {
  width: 5rem;
  margin: .2rem auto;
  text-align: center;
  color: #555555;
  font-size: .28rem; }

.weibtn {
  display: block;
  background-color: #122a8c;
  color: #fff;
  font-size: .3rem;
  border-radius: .1rem;
  text-align: center;
  line-height: 1rem;
  font-weight: bold;
  width: 7.1rem;
  height: 1rem;
  margin: 1.04rem auto; }

.zhimingdu {
  width: 7.5rem; }
  .zhimingdu .zmd-gl {
    width: 7.1rem;
    margin: 0 auto; }
    .zhimingdu .zmd-gl ul li a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 7.1rem;
      height: 1rem;
      border-bottom: .01rem solid #d8d8d8; }
      .zhimingdu .zmd-gl ul li a i {
        display: block;
        width: .14rem;
        height: .24rem; }
        .zhimingdu .zmd-gl ul li a i img {
          width: 100%;
          height: 100%;
          display: block; }
      .zhimingdu .zmd-gl ul li a p {
        color: #333333;
        font-size: .3rem; }

.zmdbh {
  width: 7.5rem; }
  .zmdbh time {
    color: #343434;
    font-size: .3rem;
    line-height: .85rem;
    display: block;
    width: 7.5rem;
    height: .85rem;
    padding-left: .2rem;
    background-color: #f9f9f9; }
  .zmdbh .zmdbh-c {
    width: 7.1rem;
    margin: 0 auto;
    background-color: #fff; }
    .zmdbh .zmdbh-c ul li {
      justify-content: space-between;
      display: flex;
      width: 7.1rem;
      height: .85rem;
      line-height: .85rem; }
      .zmdbh .zmdbh-c ul li p {
        color: #acacac;
        font-size: .3rem; }
      .zmdbh .zmdbh-c ul li span {
        color: #1e3597;
        font-size: .3rem; }

/*# sourceMappingURL=shequ.css.map */
