<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>展商详情</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/zhanshangxiangqing.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/zy.media.min.css"/>
    <link rel="stylesheet" href="../css/touzi.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <script src="../js/echo.min.js"></script>
    <style>
        .box {
            min-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
        body{
            background-color: #ffffff;
            /*padding-top: 1.7rem;*/
            padding-bottom: .9rem;
        }
        .active{
            color: #c14545!important;
        }
    </style>
</head>
<body>
<div class="box">

    <!--公共头部布局开始-->
        <div class="zstop">
            <div class="zstopc">
                <div class="zstopct">
                    <div class="zstopctl">
                        <a href="javascript:history.back();">
                            <img src="../images/own/back.png" alt=""/>
                        </a>
                        <p>返回</p>
                    </div>
                    <div class="zstopctr">
                        <a href="javascript:;" class="fenxiang">
                            <img src="../images/own/fenxiang.png" alt=""/>
                        </a>
                        <a href="javascript:;" class="sandian">
                            <img src="../images/own/sandian.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="zstopcf">
                    <div class="zstopcfl">
                        <i>
                            <img src="../images/company/yutong.png" alt=""/>
                        </i>
                    </div>
                    <div class="zstopcfr">
                       <div class="zsname">
                           <p>郑州宇通客车股份有限公司</p>
                           <i>
                               <img src="../images/own/lu.png" alt=""/>
                           </i>
                           <i>
                               <img src="../images/own/zheng.png" alt=""/>
                           </i>
                       </div>
                        <div class="zsglinfo">
                            <div>
                                <i>
                                    <img src="../images/own/eye.png" alt=""/>
                                </i>
                                <p>26890</p>
                            </div>
                            <div>
                                <i>
                                    <img src="../images/own/starp.png" alt=""/>
                                </i>
                                <p>5555</p>
                            </div>
                            <div>
                                <i>
                                    <img src="../images/own/message1.png" alt=""/>
                                </i>
                                <p>3698</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--公共头部布局开始-->

    <!--产品大图-->
    <div class="chanpinbig">
        <iframe src="http://www.othkin.com/3DExp/ShowH5.html?id=50FA8865118376A5F4B985D7E454E6BB" frameborder="0" width="100%"></iframe>
    </div>
    <!--产品大图-->

    <!--大图文字-->
    <div class="datuwenzi">
        <div class="datuwenzic">
            <p>E10 公路新能源宇通公路新能源纯电动客车整体解决方案</p>
            <p>钓鱼台国宾馆都在使用的纯电动客车</p>
        </div>
    </div>
    <!--大图文字-->

    <div style="height: .15rem;background-color: #f4f4f4;width: 7.5rem;margin: 0 auto"></div>


    <!--左右滑动-->
    <div class="huadongtop">
        <a href="javascript:;"  class="active">图文详情</a>
        <a href="javascript:;">规格参数</a>
        <a href="javascript:;">客户案例</a>
    </div>



    <div class="yili">
        <div class="yili1">
            <img src="../images/company/datu.png" alt=""/>
            <img src="../images/company/datu2.png" alt=""/>
            <img src="../images/company/datu3.png" alt=""/>
        </div>
        <div class="yili2" style="display: none">
            <img src="../images/company/canshu.png" alt=""/>
        </div>
        <div class="yili3" style="display: none">
            <div class="morecar">
                <a href="javascript:;">
                    <span class="cart">
                        <img src="../images/company/car1.png" alt=""/>
                    </span>
                    <p>
                        宇通10米一层半客车批量“南下北上”
                    </p>
                </a>
                <a href="javascript:;">
                    <span class="cart">
                        <img src="../images/company/car2.png" alt=""/>
                     </span>
                    <p>
                        邢台400辆宇通天燃气公交车交付使用
                    </p>
                </a>
                <a href="javascript:;">
                    <span class="cart">
                        <img src="../images/company/car2.png" alt=""/>
                     </span>
                    <p>
                        邢台400辆宇通天燃气公交车交付使用
                    </p>
                </a>
                <a href="javascript:;">
                    <span class="cart">
                        <img src="../images/company/car2.png" alt=""/>
                     </span>
                    <p>
                        邢台400辆宇通天燃气公交车交付使用
                    </p>
                </a>
            </div>
        </div>
    </div>

    <!--左右滑动-->






    <!--产品业务-->
    <!--其他用户-->
        <div class="qtyh">
            <span></span>
            <p>其他用户关注的产品</p>
            <span></span>
        </div>
    <!--其他用户-->
    <div class="morecar">
        <a href="chanpinxiangqing.html">
            <span class="cart">
                <img src="../images/company/carcar.png" alt=""/>
            </span>
            <p>
                ZK6609DX高强度硬骨骼6米校车
            </p>
        </a>
        <a href="javascript:;">
            <span class="cart">
                <img src="../images/company/carcar1.png" alt=""/>
            </span>
            <p>
                ZK6146HQ行有范 型非凡
            </p>
        </a>
        <a href="chanpinxiangqing.html">
            <span class="cart">
                <img src="../images/company/carcar2.png" alt=""/>
            </span>
            <p>
                ZK6115HT5Z 团体专享 为您升级
            </p>
        </a>
        <a href="chanpinxiangqing.html">
            <span class="cart">
                <img src="../images/company/carcar3.png" alt=""/>
            </span>
            <p>
                ZK5180XLJ1房车尽享品质房车生活
            </p>
        </a>
    </div>
    <!--产品业务-->
    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>

    <!--底部开始-->
    <div class="footthree">
        <div class="footthreel">
            <i>
                <img src="../images/own/star.png" alt=""/>
            </i>
            <p>收藏</p>
        </div>
        <div class="footthreec">
            <div class="renicon">
                <i>
                    <img src="../images/own/fzr.png" alt=""/>
                </i>
                <i>
                    <img src="../images/own/fzr.png" alt=""/>
                </i>
                <i>
                    <img src="../images/own/fzr.png" alt=""/>
                </i>
            </div>
            <div>
                <p><span>99+</span>负责人可联系</p>
                <p><span>1</span>个电话可拨打</p>
            </div>
        </div>
        <div class="footthreer">
            <p style="background-color: #e83328;">咨询购买</p>
        </div>
    </div>
    <!--底部开始-->


    <!--隐藏模板-->
    <div class="ycmb" style="display: none">
        <div class="ycmbc">
            <div class="ycmbc-c">
                <div class="ycmbc-ct">
                    <p>郑州宇通客车有限公司</p>
                </div>
                <div style="height: .8rem"></div>
                <div class="ycmbc-cc">
                    <div class="tishiyu">
                        <div class="tishiyuc">
                            <p>电话(3) <span>以下电话均来自企业或个人主动公开</span></p>
                        </div>
                    </div>
                    <div class="phonelist">
                        <div class="phone">
                            <div class="phnoenum">
                                <div class="phonel">
                                    <i>
                                        <img src="../images/own/phonenum.png" alt=""/>
                                    </i>
                                </div>
                                <div class="phonec">
                                    <p>1853658****</p>
                                    <p>丁杰</p>
                                </div>
                                <div class="phoner">
                                    <p>查看号码</p>
                                </div>
                            </div>
                        </div>
                        <div class="phone">
                            <div class="phnoenum">
                                <div class="phonel">
                                    <i>
                                        <img src="../images/own/phonenum.png" alt=""/>
                                    </i>
                                </div>
                                <div class="phonec">
                                    <p>1853658****</p>
                                    <p>丁杰</p>
                                </div>
                                <div class="phoner">
                                    <p>查看号码</p>
                                </div>
                            </div>
                        </div>
                        <div class="phone">
                            <div class="phnoenum">
                                <div class="phonel">
                                    <i>
                                        <img src="../images/own/phonenum.png" alt=""/>
                                    </i>
                                </div>
                                <div class="phonec">
                                    <p>1853658****</p>
                                    <p>丁杰</p>
                                </div>
                                <div class="phoner">
                                    <p>查看号码</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tishiyu">
                        <div class="tishiyuc">
                            <p>公司员工(99)</p>
                        </div>
                    </div>
                    <div class="yuangong">
                        <a href="javascript:;" class="yuangonglist">
                            <div class="yuangongl">
                                <i>
                                    <img src="../images/own/leida.png" alt=""/>
                                </i>
                            </div>
                            <div class="yuangongr">
                                <p>通讯录雷达</p>
                                <p>看看通讯录里哪些人认识这家公司</p>
                            </div>
                        </a>
                        <a href="javascript:;" class="yuangonglist">
                            <div class="yuangongl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="yuangongr">
                                <p>***
                                    <i>
                                        <img src="../images/own/vip.png" alt=""/>
                                    </i>
                                </p>
                                <p>看看通讯录里哪些人认识这家公司</p>
                            </div>
                        </a>
                        <a href="javascript:;" class="yuangonglist">
                            <div class="yuangongl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="yuangongr">
                                <p>***
                                    <i>
                                        <img src="../images/own/vip.png" alt=""/>
                                    </i>
                                </p>
                                <p>看看通讯录里哪些人认识这家公司</p>
                            </div>
                        </a>
                        <a href="javascript:;" class="checkmore">
                            <p>查看更多</p>
                        </a>
                    </div>
                    <div class="tishiyu">
                        <div class="tishiyuc">
                            <p>其他(99)</p>
                        </div>
                    </div>
                    <div class="qitainfo">
                        <a href="javascript:;" class="qitainfolist">
                            <div class="qitainfol">
                                <i>
                                    <img src="../images/own/xiaoyoujian.png" alt=""/>
                                </i>
                            </div>
                            <div class="qitainfor">
                                <p>1030504010@qq.com</p>
                                <p>来自晚报</p>
                            </div>
                        </a>
                        <a href="javascript:;" class="qitainfolist">
                            <div class="qitainfol">
                                <i>
                                    <img src="../images/own/xiaoyoujian.png" alt=""/>
                                </i>
                            </div>
                            <div class="qitainfor">
                                <p>597092554@qq.com</p>
                                <p>公司邮箱</p>
                            </div>
                        </a>
                        <a href="javascript:;" class="qitainfolist">
                            <div class="qitainfol">
                                <i>
                                    <img src="../images/own/xiaodizhi.png" alt=""/>
                                </i>
                            </div>
                            <div class="qitainfor">
                                <p>河南省郑州市管城回族区十八里河宇通路宇通工业园</p>
                                <p></p>
                            </div>
                        </a>
                        <a href="javascript:;" class="checkmore">
                            <p>查看更多</p>
                        </a>
                    </div>
                </div>

                <div style="height: 1rem"></div>
                <div class="ycmbc-cf">
                    <p>取消</p>
                </div>
            </div>
        </div>
    </div>
    <!--隐藏模板-->

</div>


<script>
    $(document).ready(function () {

        $(".circle").on("click",function(){
            $(this).find(".polik").attr("src","../images/own/handb.png")
        })

//       按钮

        $(".hamburger").click(function(){
            $(this).toggleClass("is-active");
            $(".yincang").toggle();
            $(".hamburger").toggleClass("ppop")
        });


        $('#chakanmore').on("click",function(){
            $(".mui-ellipsis-3").removeClass('mui-ellipsis-3');
            $(this).hide()
        });



        $(".footthreec").on("click",function(){
            $(".ycmb").show()
            $("html,body,.box").css({
                "height" : "100%!important",
                "overflow" : "hidden",
            })
            $(".ycmb").css({
                "height" : "100%!important",
                "overflow" : "hidden",
            })
        })

        $(".ycmbc-cf").on("click",function(){
            $(".ycmb").hide();
            $("html,body,.box").css({
                "height" : "",
                "overflow" : "",
            })
        })

        $(".footthreel").on("click",function(){
            $(".footthreel>i>img").attr("src","../images/own/star1.png")
        })

        $(".huadongtop>a").on("click",function(){
            $(".yili>div").hide().eq($(this).index()).show();
            $(this).addClass("active").siblings().removeClass("active")
        })

    })
</script>
</body>
</html>