<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>负责人列表</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/man&zhanshang.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        body{
            padding-top: .8rem;
        }
        .box {
            max-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="box">
    <!--公共头部布局开始-->
    <div class="header">
        <div class="header-c">
            <div class="hc-l">
                <a href="javascript:history.back();">
                    <img src="../images/own/back.png" alt=""/>
                </a>
                <p>返回</p>
            </div>
            <div class="hc-c">
                <p>负责人列表</p>
            </div>
            <div class="hc-r">
                <a href="javascript:;" class="sandian">
                    <img src="../images/own/sandian.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!--公共头部布局开始-->

    <!--搜索-->
    <div class="manseach">
        <input type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;输入你想联系的职位/部门,如销售、市场"/>
    </div>
    <!--搜索-->


    <!--负责人列表-->
    <div class="fzeren">
        <a href="mingpian.html">
            <div class="fzrc">
                <div class="fzl">
                    <i>
                        <img src="../images/own/ren.png" alt=""/>
                    </i>
                </div>
                <div class="fzr">
                    <p>
                        张海波
                        <i>
                            <img src="../images/own/vip.png" alt=""/>
                        </i>
                    </p>
                    <p>
                        营销部 - 销售经理
                    </p>
                    <p>
                        负责产品销售
                    </p>
                </div>
            </div>
        </a>
        <a href="mingpian.html">
            <div class="fzrc">
                <div class="fzl">
                    <i>
                        <img src="../images/own/ren.png" alt=""/>
                    </i>
                </div>
                <div class="fzr">
                    <p>
                        张海波
                    </p>
                    <p>
                        营销部 - 销售经理
                    </p>
                    <p>
                        负责产品销售
                    </p>
                </div>
            </div>
        </a>
        <a href="mingpian.html">
            <div class="fzrc">
                <div class="fzl">
                    <i>
                        <img src="../images/own/ren.png" alt=""/>
                    </i>
                </div>
                <div class="fzr">
                    <p>
                        张海波
                    </p>
                    <p>
                        营销部 - 销售经理
                    </p>
                    <p>
                        负责产品销售
                    </p>
                </div>
            </div>
        </a>
        <a href="mingpian.html">
            <div class="fzrc">
                <div class="fzl">
                    <i>
                        <img src="../images/own/ren.png" alt=""/>
                    </i>
                </div>
                <div class="fzr">
                    <p>
                        张海波
                    </p>
                    <p>
                        营销部 - 销售经理
                    </p>
                    <p>
                        负责产品销售
                    </p>
                </div>
            </div>
        </a>
        <a href="mingpian.html">
            <div class="fzrc">
                <div class="fzl">
                    <i>
                        <img src="../images/own/ren.png" alt=""/>
                    </i>
                </div>
                <div class="fzr">
                    <p>
                        张海波
                    </p>
                    <p>
                        营销部 - 销售经理
                    </p>
                    <p>
                        负责产品销售
                    </p>
                </div>
            </div>
        </a>
        <a href="mingpian.html">
            <div class="fzrc">
                <div class="fzl">
                    <i>
                        <img src="../images/own/ren.png" alt=""/>
                    </i>
                </div>
                <div class="fzr">
                    <p>
                        张海波
                    </p>
                    <p>
                        营销部 - 销售经理
                    </p>
                    <p>
                        负责产品销售
                    </p>
                </div>
            </div>
        </a>
        <a href="mingpian.html">
            <div class="fzrc">
                <div class="fzl">
                    <i>
                        <img src="../images/own/ren.png" alt=""/>
                    </i>
                </div>
                <div class="fzr">
                    <p>
                        张海波
                    </p>
                    <p>
                        营销部 - 销售经理
                    </p>
                    <p>
                        负责产品销售
                    </p>
                </div>
            </div>
        </a>
    </div>
    <!--负责人列表-->

    <!--底部提示-->
    <div class="footmessage">
        <p>想查看更多员工,请通过职位过滤进行筛选</p>
    </div>
    <!--底部提示-->



</div>
<script>
    $(document).ready(function () {

    })
</script>
</body>
</html>