<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>名片</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/zy.media.min.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/mingpian.css"/>
    <link rel="stylesheet" href="../css/swipebox.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <script src="../js/echo.min.js"></script>
    <script src="../js/jquery.swipebox.js"></script>
    <style>
        .box {
            max-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
        body{
            background-color: #ffffff;
            padding-top: .8rem;
            padding-bottom: .9rem;
        }
        .fixednav{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
        }
    </style>
</head>
<body>
<div class="box">

    <!--公共头部布局开始-->
    <div class="header">
        <div class="header-c">
            <div class="hc-l">
                <a href="javascript:history.back();">
                    <img src="../images/own/back.png" alt=""/>
                </a>
                <p>返回</p>
            </div>
            <div class="hc-c">
                <p>张海波的名片</p>
            </div>
            <div class="hc-r">
                <a href="javascript:;">
                    <img src="../images/own/search.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!--公共头部布局开始-->



    <!--名片-->
    <div style="height: .95rem;width: 7.5rem;background-color: #122a8c"></div>

    <div class="mp">
        <div class="mpc">
            <div class="mpcc">
                <div class="mpccl">
                    <i>
                        <img src="../images/own/tx.png" alt=""/>
                    </i>
                </div>
                <div class="mpccc">
                    <p>
                        张海波
                        <i>
                            <img src="../images/own/renzheng.png" alt=""/>
                        </i>
                    </p>
                    <p>营销部  销售经理</p>
                    <p>郑州宇通客车股份有限公司</p>
                </div>
                <div class="mpccr">
                    <i>
                        <img src="../images/own/lese.png" alt=""/>
                    </i>
                </div>
                <div class="triangle"></div>
            </div>
            <div class="fuzesha">
                <p>“负责校车、专用客车的产品销售”</p>
            </div>
        </div>


        <div class="sandengfen">
            <div>
                <i>
                    <img src="../images/own/laneye.png" alt=""/>
                </i>
                <p>人气 : 277</p>
            </div>
            <div>
                <i>
                    <img src="../images/own/redh.png" alt=""/>
                </i>
                <p>赞 : 277</p>
            </div>
            <div>
                <i>
                    <img src="../images/own/lanme.png" alt=""/>
                </i>
                <p>留言 : 277</p>
            </div>
        </div>
        <div class="renmai">
            <div class="renmaic">
                <div class="renmaicl">
                    <p>Ta的人脉</p>
                </div>
                <div class="renmaicr">
                    <div class="renmaipng">
                        <i>
                            <img src="../images/own/tx.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/tx.png" alt=""/>
                        </i>
                    </div>
                    <div class="renmainum">
                        <p>12人</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--名片-->

<div style="height: 4.75rem;background-color: #f8f8f8"></div>


    <!--公司信息-->

    <!--版块介绍-->
    <div class="bkjs loikj">
        <div class="bkjsa">
            <div class="bkjsac">
                <div class="bkjsacl">
                    <p>公司信息</p>
                </div>
                <!--<div class="bkjsacr">-->
                    <!--<a href="http://vr.cneme.cn/tour/f0c6f241776462df">点击进入</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <!--版块介绍-->
    <div class="cominfo">
        <a href="zhanshangxiangqing.html">
            <div class="cominfoc">
                <div class="cominfocl">
                    <i>
                        <img src="../images/company/yutong.png" alt=""/>
                    </i>
                </div>
                <div class="cominfocr">
                    <p>郑州宇通客车股份有限公司</p>
                    <p>主营：公交、客运、专用等客车</p>
                    <p>989年成立   1.66亿注册资金   100.87亿元年产值</p>
                    <p>
                        <span>公交车</span>
                        <span>客运车</span>
                        <span>专用客车</span>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <!--公司信息-->
    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4"></div>




    <!--全景展厅-->
    <!--版块介绍-->
    <div class="bkjs loikj">
        <div class="bkjsa">
            <div class="bkjsac">
                <div class="bkjsacl">
                    <p>VR全景展示</p>
                </div>
                <div class="bkjsacr">
                    <a href="http://vr.cneme.cn/tour/f0c6f241776462df">点击进入</a>
                </div>
            </div>
        </div>
    </div>
    <!--版块介绍-->
    <div class="qujinginfo">
        <div class="quanjing">
            <a href="http://vr.cneme.cn/tour/f0c6f241776462df">
                <iframe height="300px" width="100%" src="http://bbs.720think.com/index.php?g=think720&amp;m=home&amp;a=panoview&amp;vkey=926204010&amp;id=65&amp;hmat=1081&amp;vmat=19&amp;fmat=108.91917364059056" frameborder="0" allowfullscreen="" style="height: 3.9rem"></iframe>
            </a>
        </div>
        <!--<div class="infojing">-->
            <!--<span>起重机</span>-->
            <!--<span>吊机</span>-->
            <!--<span>港口机械</span>-->
            <!--<span>通用客车</span>-->
            <!--<span>吊机</span>-->
            <!--<span>港口机械</span>-->
            <!--<span>通用客车</span>-->
            <!--<span>吊机</span>-->
            <!--<span>港口机械</span>-->
            <!--<span>通用客车</span>-->
        <!--</div>-->
    </div>
    <!--全景展厅-->

    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4"></div>


    <!--产品业务-->
    <!--版块介绍-->
    <div class="bkjs">
        <div class="bkjsa">
            <div class="bkjsac">
                <div class="bkjsacl">
                    <p>产品/业务(99)</p>
                </div>
                <div class="bkjsacr">
                    <a href="chanpinmoshi.html">查看更多</a>
                </div>
            </div>
        </div>
    </div>
    <!--版块介绍-->

    <div class="morecar">
        <a href="chanpinxiangqing.html">
            <span class="cart">
                <img src="../images/company/carcar.png" alt=""/>
            </span>
            <p>
                ZK6609DX高强度硬骨骼6米校车
            </p>
        </a>
        <a href="chanpinxiangqing.html">
            <span class="cart">
                <img src="../images/company/carcar1.png" alt=""/>
            </span>
            <p>
                ZK6146HQ行有范 型非凡
            </p>
        </a>
        <a href="chanpinxiangqing.html">
            <span class="cart">
                <img src="../images/company/carcar2.png" alt=""/>
            </span>
            <p>
                ZK6115HT5Z 团体专享 为您升级
            </p>
        </a>
        <a href="chanpinxiangqing.html">
            <span class="cart">
                <img src="../images/company/carcar3.png" alt=""/>
            </span>
            <p>
                ZK5180XLJ1房车尽享品质房车生活
            </p>
        </a>
    </div>
    <!--产品业务-->


    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4"></div>



    <!--业务负责人-->
    <!--版块介绍-->
    <div class="bkjs">
        <div class="bkjsa">
            <div class="bkjsac">
                <div class="bkjsacl">
                    <p>他的同事(36)</p>
                </div>
                <div class="bkjsacr">
                    <a href="man.html">查看更多</a>
                </div>
            </div>
        </div>
    </div>
    <!--版块介绍-->

    <div class="fzeren">
        <a href="mingpian.html">
            <div class="fzrc">
                <div class="fzl">
                    <i>
                        <img src="../images/own/ren.png" alt=""/>
                    </i>
                </div>
                <div class="fzr">
                    <p>
                        张海波
                        <i>
                            <img src="../images/own/vip.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/huangguan.png" alt=""/>
                        </i>
                    </p>
                    <p>
                        营销部 - 销售经理
                    </p>
                    <p>
                        负责产品销售
                    </p>
                </div>
            </div>
        </a>
        <a href="mingpian.html">
            <div class="fzrc">
                <div class="fzl">
                    <i>
                        <img src="../images/own/ren.png" alt=""/>
                    </i>
                </div>
                <div class="fzr">
                    <p>
                        张海波
                        <i>
                            <img src="../images/own/vip.png" alt=""/>
                        </i>
                    </p>
                    <p>
                        营销部 - 销售经理
                    </p>
                    <p>
                        负责产品销售
                    </p>
                </div>
            </div>
        </a>
        <a href="mingpian.html">
            <div class="fzrc">
                <div class="fzl">
                    <i>
                        <img src="../images/own/ren.png" alt=""/>
                    </i>
                </div>
                <div class="fzr">
                    <p>
                        张海波
                        <i>
                            <img src="../images/own/vip.png" alt=""/>
                        </i>
                    </p>
                    <p>
                        营销部 - 销售经理
                    </p>
                    <p>
                        负责产品销售
                    </p>
                </div>
            </div>
        </a>
    </div>
    <!--业务负责人-->


    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4"></div>

    <!--企业动态-->
    <!--版块介绍-->
    <div class="bkjs">
        <div class="bkjsa">
            <div class="bkjsac">
                <div class="bkjsacl">
                    <p>企业动态(36)</p>
                </div>
                <div class="bkjsacr">
                    <a href="qiyedongtai2.html">查看更多</a>
                </div>
            </div>
        </div>
    </div>
    <!--版块介绍-->


    <div class="gongying ppqy">
        <div class="gyc">
            <div class="gyc1">
                <a href="mingpian.html" class="tx">
                    <img src="" alt="" data-echo="../images/own/tx.png"/>
                </a>
                <p>
                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                    <span>一小时前</span>
                </p>
            </div>
            <div class="gyc2">
                <p>供应【壳牌】发电机组润滑油、压缩机润滑油、齿轮
                    油、传动油等多种润滑油品种，延长设备使用寿命以
                    及减少停机时间，从而为您显著节约成本。
                </p>
            </div>
            <div class="gyc3">
                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                </a>
                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                </a>
                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                </a>
                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                </a>
                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                </a>
            </div>
            <div class="pp-4">
                <div class="pp4-l">
                    <div class="picture">
                        <i class="position">
                            <img src="../images/own/position.png" alt=""/>
                        </i>
                        <span>河南 郑州</span>
                    </div>
                    <div class="picture">
                        <i class="eye">
                            <img src="../images/own/eye.png" alt=""/>
                        </i>
                        <span>300</span>
                    </div>
                </div>
                <div class="pp4-r">
                    <a href="javascript:;" class="circle">
                        <i class="hand">
                            <img src="../images/own/hand.png" alt=""/>
                        </i>
                        <span>9025</span>
                    </a>
                    <a href="pinglunxiangqing.html" class="circle">
                        <i class="message">
                            <img src="../images/own/message.png" alt=""/>
                        </i>
                        <span>555</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4"></div>


    <div class="gongying ppqy">
        <div class="gyc">
            <div class="gyc1">
                <a href="mingpian.html" class="tx">
                    <img src="" alt="" data-echo="../images/own/tx.png"/>
                </a>
                <p>
                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                    <span>一小时前</span>
                </p>
            </div>
            <div class="gyc2">
                <p>供应【壳牌】发电机组润滑油、压缩机润滑油、齿轮
                    油、传动油等多种润滑油品种，延长设备使用寿命以
                    及减少停机时间，从而为您显著节约成本。
                </p>
            </div>
            <div class="playvideo">
                <div class="zy_media">
                    <video poster="../images/nav/banner1.png" data-config='{"mediaTitle": "测试视频--视频"}'>
                        <source src="../images/mv/1.mp4" type="video/mp4">
                        您的浏览器不支持HTML5视频
                    </video>
                </div>
                <!--<div id="modelView">&nbsp;</div>-->
            </div>
            <div class="pp-4">
                <div class="pp4-l">
                    <div class="picture">
                        <i class="position">
                            <img src="../images/own/position.png" alt=""/>
                        </i>
                        <span>河南 郑州</span>
                    </div>
                    <div class="picture">
                        <i class="eye">
                            <img src="../images/own/eye.png" alt=""/>
                        </i>
                        <span>300</span>
                    </div>
                </div>
                <div class="pp4-r">
                    <a href="javascript:;" class="circle">
                        <i class="hand">
                            <img src="../images/own/hand.png" alt=""/>
                        </i>
                        <span>9025</span>
                    </a>
                    <a href="pinglunxiangqing.html" class="circle">
                        <i class="message">
                            <img src="../images/own/message.png" alt=""/>
                        </i>
                        <span>555</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--企业动态-->

    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4"></div>

    <!--底部开始-->
    <div class="footmp">
        <a href="javascript:;">
            <div class="footmpl">
                <i>
                    <img src="../images/own/phonenum.png" alt=""/>
                </i>
                <p>联系</p>
            </div>
        </a>
        <a href="javascript:;">
            <div class="footmpc">
                <p>加好友</p>
            </div>
        </a>
        <a href="javascript:;">
            <div class="footmpr">
                <p>发消息</p>
            </div>
        </a>
    </div>
    <!--底部开始-->
</div>
<script src="../js/zy.media.min.js"></script>
<script>
    $(document).ready(function () {
        var mySwiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            loopedSlides: 8,
        })

        $(".slide").on("click",function(){
            $(this).css({
                "borderBottom" : ".05rem solid #122a8c",
                "color" : "#122a8c",
            }).siblings().css({
                "color" : "#666666",
                "borderBottom" : "none",
            })
        })



//       按钮

        $(".hamburger").click(function(){
            $(this).toggleClass("is-active");
            $(".yincang").toggle();
            $(".hamburger").toggleClass("ppop")
        });

//        按钮

        $("#chakanmore").on("click",function(){
            $("#showfont").show()
            $(this).hide()
        })


        //        延迟加载
        echo.init({
            offset: 100,
            throttle: 250,
            unload: false,
            callback: function (element, op) {
                console.log('loaded ok.');
            }
        });
//        延迟加载


        //        视频
        zymedia('video',{autoplay: false});
//        视频




        $(".footthreel").on("click",function(){
            $(".footthreel>i>img").attr("src","../images/own/star1.png")
        })

//    灯箱
        $(".swipebox1").swipebox();


        $(".circle").on("click", function () {
            $(this).find(".hand>img").attr("src", "../images/own/handb.png")
        })
    })
</script>
</body>
</html>