<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>评论详情</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/qiyedongtai.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        body{
            padding-top: .8rem;
            padding-bottom: 1.1rem;
        }
        .box {
            max-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="box">
    <!--公共头部布局开始-->
    <div class="header">
        <div class="header-c">
            <div class="hc-l">
                <a href="javascript:history.back();">
                    <img src="../images/own/back.png" alt=""/>
                </a>
                <p>返回</p>
            </div>
            <div class="hc-c">
                <p>评论详情</p>
            </div>
            <div class="hc-r">
                <a href="javascript:;" class="sandian">
                    <img src="../images/own/sandian.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!--公共头部布局开始-->

    <!--人-->
    <div class="pinluntou">
        <div class="pinluntouc">
            <div class="pinluntoutl">
                <i>
                    <img src="../images/own/tx.png" alt=""/>
                </i>
            </div>
            <div class="pinluntoutc">
                <a href="javascript:;" class="yonghuming2">
                    丹妮莉丝·坦格利安
                </a>
                <div class="liqizhong">
                    <p>六天前 评论</p>
                    <a href="javascript:;">七国统统统统统统统统治者暨全境守护者</a>
                </div>
            </div>
            <div class="pinluntoutr"></div>
        </div>
    </div>
    <!--人-->

    <!--内容-->
    <div class="pinlunneirong">
        <div class="pinlunneirongc">
            <p>我国是国是国是国是国是国是国是国是国是国是国是工人阶级领导的以工农联盟为基础的人民民主专政的社会主义国家</p>
        </div>
    </div>



    <div class="touxiangz">
        <div class="touxiangz">
            <div class="touimg">
                <i>
                    <img src="../images/own/tx.png" alt=""/>
                </i>
                <i>
                    <img src="../images/own/tx.png" alt=""/>
                </i>
                <i>
                    <img src="../images/own/tx.png" alt=""/>
                </i>
                <i>
                    <img src="../images/own/tx.png" alt=""/>
                </i>
                <i>
                    <img src="../images/own/tx.png" alt=""/>
                </i>
                <i>
                    <img src="../images/own/tx.png" alt=""/>
                </i>
            </div>
            <div class="zanzan">
                <i>
                    <img src="../images/own/zan1.png" alt=""/>
                </i>
                <p>55</p>
            </div>
        </div>
    </div>
    <!-- 内容-->


    <div style="background-color: #fafafa">
        <div class="pinluntou">
            <div class="pinluntouc">
                <div class="pinluntoutl">
                    <i>
                        <img src="../images/own/tx.png" alt=""/>
                    </i>
                </div>
                <div class="pinluntoutc">
                    <a href="javascript:;" class="yonghuming2">
                        琼恩·雪诺
                    </a>
                    <div class="liqizhong">
                        <p>六天前</p>
                    </div>
                </div>
                <div class="pinluntoutr">
                    <i>
                        <img src="../images/own/zan1.png" alt=""/>
                    </i>
                    <p>55</p>
                </div>
            </div>
        </div>
        <div class="pinlunneirong">
            <div class="pinlunneirongc">
                <i></i>
                <p>
                   回复 <a href="javascript:;">丹妮莉丝·坦格利安:</a>I am King in the North
                </p>
            </div>
        </div>

        <div class="pinluntou">
            <div class="pinluntouc">
                <div class="pinluntoutl">
                    <i>
                        <img src="../images/own/tx.png" alt=""/>
                    </i>
                </div>
                <div class="pinluntoutc">
                    <a href="javascript:;" class="yonghuming2">
                        琼恩·雪诺
                    </a>
                    <div class="liqizhong">
                        <p>六天前</p>
                    </div>
                </div>
                <div class="pinluntoutr">
                    <i>
                        <img src="../images/own/zan1.png" alt=""/>
                    </i>
                    <p>55</p>
                </div>
            </div>
        </div>
        <div class="pinlunneirong">
            <div class="pinlunneirongc">
                <i></i>
                <p>
                    回复 <a href="javascript:;">丹妮莉丝·坦格利安:</a>I am King in the North
                </p>
            </div>
        </div>

        <div class="pinluntou">
            <div class="pinluntouc">
                <div class="pinluntoutl">
                    <i>
                        <img src="../images/own/tx.png" alt=""/>
                    </i>
                </div>
                <div class="pinluntoutc">
                    <a href="javascript:;" class="yonghuming2">
                        琼恩·雪诺
                    </a>
                    <div class="liqizhong">
                        <p>六天前</p>
                    </div>
                </div>
                <div class="pinluntoutr">
                    <i>
                        <img src="../images/own/zan1.png" alt=""/>
                    </i>
                    <p>55</p>
                </div>
            </div>
        </div>
        <div class="pinlunneirong">
            <div class="pinlunneirongc">
                <i></i>
                <p>
                    回复 <a href="javascript:;">丹妮莉丝·坦格利安:</a>I am King in the North
                </p>
            </div>
        </div>

        <div class="pinluntou">
            <div class="pinluntouc">
                <div class="pinluntoutl">
                    <i>
                        <img src="../images/own/tx.png" alt=""/>
                    </i>
                </div>
                <div class="pinluntoutc">
                    <a href="javascript:;" class="yonghuming2">
                        琼恩·雪诺
                    </a>
                    <div class="liqizhong">
                        <p>六天前</p>
                    </div>
                </div>
                <div class="pinluntoutr">
                    <i>
                        <img src="../images/own/zan1.png" alt=""/>
                    </i>
                    <p>55</p>
                </div>
            </div>
        </div>
        <div class="pinlunneirong">
            <div class="pinlunneirongc">
                <i></i>
                <p>
                    回复 <a href="javascript:;">丹妮莉丝·坦格利安:</a>I am King in the North
                </p>
            </div>
        </div>

        <div class="pinluntou">
            <div class="pinluntouc">
                <div class="pinluntoutl">
                    <i>
                        <img src="../images/own/tx.png" alt=""/>
                    </i>
                </div>
                <div class="pinluntoutc">
                    <a href="javascript:;" class="yonghuming2">
                        琼恩·雪诺
                    </a>
                    <div class="liqizhong">
                        <p>六天前</p>
                    </div>
                </div>
                <div class="pinluntoutr">
                    <i>
                        <img src="../images/own/zan1.png" alt=""/>
                    </i>
                    <p>55</p>
                </div>
            </div>
        </div>
        <div class="pinlunneirong">
            <div class="pinlunneirongc">
                <i></i>
                <p>
                    回复 <a href="javascript:;">丹妮莉丝·坦格利安:</a>I am King in the North.I am King in the North
                </p>
            </div>
        </div>
    </div>


    <div class="xiaolian">
        <div class="xiaolianc">
            <input type="text" placeholder="回复楼小轩 :"/>
            <a href="jaavscript:;">
                <img src="../images/own/xiaolian.png" alt=""/>
            </a>
        </div>
    </div>





</div>
<script>
    $(document).ready(function () {
        $(".pinluntoutr").on("click",function(){
            $(this).find("img").attr("src","../images/own/zan11.png")
        })
    })
</script>
</body>
</html>