<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>企业动态</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/zhanshangxiangqing.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/zy.media.min.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/chanpinmoshi.css"/>
    <link rel="stylesheet" href="../css/swipebox.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <script src="../js/echo.min.js"></script>
    <script src="../js/jquery.swipebox.js"></script>
    <style>
        .box {
            min-width: 7.5rem;
            background-color: #ffffff;
            margin: 0 auto;
        }
        body {
            background-color: #ffffff;
            /*padding-top: 1.7rem;*/
            padding-bottom: .9rem;
        }

        .fixednav {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 1;
        }

        .morecar a{
            margin-top: 0rem;
            margin-bottom: .05rem;
        }

        .hide {
            display: block !important;
        }

        .hide2 {
            display: none !important;
        }
    </style>
</head>
<body>
<div class="box">

    <!--公共头部布局开始-->
    <div class="zstop">
        <div class="zstopc">
            <div class="zstopct">
                <div class="zstopctl">
                    <a href="javascript:history.back();">
                        <img src="../images/own/back.png" alt=""/>
                    </a>

                    <p>返回</p>
                </div>
                <div class="zstopctr">
                    <a href="javascript:;" class="fenxiang">
                        <img src="../images/own/fenxiang.png" alt=""/>
                    </a>
                    <a href="javascript:;" class="sandian">
                        <img src="../images/own/sandian.png" alt=""/>
                    </a>
                </div>
            </div>
            <div class="zstopcf">
                <div class="zstopcfl">
                    <i>
                        <img src="../images/company/yutong.png" alt=""/>
                    </i>
                </div>
                <div class="zstopcfr">
                    <div class="zsname">
                        <p>郑州宇通客车股份有限公司</p>
                        <i>
                            <img src="../images/own/lu.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/zheng.png" alt=""/>
                        </i>
                    </div>
                    <div class="zsglinfo">
                        <div>
                            <i>
                                <img src="../images/own/eye.png" alt=""/>
                            </i>

                            <p>26890</p>
                        </div>
                        <div>
                            <i>
                                <img src="../images/own/starp.png" alt=""/>
                            </i>

                            <p>5555</p>
                        </div>
                        <div>
                            <i>
                                <img src="../images/own/message1.png" alt=""/>
                            </i>

                            <p>3698</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--公共头部布局开始-->



    <!--版块介绍-->
    <div class="bkjs">
        <div class="bkjsa">
            <div class="bkjsac">
                <div class="bkjsacl">
                    <p>企业动态(36)</p>
                </div>
                <!--<div class="bkjsacr">-->
                    <!--<a href="http://vr.cneme.cn/tour/f0c6f241776462df">点击进入</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>
    <div class="gongying ppqy">
        <div class="gyc">
            <div class="gyc1">
                <a href="mingpian.html" class="tx">
                    <img src="" alt="" data-echo="../images/own/tx.png"/>
                </a>
                <p>
                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                    <span>一小时前</span>
                </p>
            </div>
            <div class="gyc2">
                <p>供应【壳牌】发电机组润滑油、压缩机润滑油、齿轮
                    油、传动油等多种润滑油品种，延长设备使用寿命以
                    及减少停机时间，从而为您显著节约成本。
                </p>
            </div>
            <div class="gyc3">
                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                </a>
                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                </a>
                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                </a>
            </div>
            <div class="pp-4">
                <div class="pp4-l">
                    <div class="picture">
                        <i class="position">
                            <img src="../images/own/position.png" alt=""/>
                        </i>
                        <span>河南 郑州</span>
                    </div>
                    <div class="picture">
                        <i class="eye">
                            <img src="../images/own/eye.png" alt=""/>
                        </i>
                        <span>300</span>
                    </div>
                </div>
                <div class="pp4-r">
                    <a href="javascript:;" class="circle">
                        <i class="hand">
                            <img src="../images/own/hand.png" alt="" class="polik"/>
                        </i>
                        <span>9025</span>
                    </a>
                    <a href="javascript:;" class="circle">
                        <i class="message">
                            <img src="../images/own/message.png" alt=""/>
                        </i>
                        <span>555</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>

    <div class="gongying ppqy">
        <div class="gyc">
            <div class="gyc1">
                <a href="mingpian.html" class="tx">
                    <img src="" alt="" data-echo="../images/own/tx.png"/>
                </a>
                <p>
                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                    <span>一小时前</span>
                </p>
            </div>
            <div class="gyc2">
                <p>供应【壳牌】发电机组润滑油、压缩机润滑油、齿轮
                    油、传动油等多种润滑油品种，延长设备使用寿命以
                    及减少停机时间，从而为您显著节约成本。
                </p>
            </div>
            <div class="playvideo">
                <div class="zy_media">
                    <video poster="../images/nav/banner1.png" data-config='{"mediaTitle": ""}'>
                        <source src="../images/mv/1.mp4" type="video/mp4">
                        您的浏览器不支持HTML5视频
                    </video>
                </div>
                <!--<div id="modelView">&nbsp;</div>-->
            </div>
            <div class="pp-4">
                <div class="pp4-l">
                    <div class="picture">
                        <i class="position">
                            <img src="../images/own/position.png" alt=""/>
                        </i>
                        <span>河南 郑州</span>
                    </div>
                    <div class="picture">
                        <i class="eye">
                            <img src="../images/own/eye.png" alt=""/>
                        </i>
                        <span>300</span>
                    </div>
                </div>
                <div class="pp4-r">
                    <a href="javascript:;" class="circle">
                        <i class="hand">
                            <img src="../images/own/hand.png" alt="" class="polik"/>
                        </i>
                        <span>9025</span>
                    </a>
                    <a href="javascript:;" class="circle">
                        <i class="message">
                            <img src="../images/own/message.png" alt=""/>
                        </i>
                        <span>555</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--企业动态-->
    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>
</div>


<script src="../js/zy.media.min.js"></script>
<script>
    $(document).ready(function () {

        //        延迟加载
        echo.init({
            offset: 100,
            throttle: 250,
            unload: false,
            callback: function (element, op) {
                console.log('loaded ok.');
            }
        });
//        延迟加载


        //        视频
        zymedia('video', {autoplay: false});
//        视频


        var nav = $(".fenleitop"); //得到导航对象
        var win = $(window); //得到窗口对象
        var sc = $(document);//得到document文档对象。
        win.scroll(function () {
            if (sc.scrollTop() >= 140) {
                nav.addClass("fixednav");
                $(".navTmp").fadeIn();
            } else {
                nav.removeClass("fixednav");
                $(".navTmp").fadeOut();
            }
        })

        $(".fenleitopcr").on("click", function () {
            $(".chanpinlrr").toggleClass("hide");
            $(".chanpinlrl").toggleClass("hide2");


            if ($(this).find("img").attr("src") == "../images/own/da.png") {
                $(this).find("img").attr("src", "../images/own/xiao.png");
            }
            else {
                $(this).find("img").attr("src", "../images/own/da.png");
            }
        })
        $(".circle").on("click",function(){
            $(this).find(".polik").attr("src","../images/own/handb.png")
        })


//        灯箱
        $(".swipebox1").swipebox();

    })
</script>
</body>
</html>