<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>新闻</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/xinwen.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        body {
            background-color: #ffffff;
            padding-top: .8rem;
            padding-bottom: .8rem;
        }

        .box {
            max-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="box">
    <!--公共头部布局开始-->
    <div class="header">
        <div class="header-c">
            <div class="hc-l">
                <a href="javascript:history.back();">
                    <img src="../images/own/back.png" alt=""/>
                </a>
                <p>返回</p>
            </div>
            <div class="hc-c">
                <p>资讯详情</p>
            </div>
            <div class="hc-r">
                <a href="javascript:;" id="fenxiangin">
                    <img src="../images/own/fenxiang.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!--公共头部布局开始-->


    <!--文章标题-->
    <div class="titleinfo">
        <div class="titleinfoc">
            <p>大数据：塑造国家竞争新优势 | 大数据将成为新的钢铁和石油</p>
            <div class="yijia">
                <div class="renshu">
                    467阅读
                </div>
                <div class="hour">
                    一小时前
                </div>
            </div>
        </div>
    </div>
    <!--文章标题-->


    <!--配图-->
    <div class="peitu">
        <div class="peituc">
            <img src="../images/own/peitu.png" alt=""/>
        </div>
    </div>
    <!--配图-->


    <!--文字-->
    <div class="wenzi">
        <div class="wenzic">
            <p>数据正在成为新的石油，成为塑造国家核心竞争力的战略制高点。经过这几年的快速发展，中国已经成为数据大国。</p>
            <p>数据正在成为新的石油，成为塑造国家核心竞争力的战略制高点。经过这几年的快速发展，中国已经成为数据大国。</p>
            <p>数据正在成为新的石油，成为塑造国家核心竞争力的战略制高点。经过这几年的快速发展，中国已经成为数据大国。</p>
            <p>数据正在成为新的石油，成为塑造国家核心竞争力的战略制高点。经过这几年的快速发展，中国已经成为数据大国。</p>
            <p>数据正在成为新的石油，成为塑造国家核心竞争力的战略制高点。经过这几年的快速发展，中国已经成为数据大国。</p>
            <p>数据正在成为新的石油，成为塑造国家核心竞争力的战略制高点。经过这几年的快速发展，中国已经成为数据大国。</p>
            <p>数据正在成为新的石油，成为塑造国家核心竞争力的战略制高点。经过这几年的快速发展，中国已经成为数据大国。</p>
        </div>
    </div>
    <!--文字-->






















    <!--大家都在看-->
    <div style="height: .2rem;background-color: #f4f4f4"></div>
    <div class="peoplesee">
        <div class="peopleseec">
            <p>大家都在看</p>
        </div>
    </div>

    <!--大家都在看-->
    <!--新闻-->
    <div class="newinfo">
        <div class="newinfoc">
            <div class="tuijian">
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <span>置顶</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <span class="guanggao">广告</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="chunwenzi">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="tmanzhi">
                        <span class="guanggao">广告</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="zouyou">
                    <div class="zouyoul">
                        <p class="title">许昌一公司助力“华龙一号”核电项目</p>

                        <div class="tmanzhi">
                            <span class="guanggao">广告</span>

                            <p class="nthp1">477人阅读</p>

                            <p class="nthp2">1小时前</p>
                        </div>
                    </div>
                    <div class="zouyour">
                        <i>
                            <img src="../images/company/car1.png" alt=""/>
                        </i>
                    </div>
                </a>
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <span>置顶</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
            </div>

            <!--新闻-->
            <div class="xinwen">
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油2
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <span>置顶</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <span class="guanggao">广告</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="chunwenzi">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="tmanzhi">
                        <span class="guanggao">广告</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="zouyou">
                    <div class="zouyoul">
                        <p class="title">许昌一公司助力“华龙一号”核电项目</p>

                        <div class="tmanzhi">
                            <span class="guanggao">广告</span>

                            <p class="nthp1">477人阅读</p>

                            <p class="nthp2">1小时前</p>
                        </div>
                    </div>
                    <div class="zouyour">
                        <i>
                            <img src="../images/company/car1.png" alt=""/>
                        </i>
                    </div>
                </a>
                <a href="javascript:;" class="zouyou">
                    <div class="zouyoul">
                        <p class="title">许昌一公司助力“华龙一号”核电项目</p>

                        <div class="tmanzhi">
                            <p class="nthp1">477人阅读</p>

                            <p class="nthp2">1小时前</p>
                        </div>
                    </div>
                    <div class="zouyour">
                        <i>
                            <img src="../images/company/car1.png" alt=""/>
                        </i>
                    </div>
                </a>
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <span>置顶</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
            </div>
            <!--政策-->
            <div class="zhengce">
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油3
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <span>置顶</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <span class="guanggao">广告</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="chunwenzi">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="tmanzhi">
                        <span class="guanggao">广告</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
                <a href="javascript:;" class="zouyou">
                    <div class="zouyoul">
                        <p class="title">许昌一公司助力“华龙一号”核电项目</p>

                        <div class="tmanzhi">
                            <span class="guanggao">广告</span>

                            <p class="nthp1">477人阅读</p>

                            <p class="nthp2">1小时前</p>
                        </div>
                    </div>
                    <div class="zouyour">
                        <i>
                            <img src="../images/company/car1.png" alt=""/>
                        </i>
                    </div>
                </a>
                <a href="javascript:;" class="zouyou">
                    <div class="zouyoul">
                        <p class="title">许昌一公司助力“华龙一号”核电项目</p>

                        <div class="tmanzhi">
                            <p class="nthp1">477人阅读</p>

                            <p class="nthp2">1小时前</p>
                        </div>
                    </div>
                    <div class="zouyour">
                        <i>
                            <img src="../images/company/car1.png" alt=""/>
                        </i>
                    </div>
                </a>
                <a href="javascript:;" class="shangxia">
                    <p class="title">大数据：塑造国家竞争新优势|大数据成为新的钢铁和石油
                    </p>

                    <div class="picture">
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/haima.png" alt=""/>
                        </i>
                    </div>
                    <div class="tmanzhi">
                        <span>置顶</span>

                        <p class="nthp1">477人阅读</p>

                        <p class="nthp2">1小时前</p>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <!--新闻-->


</div>
<script>
    $(document).ready(function () {
        $(".infotopcc>a").on("click", function () {
            $(".newinfoc>div").hide().eq($(this).index()).show()
        })
    })
</script>
</body>
</html>