<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>线下展会</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/zhanhui.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <style>
        .box {
            max-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
        .active{
            background-color: #ffffff;
            color: #122a8c;
        }
        body{
            padding-top: .8rem;
            padding-bottom: 1rem;
        }
    </style>
</head>
<body>
<div class="box">
    <!--公共头部布局开始-->
    <div class="header">
        <div class="header-c">
            <div class="hc-l">
                <a href="javascript:history.back();">
                    <img src="../images/own/back.png" alt=""/>
                </a>
                <p>返回</p>
            </div>
            <div class="hc-c">
                <div class="rltop2">
                    <a href="havascript:;" class="active">国内展会</a>
                    <a href="havascript:;">国外展会</a>
                </div>
            </div>
            <div class="hc-r">
                <a href="javascript:;" class="search">
                    <img src="../images/own/search.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!--公共头部布局开始-->







    <div id="tabs-container" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="content-slide">
                    <!--筛选开始-->
                    <div class="threeseach">
                        <a href="javascript:;">
                            <p>不限行业</p>
                            <i>
                                <img src="../images/own/daosanjiao.png" alt=""/>
                            </i>
                        </a>
                        <a href="javascript:;">
                            <p>不限区域</p>
                            <i>
                                <img src="../images/own/daosanjiao.png" alt=""/>
                            </i>
                        </a>
                        <a href="javascript:;">
                            <p>高级筛选</p>
                            <i>
                                <img src="../images/own/daosanjiao.png" alt=""/>
                            </i>
                        </a>
                    </div>
                    <!--筛选结束-->

                    <!--展会-->
                    <div class="zhanhuilist">
                        <a href="zhanhuixiangqing.html" class="zhanhuilistc">
                            <i class="zhanhuidatu">
                                <img src="../images/own/zhanhui.png" alt=""/>
                            </i>
                            <p class="ptitle">2018第八届中国北京国际机器人展览会</p>
                            <p class="timeinfo">
                                <i>
                                    <img src="../images/nav/l.png" alt=""/>
                                </i>
                                2018-06-13 ~ 2018-06-15
                            </p>
                            <p class="positioninfo">
                                <i>
                                    <img src="../images/own/position.png" alt=""/>
                                </i>
                                北京中国国际展览中心（静安庄馆）
                            </p>
                        </a>
                        <a href="zhanhuixiangqing.html" class="zhanhuilistc">
                            <i class="zhanhuidatu">
                                <img src="../images/own/zhanhui.png" alt=""/>
                            </i>
                            <p class="ptitle">2018第八届中国北京国际机器人展览会</p>
                            <p class="timeinfo">
                                <i>
                                    <img src="../images/nav/l.png" alt=""/>
                                </i>
                                2018-06-13 ~ 2018-06-15
                            </p>
                            <p class="positioninfo">
                                <i>
                                    <img src="../images/own/position.png" alt=""/>
                                </i>
                                北京中国国际展览中心（静安庄馆）
                            </p>
                        </a>
                        <a href="zhanhuixiangqing.html" class="zhanhuilistc">
                            <i class="zhanhuidatu">
                                <img src="../images/own/zhanhui.png" alt=""/>
                            </i>
                            <p class="ptitle">2018第八届中国北京国际机器人展览会</p>
                            <p class="timeinfo">
                                <i>
                                    <img src="../images/nav/l.png" alt=""/>
                                </i>
                                2018-06-13 ~ 2018-06-15
                            </p>
                            <p class="positioninfo">
                                <i>
                                    <img src="../images/own/position.png" alt=""/>
                                </i>
                                北京中国国际展览中心（静安庄馆）
                            </p>
                        </a>
                    </div>
                    <!--展会-->
                </div>
            </div>
            <div class="swiper-slide">
                <div class="content-slide">
                    <!--筛选开始-->
                    <div class="threeseach">
                        <a href="javascript:;">
                            <p>不限行业</p>
                            <i>
                                <img src="../images/own/daosanjiao.png" alt=""/>
                            </i>
                        </a>
                        <a href="javascript:;">
                            <p>不限区域</p>
                            <i>
                                <img src="../images/own/daosanjiao.png" alt=""/>
                            </i>
                        </a>
                        <a href="javascript:;">
                            <p>高级筛选</p>
                            <i>
                                <img src="../images/own/daosanjiao.png" alt=""/>
                            </i>
                        </a>
                    </div>
                    <!--筛选结束-->

                    <!--展会-->
                    <div class="zhanhuilist">
                        <a href="zhanhuixiangqing.html" class="zhanhuilistc">
                            <i class="zhanhuidatu">
                                <img src="../images/own/munihei.png" alt=""/>
                            </i>
                            <p class="ptitle">2018第八届中国北京国际机器人展览会</p>
                            <p class="timeinfo">
                                <i>
                                    <img src="../images/nav/l.png" alt=""/>
                                </i>
                                2018-06-13 ~ 2018-06-15
                            </p>
                            <p class="positioninfo">
                                <i>
                                    <img src="../images/own/position.png" alt=""/>
                                </i>
                                北京中国国际展览中心（静安庄馆）
                            </p>
                        </a>
                        <a href="zhanhuixiangqing.html" class="zhanhuilistc">
                            <i class="zhanhuidatu">
                                <img src="../images/own//munihei.png" alt=""/>
                            </i>
                            <p class="ptitle">2018第八届中国北京国际机器人展览会</p>
                            <p class="timeinfo">
                                <i>
                                    <img src="../images/nav/l.png" alt=""/>
                                </i>
                                2018-06-13 ~ 2018-06-15
                            </p>
                            <p class="positioninfo">
                                <i>
                                    <img src="../images/own/position.png" alt=""/>
                                </i>
                                北京中国国际展览中心（静安庄馆）
                            </p>
                        </a>
                        <a href="zhanhuixiangqing.html" class="zhanhuilistc">
                            <i class="zhanhuidatu">
                                <img src="../images/own//munihei.png" alt=""/>
                            </i>
                            <p class="ptitle">2018第八届中国北京国际机器人展览会</p>
                            <p class="timeinfo">
                                <i>
                                    <img src="../images/nav/l.png" alt=""/>
                                </i>
                                2018-06-13 ~ 2018-06-15
                            </p>
                            <p class="positioninfo">
                                <i>
                                    <img src="../images/own/position.png" alt=""/>
                                </i>
                                北京中国国际展览中心（静安庄馆）
                            </p>
                        </a>
                    </div>
                    <!--展会-->
                </div>
            </div>
        </div>
    </div>

    <!--更多-->
    <div class="fabuleixing">
        <div class="fabu">
            <p class="ptoptil">请选择您要发布的类型</p>
            <div class="ttrpo">
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/tuwen.png" alt=""/>
                    </i>
                    <p>图文</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/lianjie.png" alt=""/>
                    </i>
                    <p>链接</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/shipin.png" alt=""/>
                    </i>
                    <p>视频</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/zhibo.png" alt=""/>
                    </i>
                    <p>直播</p>
                </a>
            </div>
            <div class="chafoot">
                <a href="javascript:;">
                    <img src="../images/own/cha.png" alt=""/>
                </a>
                <p>取消</p>
            </div>
        </div>
    </div>
    <!--更多-->

    <!--底部导航开始-->
    <div class="foot">
        <div class="foot-c">
            <div class="fc-l">
                <a href="index.html">
                    <i>
                        <img src="../images/nav/home.png" alt=""/>
                    </i>
                    <p class="redp">首页</p>
                </a>
                <a href="messagelist.html" class="ms">
                    <i>
                        <img src="../images/nav/message.png" alt=""/>
                    </i>
                    <p>消息</p>
                    <i class="h">
                        <img src="../images/own/hongdian.png" alt=""/>
                    </i>
                </a>
            </div>
            <div class="fc-c1">

            </div>
            <div class="fc-c">
                <a href="javascript:;">
                    <img src="../images/nav/fabu.png" alt="" class="fabuimg"/>
                </a>
                <p>发布</p>
            </div>
            <div class="fc-l">
                <a href="faxian.html">
                    <i>
                        <img src="../images/nav/faxian.png" alt=""/>
                    </i>
                    <p>发现</p>
                </a>
                <a href="my.html">
                    <i>
                        <img src="../images/nav/my.png" alt=""/>
                    </i>
                    <p>我的</p>
                </a>
            </div>
        </div>
    </div>
    <!--底部导航结束-->


</div>
<script>
    $(document).ready(function () {
        $(".swiper-wrapper").height($(".swiper-wrapper .swiper-slide").eq(0).find(".content-slide").height())
        $(".swiper-wrapper").width($(".swiper-wrapper .swiper-slide").eq(0).find(".content-slide").width())
        var tabsSwiper = new Swiper('#tabs-container',{
            speed:500,
            onSlideChangeStart: function(){
                console.log($(".swiper-wrapper .swiper-slide").eq(tabsSwiper.activeIndex).find(".content-slide").height())
                console.log($(".swiper-wrapper .swiper-slide").eq(tabsSwiper.activeIndex).find(".content-slide").width())
                $(".swiper-wrapper").height($(".swiper-wrapper .swiper-slide").eq(tabsSwiper.activeIndex).find(".content-slide").height())
                $(".rltop2 .active").removeClass('active')
                $(".rltop2 a").eq(tabsSwiper.activeIndex).addClass('active')
            }
        })
        $(".rltop2 a").on('touchstart mousedown',function(e){
            e.preventDefault()
            $(".rltop2 .active").removeClass('active')
            $(this).addClass('active')
            tabsSwiper.slideTo( $(this).index() )
        })
        $(".rltop2 a").click(function(e){
            e.preventDefault()
        })

        $(".fabuimg").on("click",function(){
            $(".fabuleixing").show()
            $(".ttrpo>a").addClass("animated bounceInUp")
        })

        $(".fabuleixing").on("click",function(){
            $(".fabuleixing").hide()
        })
        $('.fabu').on('click',function(e){
            e.stopPropagation();
        })

        $(".chafoot").on("click",function(){
            $(".fabuleixing").hide()
        })

    })
</script>
</body>
</html>