<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>制造圈</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/swipebox.css"/>
    <link rel="stylesheet" href="../css/zy.media.min.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <script src="../js/echo.min.js"></script>
    <script src="../js/jquery.swipebox.js"></script>
    <style>
        .active{
            background-color: #ffffff;
            color: #122a8c;
        }
        body{
            padding-top: .8rem;
            padding-bottom: .9rem;
        }
    </style>
</head>
<body>
<div class="box">
    <!--公共头部布局开始-->
    <div class="header">
        <div class="header-c">
            <div class="hc-l">
                <a href="javascript:history.back();">
                    <img src="../images/own/back.png" alt=""/>
                </a>
                <p>返回</p>
            </div>
            <div class="hc-c">
                <div class="rltop3">
                    <a href="havascript:;" class="active">热门</a>
                    <a href="havascript:;">关注</a>
                </div>
            </div>
            <div class="hc-r">
                <a href="javascript:;" class="search">
                    <img src="../images/own/search.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!--公共头部布局开始-->

    <!--内容页tab-->
    <div id="tabs-container" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="content-slide">
                    <!--筛选开始-->
                    <div class="threeseach">
                        <a href="javascript:;">
                            <p>不限行业</p>
                            <i>
                                <img src="../images/own/daosanjiao.png" alt=""/>
                            </i>
                        </a>
                        <a href="javascript:;">
                            <p>不限区域</p>
                            <i>
                                <img src="../images/own/daosanjiao.png" alt=""/>
                            </i>
                        </a>
                        <a href="javascript:;">
                            <p>高级筛选</p>
                            <i>
                                <img src="../images/own/daosanjiao.png" alt=""/>
                            </i>
                        </a>
                    </div>
                    <!--筛选结束-->

                    <!--企业动态-->

                    <div class="gongying ppqy">
                        <div class="gyc">
                            <div class="gyc1">
                                <a href="mingpian.html" class="tx">
                                    <img src="" alt="" data-echo="../images/own/tx.png"/>
                                </a>
                                <p>
                                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                                    <span>一小时前</span>
                                </p>
                            </div>
                            <div class="gyc2">
                                <a href="zhizaoquanxiangqing.html">
                                    <p>供应【壳牌】发电机组润滑油、压缩机润滑油、齿轮
                                        油、传动油等多种润滑油品种，延长设备使用寿命以
                                        及减少停机时间，从而为您显著节约成本。
                                    </p>
                                </a>
                            </div>
                            <div class="gyc3">
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                            </div>
                            <div style="font-size: .24rem;color: #7179af;margin-top: .2rem">
                                轴承气动 丨球轴承 丨 滚针轴承
                            </div>
                            <div class="pp-4">
                                <div class="pp4-l">
                                    <div class="picture">
                                        <i class="position">
                                            <img src="../images/own/position.png" alt=""/>
                                        </i>
                                        <span>河南 郑州</span>
                                    </div>
                                    <div class="picture">
                                        <i class="eye">
                                            <img src="../images/own/eye.png" alt=""/>
                                        </i>
                                        <span>300</span>
                                    </div>
                                </div>
                                <div class="pp4-r">
                                    <a href="javascript:;" class="circle">
                                        <i class="hand">
                                            <img src="../images/own/hand.png" alt="" class="polik"/>
                                        </i>
                                        <span>9025</span>
                                    </a>
                                    <a href="pinglunxiangqing.html" class="circle">
                                        <i class="message">
                                            <img src="../images/own/message.png" alt=""/>
                                        </i>
                                        <span>555</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>

                    <div class="gongying ppqy">
                        <div class="gyc">
                            <div class="gyc1">
                                <a href="javascript:;" class="tx">
                                    <img src="" alt="" data-echo="../images/own/guanfang.png"/>
                                </a>

                                <p>
                                    <a href="javascript:;">网博会官方</a>
                                    <span>一小时前</span>
                                </p>
                                <p style="position: absolute;right: 0;color: #b0b0b0;font-size: .23rem">广告</p>
                            </div>
                            <div class="gyc2">
                                <p>2018年中国(国际)装备制造业网上博览会邀您来参展！
                                    展示实力、节省成本、精准营销、绿色环保
                                </p>
                            </div>
                            <div class="gyc3">
                                <i class="more1">
                                    <img src="" alt="" data-echo="../images/own/gg.png"/>
                                </i>
                            </div>
                            <div class="pp-4">
                                <div class="pp4-l">
                                    <div class="picture">
                                        <i class="position">
                                            <img src="../images/own/position.png" alt=""/>
                                        </i>
                                        <span>河南 郑州</span>
                                    </div>
                                    <div class="picture">
                                        <i class="eye">
                                            <img src="../images/own/eye.png" alt=""/>
                                        </i>
                                        <span>300</span>
                                    </div>
                                </div>
                                <div class="pp4-r">
                                    <a href="javascript:;" class="circle">
                                        <i class="hand">
                                            <img src="../images/own/hand.png" alt="" class="polik"/>
                                        </i>
                                        <span>9025</span>
                                    </a>
                                    <a href="javascript:;" class="circle">
                                        <i class="message">
                                            <img src="../images/own/message.png" alt=""/>
                                        </i>
                                        <span>555</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>

                    <div class="gongying ppqy">
                        <div class="gyc">
                            <div class="gyc1">
                                <a href="mingpian.html" class="tx">
                                    <img src="" alt="" data-echo="../images/own/haima.png"/>
                                </a>

                                <p>
                                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                                    <span>一小时前</span>
                                </p>
                                <p style="position: absolute;right: 0;color: #e83328;font-size: .36rem">￥99999</p>
                            </div>
                            <div class="gyc2">
                                <a href="zhizaoquanxiangqing.html">
                                    <p>VL系列泛用型立式综合加工中心，大侨核心产品，高
                                        精度、高刚性、高稳定性，主轴转速10000
                                    </p>
                                </a>
                            </div>
                            <div class="playvideo">
                                <div class="zy_media">
                                    <video poster="../images/nav/banner1.png" data-config='{"mediaTitle": ""}'>
                                        <source src="../images/mv/mop4.mp4" type="video/mp4">
                                        您的浏览器不支持HTML5视频
                                    </video>
                                </div>
                                <!--<div id="modelView">&nbsp;</div>-->
                            </div>
                            <div style="font-size: .24rem;color: #7179af;margin-top: .2rem">
                                轴承气动 丨球轴承 丨 滚针轴承
                            </div>
                            <div class="pp-4">
                                <div class="pp4-l">
                                    <div class="picture">
                                        <i class="position">
                                            <img src="../images/own/position.png" alt=""/>
                                        </i>
                                        <span>河南 郑州</span>
                                    </div>
                                    <div class="picture">
                                        <i class="eye">
                                            <img src="../images/own/eye.png" alt=""/>
                                        </i>
                                        <span>300</span>
                                    </div>
                                </div>
                                <div class="pp4-r">
                                    <a href="javascript:;" class="circle">
                                        <i class="hand">
                                            <img src="../images/own/hand.png" alt="" class="polik"/>
                                        </i>
                                        <span>9025</span>
                                    </a>
                                    <a href="javascript:;" class="circle">
                                        <i class="message">
                                            <img src="../images/own/message.png" alt=""/>
                                        </i>
                                        <span>555</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>


                    <div class="gongying ppqy">
                        <div class="gyc">
                            <div class="gyc1">
                                <a href="mingpian.html" class="tx">
                                    <img src="" alt="" data-echo="../images/own/haima.png"/>
                                </a>

                                <p>
                                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                                    <span>一小时前</span>
                                </p>
                                <p style="position: absolute;right: 0;color: #e83328;font-size: .36rem">￥99999</p>
                            </div>
                            <div class="gyc2">
                                <a href="zhizaoquanxiangqing.html">
                                    <p>VL系列泛用型立式综合加工中心，大侨核心产品，高
                                        精度、高刚性、高稳定性，主轴转速10000
                                    </p>
                                </a>
                            </div>
                            <div class="playvideo">
                                <div class="zy_media">
                                    <video poster="../images/nav/banner1.png" data-config='{"mediaTitle": ""}'>
                                        <source src="../images/mv/mop4.mp4" type="video/mp4">
                                        您的浏览器不支持HTML5视频
                                    </video>
                                </div>
                                <!--<div id="modelView">&nbsp;</div>-->
                            </div>
                            <div style="font-size: .24rem;color: #7179af;margin-top: .2rem">
                                轴承气动 丨球轴承 丨 滚针轴承
                            </div>
                            <div class="pp-4">
                                <div class="pp4-l">
                                    <div class="picture">
                                        <i class="position">
                                            <img src="../images/own/position.png" alt=""/>
                                        </i>
                                        <span>河南 郑州</span>
                                    </div>
                                    <div class="picture">
                                        <i class="eye">
                                            <img src="../images/own/eye.png" alt=""/>
                                        </i>
                                        <span>300</span>
                                    </div>
                                </div>
                                <div class="pp4-r">
                                    <a href="javascript:;" class="circle">
                                        <i class="hand">
                                            <img src="../images/own/hand.png" alt="" class="polik"/>
                                        </i>
                                        <span>9025</span>
                                    </a>
                                    <a href="javascript:;" class="circle">
                                        <i class="message">
                                            <img src="../images/own/message.png" alt=""/>
                                        </i>
                                        <span>555</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>
                    <!--企业动态-->
                </div>
            </div>
            <div class="swiper-slide">
                <div class="content-slide">
                    <div class="gongying ppqy">
                        <div class="gyc">
                            <div class="gyc1">
                                <a href="mingpian.html" class="tx">
                                    <img src="" alt="" data-echo="../images/own/haima.png"/>
                                </a>

                                <p>
                                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                                    <span>一小时前</span>
                                </p>
                                <p style="position: absolute;right: 0;color: #e83328;font-size: .36rem">￥99999</p>
                            </div>
                            <div class="gyc2">
                                <a href="zhizaoquanxiangqing.html">
                                    <p>VL系列泛用型立式综合加工中心，大侨核心产品，高
                                        精度、高刚性、高稳定性，主轴转速10000
                                    </p>
                                </a>
                            </div>
                            <div class="playvideo">
                                <div class="zy_media">
                                    <video poster="../images/nav/banner1.png" data-config='{"mediaTitle": ""}'>
                                        <source src="../images/mv/mop4.mp4" type="video/mp4">
                                        您的浏览器不支持HTML5视频
                                    </video>
                                </div>
                                <!--<div id="modelView">&nbsp;</div>-->
                            </div>
                            <div style="font-size: .24rem;color: #7179af;margin-top: .2rem">
                                轴承气动 丨球轴承 丨 滚针轴承
                            </div>
                            <div class="pp-4">
                                <div class="pp4-l">
                                    <div class="picture">
                                        <i class="position">
                                            <img src="../images/own/position.png" alt=""/>
                                        </i>
                                        <span>河南 郑州</span>
                                    </div>
                                    <div class="picture">
                                        <i class="eye">
                                            <img src="../images/own/eye.png" alt=""/>
                                        </i>
                                        <span>300</span>
                                    </div>
                                </div>
                                <div class="pp4-r">
                                    <a href="javascript:;" class="circle">
                                        <i class="hand">
                                            <img src="../images/own/hand.png" alt="" class="polik"/>
                                        </i>
                                        <span>9025</span>
                                    </a>
                                    <a href="javascript:;" class="circle">
                                        <i class="message">
                                            <img src="../images/own/message.png" alt=""/>
                                        </i>
                                        <span>555</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>
                    <div class="gongying ppqy">
                        <div class="gyc">
                            <div class="gyc1">
                                <a href="mingpian.html" class="tx">
                                    <img src="" alt="" data-echo="../images/own/tx.png"/>
                                </a>
                                <p>
                                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                                    <span>一小时前</span>
                                </p>
                            </div>
                            <div class="gyc2">
                                <a href="zhizaoquanxiangqing.html">
                                    <p>供应【壳牌】发电机组润滑油、压缩机润滑油、齿轮
                                        油、传动油等多种润滑油品种，延长设备使用寿命以
                                        及减少停机时间，从而为您显著节约成本。
                                    </p>
                                </a>
                            </div>
                            <div class="gyc3">
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                            </div>
                            <div style="font-size: .24rem;color: #7179af;margin-top: .2rem">
                                轴承气动 丨球轴承 丨 滚针轴承
                            </div>
                            <div class="pp-4">
                                <div class="pp4-l">
                                    <div class="picture">
                                        <i class="position">
                                            <img src="../images/own/position.png" alt=""/>
                                        </i>
                                        <span>河南 郑州</span>
                                    </div>
                                    <div class="picture">
                                        <i class="eye">
                                            <img src="../images/own/eye.png" alt=""/>
                                        </i>
                                        <span>300</span>
                                    </div>
                                </div>
                                <div class="pp4-r">
                                    <a href="javascript:;" class="circle">
                                        <i class="hand">
                                            <img src="../images/own/hand.png" alt="" class="polik"/>
                                        </i>
                                        <span>9025</span>
                                    </a>
                                    <a href="pinglunxiangqing.html" class="circle">
                                        <i class="message">
                                            <img src="../images/own/message.png" alt=""/>
                                        </i>
                                        <span>555</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>


                    <div class="gongying ppqy">
                        <div class="gyc">
                            <div class="gyc1">
                                <a href="mingpian.html" class="tx">
                                    <img src="" alt="" data-echo="../images/own/tx.png"/>
                                </a>
                                <p>
                                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                                    <span>一小时前</span>
                                </p>
                            </div>
                            <div class="gyc2">
                                <a href="zhizaoquanxiangqing.html">
                                    <p>供应【壳牌】发电机组润滑油、压缩机润滑油、齿轮
                                        油、传动油等多种润滑油品种，延长设备使用寿命以
                                        及减少停机时间，从而为您显著节约成本。
                                    </p>
                                </a>
                            </div>
                            <div class="gyc3">
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                            </div>
                            <div style="font-size: .24rem;color: #7179af;margin-top: .2rem">
                                轴承气动 丨球轴承 丨 滚针轴承
                            </div>
                            <div class="pp-4">
                                <div class="pp4-l">
                                    <div class="picture">
                                        <i class="position">
                                            <img src="../images/own/position.png" alt=""/>
                                        </i>
                                        <span>河南 郑州</span>
                                    </div>
                                    <div class="picture">
                                        <i class="eye">
                                            <img src="../images/own/eye.png" alt=""/>
                                        </i>
                                        <span>300</span>
                                    </div>
                                </div>
                                <div class="pp4-r">
                                    <a href="javascript:;" class="circle">
                                        <i class="hand">
                                            <img src="../images/own/hand.png" alt="" class="polik"/>
                                        </i>
                                        <span>9025</span>
                                    </a>
                                    <a href="pinglunxiangqing.html" class="circle">
                                        <i class="message">
                                            <img src="../images/own/message.png" alt=""/>
                                        </i>
                                        <span>555</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>

                    <div class="gongying ppqy">
                        <div class="gyc">
                            <div class="gyc1">
                                <a href="mingpian.html" class="tx">
                                    <img src="" alt="" data-echo="../images/own/tx.png"/>
                                </a>
                                <p>
                                    <a href="javascript:;">李霄霄-壳牌润滑油</a>
                                    <span>一小时前</span>
                                </p>
                            </div>
                            <div class="gyc2">
                                <a href="zhizaoquanxiangqing.html">
                                    <p>供应【壳牌】发电机组润滑油、压缩机润滑油、齿轮
                                        油、传动油等多种润滑油品种，延长设备使用寿命以
                                        及减少停机时间，从而为您显著节约成本。
                                    </p>
                                </a>
                            </div>
                            <div class="gyc3">
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                                <a href="../images/own/chanpin.png" class="swipebox1 more3" title="My Caption">
                                    <img src="" alt="" data-echo="../images/own/chanpin.png">
                                </a>
                            </div>
                            <div style="font-size: .24rem;color: #7179af;margin-top: .2rem">
                                轴承气动 丨球轴承 丨 滚针轴承
                            </div>
                            <div class="pp-4">
                                <div class="pp4-l">
                                    <div class="picture">
                                        <i class="position">
                                            <img src="../images/own/position.png" alt=""/>
                                        </i>
                                        <span>河南 郑州</span>
                                    </div>
                                    <div class="picture">
                                        <i class="eye">
                                            <img src="../images/own/eye.png" alt=""/>
                                        </i>
                                        <span>300</span>
                                    </div>
                                </div>
                                <div class="pp4-r">
                                    <a href="javascript:;" class="circle">
                                        <i class="hand">
                                            <img src="../images/own/hand.png" alt="" class="polik"/>
                                        </i>
                                        <span>9025</span>
                                    </a>
                                    <a href="pinglunxiangqing.html" class="circle">
                                        <i class="message">
                                            <img src="../images/own/message.png" alt=""/>
                                        </i>
                                        <span>555</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: .2rem;width: 7.5rem;background-color: #f4f4f4;margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>

    <!--内容页tab-->


    <!--更多-->
    <div class="fabuleixing">
        <div class="fabu">
            <p class="ptoptil">请选择您要发布的类型</p>
            <div class="ttrpo">
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/tuwen.png" alt=""/>
                    </i>
                    <p>图文</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/lianjie.png" alt=""/>
                    </i>
                    <p>链接</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/shipin.png" alt=""/>
                    </i>
                    <p>视频</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/zhibo.png" alt=""/>
                    </i>
                    <p>直播</p>
                </a>
            </div>
            <div class="chafoot">
                <a href="javascript:;">
                    <img src="../images/own/cha.png" alt=""/>
                </a>
                <p>取消</p>
            </div>
        </div>
    </div>
    <!--更多-->

    <!--底部导航开始-->
    <div class="foot">
        <div class="foot-c">
            <div class="fc-l">
                <a href="index.html">
                    <i>
                        <img src="../images/nav/home.png" alt=""/>
                    </i>
                    <p class="redp">首页</p>
                </a>
                <a href="messagelist.html" class="ms">
                    <i>
                        <img src="../images/nav/message.png" alt=""/>
                    </i>
                    <p>消息</p>
                    <i class="h">
                        <img src="../images/own/hongdian.png" alt=""/>
                    </i>
                </a>
            </div>
            <div class="fc-c1">

            </div>
            <div class="fc-c">
                <a href="javascript:;">
                    <img src="../images/nav/fabu.png" alt="" class="fabuimg"/>
                </a>
                <p>发布</p>
            </div>
            <div class="fc-l">
                <a href="faxian.html">
                    <i>
                        <img src="../images/nav/faxian.png" alt=""/>
                    </i>
                    <p>发现</p>
                </a>
                <a href="my.html">
                    <i>
                        <img src="../images/nav/my.png" alt=""/>
                    </i>
                    <p>我的</p>
                </a>
            </div>
        </div>
    </div>
    <!--底部导航结束-->

</div>
<script src="../js/zy.media.min.js"></script>
<script>
    $(document).ready(function () {
        $(".swiper-wrapper").height($(".swiper-wrapper .swiper-slide").eq(0).find(".content-slide").height())
        var tabsSwiper = new Swiper('#tabs-container',{
            speed:500,
            onSlideChangeStart: function(){
                console.log($(".swiper-wrapper .swiper-slide").eq(tabsSwiper.activeIndex).find(".content-slide").height())
                $(".swiper-wrapper").height($(".swiper-wrapper .swiper-slide").eq(tabsSwiper.activeIndex).find(".content-slide").height())
                $(".rltop3 .active").removeClass('active')
                $(".rltop3 a").eq(tabsSwiper.activeIndex).addClass('active')
            }
        })
        $(".rltop3 a").on('touchstart mousedown',function(e){
            e.preventDefault()
            $(".rltop3 .active").removeClass('active')
            $(this).addClass('active')
            tabsSwiper.slideTo( $(this).index() )
        })
        $(".rltop3 a").click(function(e){
            e.preventDefault()
        })



        $(".slide").on("click",function(){
            $(this).css({
                "borderBottom" : ".05rem solid #122a8c",
                "color" : "#122a8c",
            }).siblings().css({
                "color" : "#666666",
                "borderBottom" : "none",
            })
        })

        $(".swipebox1").swipebox();


        $(".circle").on("click",function(){
            $(this).find(".polik").attr("src","../images/own/handb.png")
        })

        //        延迟加载
        echo.init({
            offset: 100,
            throttle: 250,
            unload: false,
            callback: function (element, op) {
                console.log('loaded ok.');
            }
        });
//        延迟加载

        //        视频
        zymedia('video',{autoplay: false});
//        视频



        $(".fabuimg").on("click",function(){
            $(".fabuleixing").show()
            $(".ttrpo>a").addClass("animated bounceInUp")
        })

        $(".fabuleixing").on("click",function(){
            $(".fabuleixing").hide()
        })
        $('.fabu').on('click',function(e){
            e.stopPropagation();
        })

        $(".chafoot").on("click",function(){
            $(".fabuleixing").hide()
        })
    })
</script>
</body>
</html>