.box{
    max-width: 7.5rem;
    background: #eeeeee;
    overflow: hidden;
}
.ai{
    width: 4.2rem!important;
}
.heng{
    background-color: #fff;
}
.dx-sq{
    width: 7.1rem;
    height: 3.18rem;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}
.sq-top{
    width: 7.1rem;
    height: .87rem;
    border-bottom: .01rem solid #eeeeee;
    /*background-color: #223c8b;*/
}
.sq-top p{
    color: #2c2c2c;
    font-size: .32rem;
    line-height: .87rem;
    font-weight: bold;
}
.cir1{
    width: .32rem;
    height: .32rem;
    background-color: #919191;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.cir2{
    width: .23rem;
    height: .23rem;
    border-radius: 50%;
    background-color: #343434;
    margin: 0 auto;
}
.f-one{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.f-one p{
    margin-left: .1rem;
    color: #adadad;
    font-size: .3rem;
    margin-top: .16rem;
}
.ccnnmm{
    display: block;
    width: 7.1rem;
    height: .65rem;
    border-left: .05rem solid #c7c7c7;
    position: absolute;
    top: 1.51rem;
    left: .15rem;
}
.cir3{
    background-color: #8795c0;
}
.cir4{
    background-color: #223c8b;
}
.popop{
    color: #223c8b!important;
}



/*≥µ¥˚…Í«ÎœÍ«È*/
.ggb{
    margin-top: .2rem;
    background-color: #fff;
}
.cd-sq{
    width: 7.1rem;
    height: 8.4rem;
    margin: 0 auto;
    background-color: #fff;
}
.cd-foot{
    line-height: .5rem;
    color: #686868;
    font-size: .26rem;
}
.zhao1{
    width: 1.32rem;
    height: 1.04rem;
    /*float: right;*/
}
.zhao1 img{
    width: 100%;
}
.zhao2{
    width: 1.32rem;
    height: 1.04rem;
    /*float: right;*/
}
.zhao2 img{
    width: 100%;
}
.zhao3{
    width: 1.32rem;
    height: 1.04rem;
    /*float: right;*/
}
.zhao3 img{
    width: 100%;
}
.hengheng{
    /*display: inline-block;*/
    width: 7.1rem;
    height: .84rem;
    display: flex;
    justify-content: flex-start;
}
.beizhuxinxi{
    margin-top: .2rem;
}
/*≥µ¥˚…Í«ÎœÍ«ÈΩ· ¯*/



.bianhao{
    width: 7.5rem;
    height: 1.5rem;
    margin-top: .2rem;
    background-color: #fff;
}
.bianhaop{
    width: 7.1rem;
    height: 1.5rem;
    margin: 0 auto;
    background-color: #fff;
    color: #a4a4a4;
    font-size: .26rem;
}
.jjj{
    padding-top: .4rem;
}
.poiu{
    margin-top: .2rem;
}
.footbn{
    width: 7.5rem;
    height: .83rem;
}
.cnmb{
    margin-top: .2rem;
    width: 5.1rem;
    height: .83rem;
    border-radius: .1rem;
    background-color: #223c8b;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.cnmb p{
    color: #ffffff;
    font-size: .3rem;
}
.uhb{
    display: inline-block;
    width: 7.5rem;
    height: .9rem;
}