.box{
    max-width: 7.5rem;
    background-color: #eee;
    overflow: hidden;
}

/*提交成功开始*/
.tj-succent{
    background-color: #fff;
    width: 7.5rem;
    height: 1.9rem;
    margin-top: .07rem;
}
.tj-center{
    width: 7.1rem;
    height: 1.9rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tj-l{
    display: flex;
    justify-content: flex-end;
}
.tjl-l img{
    width: .76rem;
    height: .71rem;
    margin-top: .1rem;
}
.tjlr-p1{
    color: #000000;
    font-size: .34rem;
    font-weight: bold;
    margin-left: .45rem;
    margin-bottom: .1rem;
}
.tjlr-p2{
    color: #131313;
    font-size: .24rem;
    margin-left: .45rem;
    margin-top: .1rem;
}
.tjlr-p3{
    width: 1.8rem;
    height: .5rem;
    background-color: #e2383e;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .1rem;
}
.tjlr-p3 a{
    font-size: .28rem;
    color: #ffffff;
}
.tjlr-p4{
    margin-top: .1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: .5rem;
    background-color: #f5f4f9;

    border-radius: .5rem;
}
.tjlr-p4 a{
    color: #676668;
    font-size: .28rem;
}
/*提交成功结束*/




/*客服开始*/
.kefu{
    width: 7.5rem;
    height: 1.3rem;
    background-color: #fff;
    margin-top: .07rem;
}
.kefu-center{
    width: 7.1rem;
    height: 1.3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kf-l{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.kfl-l img{
    width: .95rem;
    height: .95rem;
    border-radius: 50%;
}
.kf-r img{
    width: .33rem;
    height: .48rem;
}
.kfl-p1{
    color: #000000;
    font-size: .3rem;
    margin-bottom: .1rem;
    margin-left: .3rem;
}
.kfl-p2{
    margin-top: .1rem;
    font-size: .24rem;
    color: #9d9d9d;
    margin-left: .3rem;
}
/*客服结束*/


/*二维码开始*/
.erweima{
    width: 7.5rem;
    height: 1.3rem;
    background-color: #fff;
    margin-top: .07rem;
}
.erweima-center{
    width: 7.1rem;
    height: 1.3rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ewm-l img{
    width: .83rem;
    height: .81rem;
}
.kfr-p1{
    color: #464646;
    font-size: .24rem;
    margin-left: .45rem;
    margin-bottom: .1rem;
    margin-top: .1rem;
}
.kfr-p1 span{
    color: #223c8b;
}
/*二维码结束*/


/*订单详细开始*/
.ddxx{
    width: 7.5rem;
    height: 4.45rem;
    background-color: #fff;
    margin-top: .07rem;
}
.ddxx-center{
    width: 7.1rem;
    height: 4.45rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ddxx-center ul li{
    width: 7.1rem;
    height: .88rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .01rem solid #eeeeee;
    color: #151515;
    font-size: .26rem;
}
/*订单详细结束*/


/*湖面开始*/
.humian{
    margin-top: .2rem;
    width: 7.5rem;
}
.humian img{
    width: 100%;
}



/*湖面结束*/