<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../src/jquery.vidbacking.css"/>
    <script src="../src/jquery-2.1.4.min.js"></script>
    <script src="../src/jquery.vidbacking.js"></script>
</head>
<body>
<video poster="screenshot1.jpg" autoplay muted loop class="vidbacking">
    <source src="../png/1.mp4" type="video/mp4">
    <source src="video1.webm" type="video/webm">
</video>
<script type="text/javascript">
    $(function(){
        $('body').vidbacking();
    });
</script>
</body>
</html>