<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/tijiaodingdan.css"/>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <link rel="stylesheet" href="../css/dingdanxiangqing.css"/>
    <link rel="stylesheet" href="../css/denglu.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <title>订单详情</title>
</head>
<body style="background-color: #f5f4f9">
    <div class="box">
        <!--顶部开始-->
        <div class="ys-4">
            <div class="ys-4-center">
                <a href="javascipt:;">
                    <img src="../images/baisejiantou.png" alt=""/>
                </a>
                <p>订单详情</p>
            </div>
        </div>
        <!--顶部结束-->

<!--申请进度-->
    <div class="heng">
        <div class="dx-sq">
            <div class="sq-top">
                <p>申请进度</p>
            </div>
            <div class="sq-foot">
                <div class="f-one">
                    <div class="cir1">
                        <div class="cir2"></div>
                    </div>
                    <p>您的订单提交成功 <br/>2017-02-08  11:41:35</p>
                </div>
                <div class="f-two">

                </div>
            </div>
            <span class="ccnnmm"></span>
            <div class="sq-foot">
                <div class="f-one">
                    <div class="cir1 cir3">
                        <div class="cir2 cir4"></div>
                    </div>
                    <p class="popop">您的订单提交成功 <br/>2017-02-08  11:41:35</p>
                </div>
                <div class="f-two">

                </div>
            </div>
        </div>
    </div>

        <!--进度结束-->



        <!-- 车贷详情-->
        <div class="ggb">
            <div class="cd-sq">
                <div class="sq-top">
                    <p>车贷申请详情</p>
                </div>
                <div class="cd-foot">
                    <p>车型：吉利汽车 TX4 汽油 MT 豪华(18.70万）</p>
                    <p>金融机构：机构名字</p>
                    <p>分期期数：24期</p>
                    <p>姓名：刘超</p>
                    <p>联系电话：18836836978</p>
                    <p>身份证号：41088219111111698</p>
                    <p>职业：厨师</p>
                    <p>工资收入：￥3000-￥5000每月</p>
                    <p>信用记录：良好</p>
                    <p>住房状态：已购房</p>
                    <p>社保：有社保</p>
                    <p>公积金：有公积金</p>
                    <div class="hengheng">
                        <p>证件照：</p>
                    <div class="zhao1">
                        <img src="../images/zheng1.png" alt=""/>
                    </div>
                    <div class="zhao2">
                        <img src="../images/zheng1.png" alt=""/>
                    </div>
                    <div class="zhao3">
                        <img src="../images/zheng1.png" alt=""/>
                    </div>
                    </div>
                    <p class="beizhuxinxi">备注信息：无</p>
                </div>
            </div>
        </div>
        <!-- 车贷详情结束-->



        <!--编号-->
        <div class="bianhao">
            <div class="bianhaop">
                <p class="jjj">订单编号：368949836</p>
                <p class="poiu">订单创建时间：2017-04-06 10:30</p>
            </div>
        </div>
        <!--编号结束-->

        <div class="footbn">
            <button class="cnmb">
                <p>联系商家</p>
            </button>
        </div>
        <span class="uhb"></span>

</div>
</body>
</html>