<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="../js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../css/goucheliucheng.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <title>个人资料</title>
</head>
<body style="background-color: #f5f4f9">
    <div class="box">


        <!--个人资料头部开始-->
        <div class="ys-4">
            <div class="ys-4-center">
                <a href="javascipt:;">
                    <img src="../images/baisejiantou.png" alt=""/>
                </a>
                <p>个人资料</p>
            </div>
        </div>
        <!--个人资料头部结束-->

        <!--头像开始-->
        <div class="tx">
            <div class="tx-center">
                <a href="javascript:;">
                    <p>头像</p>
                    <p class="tx-p1">
                        <i>
                            <img src="../images/ido.png" alt=""/>
                        </i>
                        <img src="../images/huisejiantou.png" alt="" class="huisejiantou"/>
                    </p>
                </a>
            </div>
        </div>
        <!--头像结束-->


        <!--资料列表开始-->
        <div class="zllb">
            <div class="zllb-center">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <p class="wh-c">
                                昵称
                            </p>
                            <p class="wh-o">
                                请修改
                                <img src="../images/huisejiantou.png" alt=""/>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <p class="wh-c">
                                性别
                            </p>
                            <p class="wh-o">
                                请修改
                                <img src="../images/huisejiantou.png" alt=""/>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <p class="wh-c">
                                出生年月
                            </p>
                            <p class="wh-o">
                                请修改
                                <img src="../images/huisejiantou.png" alt=""/>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <p class="wh-c">
                                星座
                            </p>
                            <p class="wh-o">
                                请修改
                                <img src="../images/huisejiantou.png" alt=""/>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <p class="wh-c">
                                省份城市
                            </p>
                            <p class="wh-o">
                                请修改
                                <img src="../images/huisejiantou.png" alt=""/>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <p class="wh-c">
                                现居住地
                            </p>
                            <p class="wh-o">
                                请修改
                                <img src="../images/huisejiantou.png" alt=""/>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 资料列表结束-->
    </div>
</body>
</html>