<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="../js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../css/goucheliucheng.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <title>购车流程</title>
</head>
<body style="background-color: #f5f4f9">
    <div class="box">

        <!--购车流程头部开始-->
        <div class="ys-4">
            <div class="ys-4-center">
                <a href="javascipt:;">
                    <img src="../images/baisejiantou.png" alt=""/>
                </a>
                <p>购车流程</p>
            </div>
        </div>
        <!--购车流程头部结束-->

        <!--流程开始-->
        <div class="lc">
            <div class="lc-center">
                <div class="lcc">
                    <div class="lcc-left">
                        <i><img src="../images/xly-1.png" alt=""/></i>
                    </div>
                    <div class="lcc-right">
                        <p class="lcc-p1">线上申请</p>
                        <p class="lcc-p2">选择心仪车型，填写姓名、手机号、身份证等相关
                            资料即可申请；</p>
                    </div>
                </div>
                <div class="lcc">
                    <div class="lcc-left">
                        <i><img src="../images/dianhua2.png" alt=""/></i>
                    </div>
                    <div class="lcc-right">
                        <p class="lcc-p1">线上申请</p>
                        <p class="lcc-p2">选择心仪车型，填写姓名、手机号、身份证等相关
                            资料即可申请；</p>
                    </div>
                </div>
                <div class="lcc">
                    <div class="lcc-left">
                        <i><img src="../images/xly-3.png" alt=""/></i>
                    </div>
                    <div class="lcc-right">
                        <p class="lcc-p1">线上申请</p>
                        <p class="lcc-p2">选择心仪车型，填写姓名、手机号、身份证等相关
                            资料即可申请；</p>
                    </div>
                </div>
                <div class="lcc">
                    <div class="lcc-left">
                        <i><img src="../images/gouche.png" alt=""/></i>
                    </div>
                    <div class="lcc-right">
                        <p class="lcc-p1">线上申请</p>
                        <p class="lcc-p2">选择心仪车型，填写姓名、手机号、身份证等相关
                            资料即可申请；</p>
                    </div>
                </div>
                <div class="lcc">
                    <div class="lcc-left">
                        <i><img src="../images/shouhou.png" alt=""/></i>
                    </div>
                    <div class="lcc-right">
                        <p class="lcc-p1">线上申请</p>
                        <p class="lcc-p2">选择心仪车型，填写姓名、手机号、身份证等相关
                            资料即可申请；</p>
                    </div>
                </div>
            </div>
        </div>

        <!--流程结束-->
    </div>
</body>
</html>