<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <title>汽车金融-首页</title>
</head>
<body>
<div class="box">
    <!--轮播 ＋ 上导航开始-->
    <div class="lunbo">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../images/datu.png" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="../images/datu.png" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="../images/datu.png" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="../images/datu.png" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="../images/datu.png" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="../images/datu.png" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="../images/datu.png" alt=""/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="icon-top">
        <div class="ict-nh">
            <div class="nh-top">
                <div class="nht-left">
                    <img src="../images/dingwei.png" alt=""/>
                    <p>
                        <a href="javascript:;">
                            郑州
                        </a>
                    </p>
                </div>
                <div class="nht-center"></div>
                <div class="nht-right">
                    <a href="jaascript:;">
                        <img src="../images/i.png" alt=""/>
                    </a>
                    <a href="javascript:;">
                        <img src="../images/search.png" alt=""/>
                    </a>
                </div>
            </div>
            <div class="nh-center"></div>
            <div class="nh-foot">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/shenqing.png" alt=""/>
                            <p>线上申请</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/dianhua.png" alt=""/>
                            <p>电话回访</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/shengmen.png" alt=""/>
                            <p>上门服务</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/xianxia.png" alt=""/>
                            <p>线下提车</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--轮播 ＋ 上导航结束-->

    <!--1.列表名开始-->
    <div class="ln">
        <i></i>
        <span>
            <img src="../images/haoche.png" alt=""/>
            <p>百万豪车</p>
        </span>
    </div>
    <!--1.列表明结束-->


    <!--1.车列表开始-->
    <div class="cl">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="../images/chepin.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/asidun.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/lanbojini.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/maibahe.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/mashaladi.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/laosilaisi.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/worte.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="yuanquan">
                    <img src="../images/yuanquan.png" alt=""/>
                </a>
            </li>
        </ul>
    </div>

    <!--1.车列表结束-->

    <!--2.列表名开始-->
    <div class="ln">
        <i></i>
        <span>
            <img src="../images/shiwanche.png" alt=""/>
            <p>十万车</p>
        </span>
    </div>
    <!--2.列表明结束-->

    <!--2.车列表开始-->
    <div class="cl">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="../images/zhongtai.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/wuling.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/dazhong.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/bentian.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/jili.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/hafu.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/xiandai.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="yuanquan">
                    <img src="../images/yuanquan.png" alt=""/>
                </a>
            </li>
        </ul>
    </div>

    <!--2.车列表结束-->



    <!--3.列表名开始-->
    <div class="ln">
        <i></i>
        <span>
            <img src="../images/putongche.png" alt=""/>
            <p>普通车</p>
        </span>
    </div>
    <!--3.列表明结束-->

    <!--3.车列表开始-->
    <div class="cl">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="../images/zhongtai.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/xiandai.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/jili.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/hafu.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/bentian.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/dazhong.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/wuling.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="yuanquan">
                    <img src="../images/yuanquan.png" alt=""/>
                </a>
            </li>
        </ul>
    </div>
    <!--3.车列表结束-->

    <!--4.列表名开始-->
    <div class="ln">
        <i></i>
        <span>
            <img src="../images/remenchedai.png" alt=""/>
            <p>热门车贷</p>
        </span>
    </div>
    <!--4.列表明结束-->


    <!--车列表开始-->
    <div class="cd">
        <div class="cd-l">
            <a href="javascript:;">
                <img src="../images/left1.png" alt=""/>
            </a>
        </div>
        <div class="cd-r">
            <div class="cdr-t">
                <a href="javascript:;">
                    <img src="../images/top1.png" alt=""/>
                </a>
            </div>
            <div class="cdr-f">
                <div class="cdrf-l">
                    <a href="javascript:;">
                        <img src="../images/fl1.png" alt=""/>
                    </a>
                </div>
                <div class="cdrf-r">
                    <a href="javascript:;">
                        <img src="../images/fl2.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--车列表结束-->

    <!--5.列表名开始-->
    <div class="foot-line">
        <i></i>
        <span>
            <p>我是有底线的</p>
        </span>
    </div>
    <!--5.列表明结束-->


    <!--底部导航开始-->
    <div class="foot">
        <ul>
            <li>
                <a href="javascript:;">
                    <i>
                        <img src="../images/foot-car.png" alt=""/>
                    </i>
                    <p>
                        新手贷款
                    </p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i>
                        <img src="../images/foot-walt.png" alt=""/>
                    </i>
                    <p>
                        二手车贷款
                    </p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i>
                        <img src="../images/foot-san.png" alt=""/>
                    </i>
                    <p>
                        汽车保险
                    </p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i>
                        <img src="../images/foot-dai.png" alt=""/>
                    </i>
                    <p>
                        车抵贷
                    </p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i>
                        <img src="../images/foot-my.png" alt=""/>
                    </i>
                    <p>
                        我的
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <!--底部导航结束-->
</div>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 5000,
        pagination : '.swiper-pagination',
//        effect : 'fade',
        loop : true,
    })
</script>
</body>
</html>