<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金融产品列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/jinrong-list.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <style>
        #show_bm{
            display: block;
        }
        .show_bt{
            color: #223c8b!important;
        }
    </style>
</head>
<body>
<div class="box">
    <!--头部开始-->
    <div class="ys-4">
        <div class="ys-4-center">
            <a href="javascipt:;">
                <img src="../images/baisejiantou.png" alt=""/>
            </a>
            <p>金融产品列表</p>
        </div>
    </div>
    <!--头部结束-->

    <!--车辆信息开始-->
    <div class="clxx">
        <div class="clxx-center">
            <a href="javascript:;">
                <div class="clxxc-l">
                    <img src="../images/maikailunp1.png" alt=""/>
                </div>
                <div class="cxllx-c">
                    <p class="cxll-p1">一汽奥迪2011款2.0 TFSI (132kw)
                        标准形式</p>
                    <p class="cxll-p2">本月成交：27台&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;平均成交额：13.30万</p>
                </div>
                <div class="clxxc-r">
                    <img src="../images/xiaohuisejiantou.png" alt=""/>
                </div>
            </a>
        </div>
    </div>
    <!-- 车辆信息结束-->



    <!-- 车辆详情开始-->
    <div class="clxq">
        <div class="clxq-center">
            <div class="clxqc-t">
                <a href="javascript:;" class="xq-a">
                    <p class="xq-p1">车辆详情</p>
                    <p class="xq-p2">
                        北京2012-19万公里
                        <img src="../images/xiaohuisejiantou.png" alt=""/>
                    </p>
                </a>
            </div>
            <div class="clxqc-b">
                <p>预估车价：<span>17.50万</span></p>
                <p>可用额度：<span>14.00万</span></p>
            </div>
        </div>
    </div>
    <!-- 车辆详情结束-->


    <!--贷款期限开始-->
    <div class="dkqx">
        <div class="dkqx-center">
            <p class="qx-p1">贷款期限</p>
            <p class="qx-p2">
                24个月
                <img src="../images/xiaohuisejiantou.png" alt=""/>
            </p>
        </div>
    </div>
    <!-- 贷款期限结束-->


    <!--我的资质开始-->
    <div class="dkqx">
        <div class="dkqx-center">
            <p class="qx-p1">我的资质</p>
            <p class="qx-p2">
                匹配最佳产品
                <img src="../images/xiaohuisejiantou.png" alt=""/>
            </p>
        </div>
    </div>
    <!--我的资质结束-->



    <!--金融产品开始-->
    <div class="jrcp">
        <div class="jrcp-top" id="bt">
            <p class="mrys show_bt">默认排序</p>
            <p>总成本最低</p>
            <p>月供最低</p>
        </div>
    </div>
        <div class="jrcp-bottom" id="bm">
            <ul>
                <li id ="show_bm" style="display: block">
                    <a href="javascript:;">
                        <div class="uld">
                            <div class="uld-l">
                                <i></i>
                            </div>
                            <div class="uld-c">
                                <p class="uld-p1">
                                    1放心融长期
                                </p>
                                <p class="uld-p2">
                                    <i>月还款额&nbsp;<span>6411&nbsp;元</span></i>
                                    <i>总费用&nbsp;<span>1.39&nbsp;元</span></i>
                                </p>
                            </div>
                            <div class="uld-r">
                                <img src="../images/xiaohuisejiantou.png" alt=""/>
                            </div>
                        </div>
                    </a>

                    <a href="javascript:;">
                        <div class="uld">
                            <div class="uld-l">
                                <i></i>
                            </div>
                            <div class="uld-c">
                                <p class="uld-p1">
                                    1放心融长期
                                </p>
                                <p class="uld-p2">
                                    <i>月还款额&nbsp;<span>6411&nbsp;元</span></i>
                                    <i>总费用&nbsp;<span>1.39&nbsp;元</span></i>
                                </p>
                            </div>
                            <div class="uld-r">
                                <img src="../images/xiaohuisejiantou.png" alt=""/>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="display: none">
                    <a href="javascript:;">
                        <div class="uld">
                            <div class="uld-l">
                                <i></i>
                            </div>
                            <div class="uld-c">
                                <p class="uld-p1">
                                    2放心融长期
                                </p>
                                <p class="uld-p2">
                                    <i>月还款额&nbsp;<span>6411&nbsp;元</span></i>
                                    <i>总费用&nbsp;<span>1.39&nbsp;元</span></i>
                                </p>
                            </div>
                            <div class="uld-r">
                                <img src="../images/xiaohuisejiantou.png" alt=""/>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;">
                        <div class="uld">
                            <div class="uld-l">
                                <i></i>
                            </div>
                            <div class="uld-c">
                                <p class="uld-p1">
                                    2放心融长期
                                </p>
                                <p class="uld-p2">
                                    <i>月还款额&nbsp;<span>6411&nbsp;元</span></i>
                                    <i>总费用&nbsp;<span>1.39&nbsp;元</span></i>
                                </p>
                            </div>
                            <div class="uld-r">
                                <img src="../images/xiaohuisejiantou.png" alt=""/>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="display: none">
                    <a href="javascript:;">
                        <div class="uld">
                            <div class="uld-l">
                                <i></i>
                            </div>
                            <div class="uld-c">
                                <p class="uld-p1">
                                    3放心融长期
                                </p>
                                <p class="uld-p2">
                                    <i>月还款额&nbsp;<span>6411&nbsp;元</span></i>
                                    <i>总费用&nbsp;<span>1.39&nbsp;元</span></i>
                                </p>
                            </div>
                            <div class="uld-r">
                                <img src="../images/xiaohuisejiantou.png" alt=""/>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;">
                        <div class="uld">
                            <div class="uld-l">
                                <i></i>
                            </div>
                            <div class="uld-c">
                                <p class="uld-p1">
                                    3放心融长期
                                </p>
                                <p class="uld-p2">
                                    <i>月还款额&nbsp;<span>6411&nbsp;元</span></i>
                                    <i>总费用&nbsp;<span>1.39&nbsp;元</span></i>
                                </p>
                            </div>
                            <div class="uld-r">
                                <img src="../images/xiaohuisejiantou.png" alt=""/>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    <!--金融产品结束-->



    <!--选择金融产品开始-->
    <div class="choice-btn">
        <button class="cb-btn1">请选择金融产品</button>
        <button class="cb-btn2">立即申请</button>
    </div>




    <!--选择金融产品结束-->
</div>
<script>
    window.onload = function(){
        var ps = document.getElementById('bt').getElementsByTagName('p');
        var lis = document.getElementById('bm').getElementsByTagName('li');
        for(var i= 0; i<ps.length; i++){
            ps[i].index = i;
            ps[i].onclick = function(){
                for(var i = 0; i<lis.length; i++){
                    ps[i].className = "";
                    lis[i].style.display = "none";
                }
                this.className = "show_bt"
                lis[this.index].style.display = "block";
            }
        }

    }
</script>


</body>
</html>