<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>浏览记录</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/liulanjilu.css"/>
    <script src="../js/base.js"></script>
</head>
<body>
    <div class="box">
        <!--最上方部分-->
        <div class="top">
            <ul>
                <li>
                    <img src="../images/jiantou.png" alt=""/>
                </li>
                <li id="see">
                    浏览记录
                </li>
                <li>
                    <img src="../images/dingwei.png" alt="" id="dingwei"/>           郑州
                </li>
            </ul>
        </div>
    </div>
</body>
</html>