<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/my.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <title>我的</title>
</head>
<body>
    <div class="box">
        <!--我的页面顶部开始-->



        <div class="mytop">
            <div class="kong"></div>
            <div class="mtt">
                <div class="touxiang">
                    <a href="javascript:;">
                        <img src="../images/touxiang.png" alt=""/>
                    </a>
                </div>
                <div class="dianhua">
                    <p>155***55555</p>
                </div>
                <div class="shezhi">
                    <a href="javascript:;">
                        <img src="../images/shezhi.png" alt=""/>
                    </a>
                </div>
            </div>
            <div class="mtc">
                <div class="mtc-l">
                    <p class="mtc-p1">
                        佣金总额 ：
                    </p>
                    <p class="mtc-p2">
                        ￥80000.00
                    </p>
                </div>
                <div class="mtc-r">
                    <a href="javascript:;">
                        <p class="mtc-p3">未认证</p>
                    </a>
                </div>
            </div>
        </div>
        <!--我的页面顶部结束-->

        <!--我的订单开始-->
        <div class="dd-all">
            <div class="dd">
                <ul>
                    <a href="javascript:;">
                        <li>
                            <div class="dd-l">
                                <p class="dd-p1">我的车贷订单</p>
                                <p class="dd-p2">新车丨二手车丨租车</p>
                            </div>
                            <div class="dd-r">
                                <p class="dd-p3">
                                    <a href="javascript:;">
                                        暂无申请
                                    </a>
                                </p>
                                <i class="dd-i">
                                    <a href="javascript:;">
                                        <img src="../images/huisejiantou.png" alt=""/>
                                    </a>
                                </i>
                            </div>
                        </li>
                    </a>
                    <a href="javascript:;">
                        <li>
                            <div class="dd-l">
                                <p class="dd-p1">我的车贷订单</p>
                            </div>
                            <div class="dd-r">
                                <p class="dd-p3">
                                    <a href="javascript:;">
                                        暂无申请
                                    </a>
                                </p>
                                <i class="dd-i">
                                    <a href="javascript:;">
                                        <img src="../images/huisejiantou.png" alt=""/>
                                    </a>
                                </i>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <!--我的订单结束-->



        <!--常见功能开始-->
            <div class="gn">
                <div class="gn-top">
                    <p>常用功能</p>
                </div>
                <div class="gn-foot">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/liulan.png" alt=""/>
                                <p>浏览记录</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/gouche.png" alt=""/>
                                <p>购车流程</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/changjian.png" alt=""/>
                                <p>常见问题</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/fankui.png" alt=""/>
                                <p>意见反馈</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/tiwen.png" alt=""/>
                                <p>我的提问</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/fenxiao.png" alt=""/>
                                <p>我的分销</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">

                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        <!--常见功能结束-->



        <!--底部导航开始-->
        <div class="foot">
            <ul>
                <li>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/foot-car.png" alt=""/>
                        </i>
                        <p>
                            新手贷款
                        </p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/foot-walt.png" alt=""/>
                        </i>
                        <p>
                            二手车贷款
                        </p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/foot-san.png" alt=""/>
                        </i>
                        <p>
                            汽车保险
                        </p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/foot-dai.png" alt=""/>
                        </i>
                        <p>
                            车抵贷
                        </p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/foot-my.png" alt=""/>
                        </i>
                        <p>
                            我的
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <!--底部导航结束-->
    </div>
</body>
</html>