<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="../js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../css/goucheliucheng.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <title></title>
</head>
<body style="background-color: #f5f4f9">
    <div class="box">
        <!--实名认证头部开始-->
        <div class="ys-4">
            <div class="ys-4-center">
                <a href="javascipt:;">
                    <img src="../images/baisejiantou.png" alt=""/>
                </a>
                <p>实名认证</p>
            </div>
        </div>
        <!--实名认证头部结束-->


        <div class="hszt">
            <div class="hstz-center">
                <p>完成实名认证，立即领取 <span>60000</span>元车贷额度</p>
            </div>
        </div>
        <div class="input-all">
            <div class="int-center">
                <input type="text" placeholder="请输入您的真实姓名" class="input-1"/>

                <input type="text" placeholder="请输入您的身份证号" class="input-2"/>
            </div>
        </div>
        <button class="btn-rz">认证</button>
    </div>
</body>
</html>