<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/tijiaoseccend.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <title>订单提交成功</title>
</head>
<body>
<div class="box">
    <!--页面头部部分-->
    <div class="yetou">
        <div class="yetou-ct">
            <a href="javascript:;">
                <img src="../images/baisejiantou.png" alt="" class="img-back"/>
            </a>
            <p>
                订单提交成功
            </p>
            <a href="javascript:;">
                <img src="../images/search.png" alt="" class="img-search"/>
            </a>
        </div>
    </div>


    <!--<div class="yetou">-->
        <!--<div class="yetou-ct">-->
            <!--<a href="javascript:;">-->
                <!--<img src="../images/baisejiantou.png" alt="" class="img-back"/>-->
            <!--</a>-->
            <!--<p>-->
                <!--订单提交成功-->
            <!--</p>-->
            <!--<a href="javascript:;" class="img-a-dingwei">-->
                <!--<img src="../images/dingwei.png" alt="" class="img-dingwei"/>-->
                <!--<i>郑州</i>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!-- 页面头部部分结束-->


    <!--提交成功开始-->
    <div class="tj-succent">
        <div class="tj-center">
            <div class="tj-l">
                <div class="tjl-l">
                    <img src="../images/s-duihao.png" alt=""/>
                </div>
                <div class="tjl-r">
                    <p class="tjlr-p1">订单提交成功</p>
                    <p class="tjlr-p2">金融顾问将在24小时内与您联系</p>
                </div>
            </div>
            <div class="tj-r">
                <p class="tjlr-p3">
                    <a href="javascript:;">
                        查看订单
                    </a>
                </p>
                <p class="tjlr-p4">
                    <a href="javascript:;">
                        返回首页
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!--提交成功结束-->


    <!--客服开始-->
    <div class="kefu">
        <div class="kefu-center">
            <div class="kf-l">
                <div class="kfl-l">
                    <img src="../images/haitao.png" alt=""/>
                </div>
                <div class="kfl-r">
                    <p class="kfl-p1">白海涛</p>
                    <p class="kfl-p2">已帮 2470 人贷款  96%好评</p>
                </div>
            </div>
            <div class="kf-r">
                <a href="javascript:;">
                    <img src="../images/haitaodianhua.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!--客服结束-->



    <!--二维码开始-->
    <div class="erweima">
        <div class="erweima-center">
            <div class="ewm-l">
                <img src="../images/erweimaa.png" alt=""/>
            </div>
            <div class="ewm-r">
                <p class="kfr-p1">关注微信公众号，订单状态随时跟进</p>
                <p class="kfr-p1">搜索微信公众号：<span>yxchedai</span></p>
            </div>
        </div>
    </div>
    <!-- 二维码结束-->


    <!--订单详细开始-->
    <div class="ddxx">
        <div class="ddxx-center">
            <ul>
                <li>
                    <p>
                        首付(30%)
                    </p>
                    <p>
                        5.61万
                    </p>
                </li>
                <li>
                    <p>
                        贷款总额
                    </p>
                    <p>
                        贷款总额
                    </p>
                </li>
                <li>
                    <p>
                        月供*期限
                    </p>
                    <p>
                        4466.24元*36期
                    </p>
                </li>
                <li>
                    <p>
                        贷款成本
                    </p>
                    <p>
                        贷款成本
                    </p>
                </li>
                <li>
                    <p>
                        订单编号
                    </p>
                    <p>
                        371486540838703
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- 订单详细结束-->



    <!--湖面开始-->
    <div class="humian">
        <img src="../images/humian.png" alt=""/>
    </div>


    <!--湖面结束-->
</div>
</body>
</html>