<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="../js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../css/goucheliucheng.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <title>现居住地</title>
</head>
<body style="background-color: #f5f4f9">
    <div class="box">


        <!--个人资料头部开始-->
        <div class="gr-1">
            <div class="gr-1-center">
                <a href="javascipt:;">
                    <img src="../images/baisejiantou.png" alt=""/>
                </a>
                <p class="gr-p1">个人资料</p>
                <p class="gr-p2">
                    <a href="javascript:;">
                        保存
                    </a>
                </p>
            </div>
        </div>
        <!--个人资料头部结束-->

        <input type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;请输入您现在居住地" class="input-a"/>

        
    </div>
</body>
</html>