<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/xuanzechexing.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <title>选择车型</title>
</head>
<body>
    <div class="box">
        <!--头部车抵贷开始-->
        <div class="cdd">
            <p>车抵贷</p>
        </div>
        <!--头部车抵贷结束-->
        <!--选择品牌开始-->
        <div class="choice-pp">
            <div class="cpp-center">
                <p>选择品牌</p>
            </div>
        </div>
        <!-- 选择品牌结束-->
        <!--全部品牌推荐品牌开始-->
        <div class="qtpp">
            <div class="qtpp-center">
                <ul>
                    <li class="qbpp">全部品牌</li>
                    <li class="tjpp">推荐品牌</li>
                </ul>
            </div>
        </div>
        <!--全部品牌推荐品牌结束-->

        <!--车辆列表开始-->
        <div class="chlist">
            <div class="chelist-center">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/xiaobentian.png" alt=""/>
                            </i>
                            <p>本田</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/xiaobentian.png" alt=""/>
                            </i>
                            <p>本田</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/xiaobentian.png" alt=""/>
                            </i>
                            <p>本田</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/xiaobentian.png" alt=""/>
                            </i>
                            <p>本田</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/xiaowuling.png" alt=""/>
                            </i>
                            <p>五菱</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/xiaolufeng.png" alt=""/>
                            </i>
                            <p>陆风</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/xiaorichan.png" alt=""/>
                            </i>
                            <p>日产</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/xiaoxiandai.png" alt=""/>
                            </i>
                            <p>现代</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--车辆列表结束-->


        <!-- 选择品牌开始-->
        <div class="jiaceng" id="tiaoa">
            <p>A</p>
        </div>

        <div class="xzpp">
            <div class="xzpp-center">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/z-aodi.png" alt=""/>
                            </i>
                            <p>奥迪</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/z-aodi.png" alt=""/>
                            </i>
                            <p>奥迪</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/z-aodi.png" alt=""/>
                            </i>
                            <p>奥迪</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/z-aodi.png" alt=""/>
                            </i>
                            <p>奥迪</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/z-aodi.png" alt=""/>
                            </i>
                            <p>奥迪</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/z-aodi.png" alt=""/>
                            </i>
                            <p>奥迪</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/z-aodi.png" alt=""/>
                            </i>
                            <p>奥迪</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/z-aodi.png" alt=""/>
                            </i>
                            <p>奥迪</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/z-aodi.png" alt=""/>
                            </i>
                            <p>奥迪</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i>
                                <img src="../images/z-aokesi.png" alt=""/>
                            </i>
                            <p>奥克斯</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 选择品牌结束-->

        <!--定位xyz开始-->
        <ul class="xyz">
            <li>
                <a href="#tiaoa">
                    A
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    B
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    C
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    D
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    E
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    F
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    G
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    H
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    I
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    J
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    K
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    L
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    M
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    N
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    O
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    P
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Q
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    R
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    S
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    T
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    U
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    V
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    W
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    X
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Y
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Z
                </a>
            </li>
        </ul>
        <!--定位xyz结束-->


    </div>
</body>
</html>