<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择上牌地区</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/xuanzeshangpaidiqu.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
</head>
<body>
    <div class="box">
        <!--头部开始-->
        <div class="sp">
            <p>选择上牌地区</p>
            <a href="javascript:;">
                <img src="../images/youcha.png" alt=""/>
            </a>
        </div>
        <!--头部结束-->


        <!--搜索开始-->
        <div class="ss">
            <div class="ss-center">
                <input type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入城市名称或者首字母查询..."/>
                <a href="javascript:;">
                    <img src="../images/huisesousuo.png" alt=""/>
                </a>
            </div>
        </div>
        <!--搜索结束-->



        <!--当前城市开始-->
        <div class="zz">
            <div class="zz-center">
                <p>当前城市: 郑州</p>
            </div>
        </div>
        <!--当前城市结束-->




        <!--热门城市开始-->
        <div class="rmcs">
            <div class="rmcs-center">
                <p>热门城市</p>
            </div>
        </div>
        <div class="cs-list">
            <div class="csl-center">
                <ul>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            北京
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 热门城市结束-->


        <!--定位xyz开始-->
            <ul class="xyz">
                <li>
                    <a href="#tiaoa">
                        A
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        B
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        C
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        D
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        E
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        F
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        G
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        H
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        I
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        J
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        K
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        L
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        M
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        N
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        O
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        P
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        Q
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        R
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        S
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        T
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        U
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        V
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        W
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        X
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        Y
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        Z
                    </a>
                </li>
            </ul>
        <!--定位xyz结束-->




        <!--列表选择开始-->
        <div class="jiaceng">
            <p id="tiaoa">A</p>
        </div>

        <div class="lb">
            <div class="lb-center">
                <ul>
                    <li>阿拉善盟</li>
                    <li>阿拉善盟</li>
                    <li>阿拉善盟</li>
                    <li>阿拉善盟</li>
                    <li>阿拉善盟</li>
                    <li>阿拉善盟</li>
                    <li>阿拉善盟</li>
                </ul>
            </div>
        </div>
        <!--列表选择结束-->
    </div>
</body>
</html>