<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="../js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../css/zhanghushezhi.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public-1.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <script src="../js/base.js"></script>
    <title></title>
</head>
<body style="background-color: #f5f4f9">
    <div class="box">


        <!--账户设置头部开始-->
        <div class="ys-4">
            <div class="ys-4-center">
                <a href="javascipt:;">
                    <img src="../images/baisejiantou.png" alt=""/>
                </a>
                <p>账户设置</p>
            </div>
        </div>
        <!--账户设置头部结束-->


        <!--支付方式开始-->
        <div class="zffs">
            <div class="zffs-center">
                <div class="zf-box1">
                    <a href="javascript:;">

                    </a>
                </div>
                <div class="zf-box2">
                    <a href="javascript:;">

                    </a>
                </div>
                <div class="zf-box3">
                    <a href="javascript:;">

                    </a>
                </div>
            </div>
        </div>



        <!-- 支付方式结束-->


    </div>
</body>
</html>