.listall{
    width: 7.02rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.listall a{
    position: relative;
    margin-bottom: .2rem;
}
.applist{
    width: 3.41rem;
    height: 3.41rem;
}
.applist img{
    width: 3.41rem;
    height: 3.41rem;
    position: relative;
}
.backblack{
    width: 3.4rem;
    height: .4rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    bottom: 0.5rem;
    opacity: 0.8;
    filter: alpha(opacity=90);
    background: #000;
}
.backblack img{
    width: .3rem;
    height: .17rem;
}
.backblack p{
    font-size: .22rem;
    color: #9e9e9e;
}
.zz{
    position: absolute;
    top: .1rem;
    right: .1rem;
    color: white;
    font-size: .22rem;
}
.huchaung{
    margin-top: .1rem;
    width: 3.41rem;
    font-size: .26rem;
    color: #333333;
}
