.ft30{font-size: .3rem;}.clor3{color: #333;}.ft24{font-size: .24rem;}.ft26{font-size: .26rem;}
.tc{text-align: center;}.flex{display: flex;}.tfl{text-align: left;}.tfr{text-align: right;}
.bm-hd{width: 100%;text-align: center;}.clorff00{color: #ff0000;}.mgl16{margin-left: .05rem;}
.bm-hd .img{width: 7.15rem;height: 5.12rem;background: url(../images/wz-bmxxb.jpg);background-size: 7.15rem 5.12rem;margin: 0 auto;}
.bm-hd p{margin-bottom: .37rem;}
.bm-m{width: 7.02;padding: 0 .24rem;}
.bm-m form{width: 7.02rem;}
.bm-m input[type=text]{width: 6.82rem;height: .84rem;border-radius:5px;border: 1px dotted #2cac3f;padding-left: .17rem;margin-bottom: .2rem;}
.btn-subm{width: 7.02rem;margin: .2rem auto;height: .82rem;background-color: #18A42D;color: #fff;border: 0;border-radius: 1rem;box-shadow: 0 .08rem .0rem #117d21;line-height: .89rem;}
.bm-m p{margin: .2rem auto;}
.bm-m p>i{display: inline-block;width: .24rem;height: .24rem;background: url(../images/shuangjiantou.png);background-size: .24rem .24rem;margin-right: 3px;margin-top: 2px;}
.bm-toM{background: #fff;}
.bm-toM-hd{width: 100%;height: 1rem;margin-bottom: .2rem;background-color: #fdebab;}
.bm-toM-item{width: 7.02rem;margin: 10px auto;}
.bm-toM-item h2{height: .66rem;width: 6.92rem;border-radius:5px;border: 1px dashed #18A42D;padding-left: .07rem;color: #18A42D;font-size: .3rem;line-height: .66rem;background-color: #f4f4f4;margin-bottom: 10px;}
.bm-toM-item p{line-height: .48rem;margin-top: 3px;font-size: .26rem;}
.bm-toM-item .table{width: 7.02rem;margin: 0 auto;box-shadow: 0 0 10px #e9e9e9;}

h4.tab-h4{font-size: .28rem;color: #18A42D;text-align: center;margin-bottom: 2px;margin-top: 10px;}
.bm-toM-item .table{padding: .3rem 0;border-radius: 10px;overflow: hidden;}
.bm-toM-item .table-m ul{width: 5.3rem;margin: 0 auto;}
.bm-toM-item .table-m ul.top li{width: 25%;height: .47rem;border-bottom: 1px dashed #b5b5b5;line-height: .48rem;}
.bm-toM-item .table-m ul.flex>li{width: 33.33%;height: .47rem;border-bottom: 1px dashed #b5b5b5;line-height: .48rem;}
.bm-toM-item div.table-m li:nth-child(1),.bm-toM-item div.table-m li:nth-child(3){width: 40%;}
.bm-toM-item .tab-sub{width: 6.4rem;margin: .2rem auto;height: .82rem;background-color: #18A42D;color: #fff;border: 0;border-radius: 5px;box-shadow: 0 .08rem .0rem #117d21;line-height: .89rem;margin-top: .3rem;}
.bm-toM-item .tab-sub i{display: inline-block;width: .48rem;height:.48rem;background: url(../images/ico-dianhua.png);background-size: .48rem .48rem;z-index: 10;vertical-align: middle;}

ul.cpBj{width: 5.3rem;margin: 0 auto;}
li.tabm-li{height: .47rem;border-bottom: 1px dashed #b5b5b5;line-height: .48rem;}
li.tabm-li div:nth-child(1){text-align: left;width: 70%;}
li.tabm-li div:nth-child(2){text-align: right;width: 30%;}

/*流程*/
.cz-liuChe{display: flex;padding-top: .2rem;}
.cz-liuChe li{width: 25%;height: 1.5rem;}
.cz-liuChe li a{display: block;width: 100%;}
.cz-liuChe li a .map{width: 100%;display: flex;height: .8rem;align-items:center;}
.cz-liuChe li a .fx-you{justify-content: flex-end !important;}
.cz-liuChe li a .map .map-m{width: .82rem;height: .82rem;}
.cz-liuChe li a .map .map-m2{width: .47rem;border-top:1px dashed #b5b5b5 ;}
.cz-liuChe li a .map .ico1{background: url(../images/wz-bm-ico.png) -.10rem -.32rem;background-size: 5.04rem 1.58rem;}
.cz-liuChe li a .map .ico2{background: url(../images/wz-bm-ico.png) -1.04rem -.32rem;background-size: 5.04rem 1.58rem;}
.cz-liuChe li a .map .ico3{background: url(../images/wz-bm-ico.png) -2.02rem -.32rem;background-size: 5.04rem 1.58rem;}
.cz-liuChe li a .map .ico4{background: url(../images/wz-bm-ico.png) -2.93rem -.32rem;background-size: 5.04rem 1.58rem;}
.cz-liuChe li a p{text-align: center;font-size: .30rem;color: #222;margin: .2rem 0;}
body a:hover{
    text-decoration: none;
}