.box{
    max-width: 7.5rem;
    background-color: #eee;
    margin: 0 auto;
    overflow: hidden;
     height: 23.1rem;
}
.top123{
    width: 7.5rem;
    height: .88rem;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
}
.top123-center {
    width: 4.18rem;
    height: .36rem;
    margin-left: .24rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top123-center img{
    width: .14rem;
    height: .24rem;
}
.top123-center p{
    font-size: .34rem;
    color: #333333;
}
.list-top123{
    width: 7.02rem;
    margin: .2rem auto;
    font-size: .3rem;
    color: #333333;
}
.list-bottom{
    margin-left: .24rem;
    height: .2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.list-bottom p{
    margin-right: .2rem;
}
.list-bottom a:hover{
    text-decoration: none;
}
.list-bottom a{
    color: #18a42d;
}
.zhong{
    font-size: .25rem;
}
.zhong img{
    width: .2rem;
    height: .2rem;
}
.eyelala img{
    width: .3rem;
    height: .17rem;
}
.xingqing{
    width: 7.02rem;
    margin: .2rem auto;
    background-color: #b3d4fc;
}
.good{
    width: 7.02rem;
    height: 3.71rem;
}
.good img{
    width: 7.02rem;
    height: 3.71rem;
}
.fontlalala{
    width: 7.02rem;
    margin: .2rem auto;
    line-height: .5rem;
}
.fontlala p{
    letter-spacing: .1rem;
    font-size: .26rem;
    color: #afafaf;
}



/*二维码开始*/
.erweima{
    width: 7.5rem;
    background-color: #eee;
}
.ewm-center{
    width: 7.1rem;
    background-color: #eee;
    margin: 0 auto;
    border-top: .01rem solid #c9c9c9;
}
.ewmc-t p{
    color: #898989;
    font-size: .28rem;
    margin-top: .1rem;
}
.ewmc-b{
    width: 2.75rem;
    margin: 0 auto;
}
.ewmc-b p{
    color: #5d5d5d;
    font-size: .3rem;
    width: 2.46rem;
    height: .5rem;
    text-align: center;
    /*margin-bottom: .1rem;*/

}
.ewmc-b img{
    width: 2.72rem;
    height: 2.72rem;
}
.dandup{
    width: 2.46rem;
    border-bottom: .01rem solid #c9c9c9;
    text-align: center;
    margin-left: .1rem;
    margin-top: .4rem;
}
.budandup{
    margin-left: .1rem;
    margin-top: .1rem;
}
.djgz{
    /*margin-top: .2rem;*/
    /*margin-right: .1rem;*/
    /*text-align: center;*/
    width: 7.1rem!important;
    color: #18a42d!important;
    font-size: .35rem!important;
    text-align: center;
}

/*二维码结束*/