.box{
    max-width: 7.5rem;
    margin: 0 auto;
    background-color: #eee;
    height: 17.58rem;
}
.box a:hover{
    text-decoration: none;
}
/*资讯导航开始*/
.nav{
    height: .7rem;
    background-color: #fff;
}
.topnav{
    display: flex;
    width: 7.02rem;
    justify-content: space-around;
    align-items: center;
    height: .7rem;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -.1rem;
}
.topnav a{
    width: 1.29rem;
    height: .5rem;
    display: block;
    font-size: .32rem;
    color: #5d5d5d;
    margin-top: .2rem;
}
.greenfont{
    border-bottom: .001rem solid green;
    font-weight: bold;
}
.greenfont p{
    color: #18a42d;
}
.topnav span{
    border-right: .001rem solid #b7b7b7;
    height: .33rem;
}
/*资讯导航结束*/

/*资讯列表开始*/
.infolist{
    margin-top: .2rem;
    background-color: #fff;
}
.listone{
    width: 7.5rem;
    height: 1.9rem;
    display: flex;
    align-items: center;
    border-bottom: .001rem solid #f4f4f4;
}
.auto-square{
    width: 6.9rem;
    height: 1.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.list-left{
    width: 2.1rem;
    height: 1.47rem;
    border: .001rem solid #f4f4f4;
}
.list-right{
    width: 4.5rem;
    height: 1.5rem;
    margin-left: .2rem;
}
.list-left img{
    width: 2.1rem;
    height: 1.47rem;
}
.list-right-top-p1{
    font-size: .3rem;
    color: #333333;
}
.list-right-top-p2{
    font-size: .24rem;
    color: #999999;
}
.list-right-bottom{
    margin-top: .1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.list-right-bottom p{
    font-size: .22rem;
    color: #c0c0c0;
}
.p-img img{
    width: .2rem;
    height: .2rem;
    marign
}
.p-img2 img{
    width: .3rem;
    height: .17rem;
    margin-left: .2rem;
}
/*资讯列表结束*/

/*滑动展示开始*/
.huandong{
    font-size: .24rem;
}
.huadong a{
    height: .7rem;
    display: flex;
    color: #9e9e9e;
    align-items: center;
    justify-content: center;
    background-color: white;
    /*margin-top: .2rem;*/
}
.huadong a:hover{
    text-decoration: none;
}
.huadong img{
    width: .24rem;
    height: .24rem;
}

/*滑动展示结束*/

/*底部导航开始*/
.foot{
    display: flex;
    border-top: .001rem solid #a9a9a9;
    width: 7.5rem;
    margin: 0 auto;
    height: .9rem;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
.icon1{
    display: block;
    background: url("../images/home.png") no-repeat;
}
.icon2{
    background: url("../images/chanpinicon.png") no-repeat;
}
.icon3{
    background: url("../images/new.png") no-repeat;
}
.icon4{
    background: url("../images/my.png") no-repeat;
}
/*首页变亮图标*/
.icon11{
    background: url("../images/qiyeicon.png") no-repeat;
}
.icon21{
    background: url("../images/chanpin.png") no-repeat;
}
.icon31{
    background: url("../images/xinwenicon.png") no-repeat;
}
.icon41{
    background: url("../images/canzhanicon.png") no-repeat;
}
.foot a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot i{
    width: .38rem;
    height: .38rem;
    background-size: .38rem .38rem;
}
.foot span{
    color: #333333;
    font-size: .24rem;
    padding-top: .02rem;
}
.foot a:hover{
    text-decoration: none;
}
.oo{
    margin-left: 3.2rem;
}
.bb{
    margin-left: 3.2rem;
    margin-top: .14rem;
}

/*底部导航结束*/