.box{
  width: 7.5rem;
  height: auto;
  background-color: #fff;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

.ipt{
  .ipt-c{
    width: 7.02rem;
    height: .88rem;
    margin: .2rem auto;
    display: flex;
    justify-content: space-between;
    input{
      display: inline-block;
      width: 6.37rem;
      height: .88rem;
      border: .01rem solid #989898;
      border-right: none;
      border-bottom-left-radius: .1rem;
      border-top-left-radius: .1rem;
      font-size: .3rem;
    }
    .clear{
      width: .65rem;
      height: .88rem;
      border: .01rem solid #989898;
      border-left: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-right-radius: .1rem;
      border-top-right-radius: .1rem;
      i{
        //margin-top: .25rem;
        display: inline-block;
        width: .3rem;
        height: .3rem;
        img{
          width: .3rem;
          height: .3rem;
        }
      }
    }
  }
}