.box{
  width: 7.5rem;
  background-color: #f5f4f9;
}



.lc{
  width: 7.5rem;
  background-color: #f5f4f9;
  .lc-center{
    width: 7.1rem;
    height: auto;
    margin: 0 auto;
    .lcc{
      display: flex;
      justify-content: space-between;
      .lcc-left{
        width: 1.58rem;
        height: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
          display: inline-block;
          width: .59rem;
          height: .59rem;
          img{
            width: 100%;
          }
        }
      }
      .lcc-right{
        width: 5.52rem;
        height: 1.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: .01rem solid #eeeeee;
        .lcc-p1{
          color: #151515;
          font-size: .32rem;
          font-weight: bold;
          margin-bottom: .06rem;
        }
        .lcc-p2{
          color: #ababab;
          font-size: .26rem;
          margin-top: .06rem;
        }
      }
    }
  }
}







//实名认证

.hszt{
  width: 7.5rem;
  .hstz-center{
    width: 7.1rem;
    height: .95rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    p{
      color: #7b7b7b;
      font-size: .28rem;
      span{
        color: #e94e54;
      }
    }
  }
}
.input-all{
  width: 7.5rem;
  background-color: #fff;
  .int-center{
    width: 7.1rem;
    margin: 0 auto;
    .input-1{
      width: 7.1rem;
      height: .88rem;
      border-bottom: .01rem solid #eeeeee;
    }
    .input-2{
      width: 7.1rem;
      height: .88rem;
    }
  }
}
.btn-rz{
  margin-top: .2rem;
  width: 7.5rem;
  height: .88rem;
  background-color: #223c8b;
  color: #fff;
  font-size: .32rem;
  font-weight: 500;
}


//个人资料
.tx{
  width: 7.5rem;
  background-color: #fff;
  .tx-center a{
    width: 7.1rem;
    height: 1.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tx-p1{
      i{
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        img{
          width: 100%;
          border-radius: 50%;
        }
      }
      .huisejiantou{
        width: .14rem;
        height: .24rem;
        margin-left: .2rem;
      }
    }
    p{
      color: #151515;
      font-size: .3rem;
      font-weight: 500;
    }
  }
}





.zllb{
  width: 7.5rem;
  margin-top: .2rem;
  background-color: #fff;
  .zllb-center{
    width: 7.1rem;
    height: 5.33rem;
    margin: 0 auto;
    ul{
      li{
        a{
          width: 7.1rem;
          height: .88rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          p{
            img{
              margin-left: .2rem;
              width: .14rem;
              height: .24rem;
            }
          }
          .wh-c{
            color: #151515;
            font-size: .28rem;
          }
          .wh-o{
            color: #a7a7a7;
            font-size: .28rem;
          }
        }
      }
    }
  }
}




.gr-1{
  width: 7.5rem;
  background-color: #223c8b;
  .gr-1-center{
    width: 7.1rem;
    height: .88rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      img{
        width: .14rem;
        height: .24rem;
      }
    }
    .gr-p1{
      color: #fff;
      font-size: .36rem;
    }
    .gr-p2{
      a{
        color: #fff;
        font-size: .28rem;
      }
    }
  }
}
.input-a{
  margin-top: .2rem;
  width: 7.5rem;
  height: 4.46rem;
}
