.box{
  max-width: 7.5rem;
}
.zffs{
  width: 7.5rem;
  margin-top: .2rem;
  .zffs-center{
    width: 7.1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    div a{
      display: inline-block;
      width: 2.24rem;
      height: 2.24rem;
      border: .01rem dashed #959595;
    }
  }
}