<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .kk ul li{
            display: block;
            width: 200px;
            height: 200px;
            background-color: red;
            margin-bottom: 20px;
            border-radius: 20px;
        }
        .box{
            width: 500px;
            height: 500px;
            border: 1px solid #eee;
        }
    </style>
</head>
<body>
<div class="kk">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="box">

</div>
<script>
    $(document).ready(function(){
        if(($(".box").offset().top - $(window).scrollTop())<$(window).height()){
            $(".box").css({
                "background" : "red",
            })
        }
    })
</script>
</body>
</html>