<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>mp-list2</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/style2.css"/>
    <link rel="stylesheet" href="../css/chanpinliebiao.css"/>
    <link rel="stylesheet" href="../css/mp-list2.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
</head>
<body style="overflow: hidden">

    <div class="box">
        <div class="wanshan-info">
            <div class="wanshan-info-c">
                <div class="wsic-top">
                    <p>完善个人信息</p>
                </div>
                <div class="wsic-tishi">
                    <p>请完善个人信息, 助您拓展更多人脉!</p>
                </div>
                <div class="wsic-box">
                    <ul>
                        <li>
                            <p>姓名</p>
                            <input type="text"/>
                        </li>
                        <li>
                            <p>公司</p>
                            <input type="text"/>
                        </li>
                        <li style="border-bottom: none">
                            <p>职务</p>
                            <input type="text"/>
                        </li>
                    </ul>
                </div>
                <div class="wsic-btn">
                    <button>确&nbsp;&nbsp;定</button>
                </div>
            </div>
        </div>
        <!--头部开始-->
        <div class="gb-top">
            <div class="gb-top-center">
                <div class="tc-l">
                    <a href="{:url('index/index')}">
                        <img src="../images/wangbohui.png" alt=""/>
                    </a>
                </div>
                <form id="search_form" action="{:url('product/plist')}" method="get">
                    <div class="tc-r">
                        <input type="text" placeholder="搜你想搜的" name="keyword" id="keyword"/>
                        <a href="javascript:;">
                            <img src="../images/search.png" alt=""/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <!--头部结束-->


        <!--列表选项开始-->
        <div class="listchoice" style="margin-bottom: .2rem">
            <div class="listchoice-left">
                <a {if condition="($sort eq '') or ($sort eq 'all')"}class="select_green"{/if} href="{:url('product/plist',array_merge($fitam,array('sort'=>'all')))}">
                综合排序
                </a>
                <a {if condition="$sort eq 'click_num'"}class="select_green"{/if} href="{:url('product/plist',array_merge($fitam,array('sort'=>'click_num')))}">
                热度
                </a>
                <a {if condition="$sort eq 'is_new'"}class="select_green"{/if} href="{:url('product/plist',array_merge($fitam,array('sort'=>'is_new')))}">
                最新
                </a>
            </div>
            <div class="listchoice-right" id="click_open">
                <a href="javascript:;">
                    筛选
                    <img src="../images/loudou.png" alt=""/>
                </a>
            </div>
        </div>
        <!--列表选项结束-->



        <!--请求列表开始-->
        <div class="qqlb">
            <div class="qqlb-c">
                <ul>
                    <li>
                        <div class="qq">
                            <div class="qq-t">
                                <a href="javascript:;">
                                    <div class="qqt-l">
                                        <i>
                                            <img src="../images/qq-tx.png" alt=""/>
                                        </i>
                                    </div>
                                    <div class="qqt-c">
                                        <em href="javascript:;">
                                            <p>陈娜</p>
                                            <span>市场总监</span>
                                        </em>
                                        <em href="javascript:;">
                                            <h3>手机:17737719495</h3>
                                        </em>
                                        <em href="javascript:;">
                                            <h3>河南尼伯特数特数特数控工具控工控工有限公司</h3>
                                        </em>
                                    </div>
                                </a>
                                <div class="qqt-r">
                                    <!--<time>06-23 09:35</time>-->
                                    <em>
                                        <button class="btn2">+ 好友</button>
                                    </em>
                                </div>
                            </div>
                            <div class="qq-f">
                                <span class="zhuying">主营: 刀具、机械、数控</span>
                        <span class="whoeye">
                            <i>
                                <img src="../images/eye.png" alt=""/>
                            </i>
                            <p>122</p>
                        </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="qq">
                            <div class="qq-t">
                                <a href="javascript:;">
                                    <div class="qqt-l">
                                        <i>
                                            <img src="../images/qq-tx.png" alt=""/>
                                        </i>
                                    </div>
                                    <div class="qqt-c">
                                        <em href="javascript:;">
                                            <p>陈娜</p>
                                            <span>市场总监</span>
                                        </em>
                                        <em href="javascript:;">
                                            <h3>手机:17737719495</h3>
                                        </em>
                                        <em href="javascript:;">
                                            <h3>河南尼伯特数特数特数控工具控工控工有限公司</h3>
                                        </em>
                                    </div>
                                </a>
                                <div class="qqt-r">
                                    <!--<time>06-23 09:35</time>-->
                                    <em>
                                        <button class="btn2">+ 好友</button>
                                    </em>
                                </div>
                            </div>
                            <div class="qq-f">
                                <span class="zhuying">主营: 刀具、机械、数控</span>
                        <span class="whoeye">
                            <i>
                                <img src="../images/eye.png" alt=""/>
                            </i>
                            <p>122</p>
                        </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="qq">
                            <div class="qq-t">
                                <a href="javascript:;">
                                    <div class="qqt-l">
                                        <i>
                                            <img src="../images/qq-tx.png" alt=""/>
                                        </i>
                                    </div>
                                    <div class="qqt-c">
                                        <em href="javascript:;">
                                            <p>陈娜</p>
                                            <span>市场总监</span>
                                        </em>
                                        <em href="javascript:;">
                                            <h3>手机:17737719495</h3>
                                        </em>
                                        <em href="javascript:;">
                                            <h3>河南尼伯特数特数特数控工具控工控工有限公司</h3>
                                        </em>
                                    </div>
                                </a>
                                <div class="qqt-r">
                                    <!--<time>06-23 09:35</time>-->
                                    <em>
                                        <button class="btn2">+ 好友</button>
                                    </em>
                                </div>
                            </div>
                            <div class="qq-f">
                                <span class="zhuying">主营: 刀具、机械、数控</span>
                        <span class="whoeye">
                            <i>
                                <img src="../images/eye.png" alt=""/>
                            </i>
                            <p>122</p>
                        </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="qq">
                            <div class="qq-t">
                                <a href="javascript:;">
                                    <div class="qqt-l">
                                        <i>
                                            <img src="../images/qq-tx.png" alt=""/>
                                        </i>
                                    </div>
                                    <div class="qqt-c">
                                        <em href="javascript:;">
                                            <p>陈娜</p>
                                            <span>市场总监</span>
                                        </em>
                                        <em href="javascript:;">
                                            <h3>手机:17737719495</h3>
                                        </em>
                                        <em href="javascript:;">
                                            <h3>河南尼伯特数特数特数控工具控工控工有限公司</h3>
                                        </em>
                                    </div>
                                </a>
                                <div class="qqt-r">
                                    <!--<time>06-23 09:35</time>-->
                                    <em>
                                        <button class="btn2">+ 好友</button>
                                    </em>
                                </div>
                            </div>
                            <div class="qq-f">
                                <span class="zhuying">主营: 刀具、机械、数控</span>
                        <span class="whoeye">
                            <i>
                                <img src="../images/eye.png" alt=""/>
                            </i>
                            <p>122</p>
                        </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="qq">
                            <div class="qq-t">
                                <a href="javascript:;">
                                    <div class="qqt-l">
                                        <i>
                                            <img src="../images/qq-tx.png" alt=""/>
                                        </i>
                                    </div>
                                    <div class="qqt-c">
                                        <em href="javascript:;">
                                            <p>陈娜</p>
                                            <span>市场总监</span>
                                        </em>
                                        <em href="javascript:;">
                                            <h3>手机:17737719495</h3>
                                        </em>
                                        <em href="javascript:;">
                                            <h3>河南尼伯特数特数特数控工具控工控工有限公司</h3>
                                        </em>
                                    </div>
                                </a>
                                <div class="qqt-r">
                                    <!--<time>06-23 09:35</time>-->
                                    <em>
                                        <button class="btn2">+ 好友</button>
                                    </em>
                                </div>
                            </div>
                            <div class="qq-f">
                                <span class="zhuying">主营: 刀具、机械、数控</span>
                        <span class="whoeye">
                            <i>
                                <img src="../images/eye.png" alt=""/>
                            </i>
                            <p>122</p>
                        </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--请求列表结束-->

        <!--底部导航开始-->
        <div class="foot">
            <div class="foot-c">
                <a href="{:url('index/index')}">
                    <i class="icon1"></i>
                    <span>企业展厅</span>
                </a>
                <a href="{:url('product/index')}">
                    <i class="icon2"></i>
                    <span>产品展厅</span>
                </a>
                <a href="{:url('product/index')}">
                    <i class="icon31"></i>
                    <span class="green">通讯大厅</span>
                </a>
                <a href="{:url('news/index')}">
                    <i class="icon4"></i>
                    <span>新闻资讯</span>
                </a>
                <a href="{:url('index/baoming')}" class="hondq">
                    <i class="icon5"></i>
                    <span>个人中心</span>
                    <time class="tt"></time>
                </a>
            </div>
        </div>
        <!--底部导航结束-->
    </div>
</body>
</html>