<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>sign up</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/sign-up.css"/>
    <link rel="stylesheet" href="../css/style2.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/jquery.toggle-password.min.js"></script>
    <style>
        .daojishi{
            background-color: #fff!important;
            font-size: .3rem;
            color: #212121;
            margin-right: .3rem;
        }
    </style>
</head>
<body>
<div class="box">
    <!--头部开始-->
    <div class="zl-top">
        <div class="zlt-c">
            <div class="zltc-l">
                <a href="javascript:;">
                    <img src="../images/huisejiantou.png" alt=""/>
                </a>
            </div>
            <div class="zltc-c">
                <p>网博会注册</p>
            </div>
            <div class="zltc-r">
                <a href="javascript:;">

                </a>
            </div>
        </div>
    </div>
    <!--头部结束-->

    <!--账号密码开始-->
    <div class="sign">
        <div class="sign-c">
            <ul>
                <li>
                    <input type="text" placeholder="请输入手机号码"/>
                    <p>
                        <button class="daojishi">
                            获取验证码
                        </button>
                    </p>
                </li>
                <li>
                    <input type="text" placeholder="请输入收到的验证码" class="iup1"/>
                    <i class="i-dele">
                        <img src="../images/dele.png" alt="" class="dele1" style="display: none"/>
                    </i>
                </li>
                <li>
                    <input type="password" placeholder="请输入6-20位登录密码" class="iup2" id="password"/>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/dele.png" alt="" class="dele2" style="display: none"/>
                        </i>
                        <i class="bukejian">
                            <img src="../images/mieye.png" alt="" id="togglePassword"/>
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--账号密码结束-->


    <!--提示开始-->
    <div class="ts">
        <div class="ts-c">
            <p>
                验证码错误,请重新输入！
            </p>
        </div>
    </div>
    <!--提示结束-->

    <!--按钮部分开始-->
    <div class="login-btn">
        <div class="login-btn-c">
            <button>注&nbsp;&nbsp;册</button>
        </div>
    </div>
    <!--按钮部分结束-->

    <!--协议开始-->
    <div class="tyxy">
        <div class="tyxy-c">
            <nav>
                <i>
                    <img src="../images/hongdui.png" alt=""/>
                </i>
                <p>
                    同意 <span>《网博会服务协议》</span>及 <span>《网博会隐私条款》</span>
                </p>
            </nav>
        </div>
    </div>

    <!--协议结束-->

</div>
<script>
    $(document).ready(function () {
//        删除按钮
        $(".dele1").click(function(){
            $(".iup1").val("");
            $(".dele1").hide();
            $("button").css('background','#eee');
            $("button").css("color","#b4b4b4");
        })
        $("input").on("input", function() {
            if($(".iup1").val() == ""){
                $(".dele1").css('display','none');
            }else if($("iup1").val() != ""){
                $(".dele1").css('display','block');
            }
        });
        $(".dele2").click(function(){
            $(".iup2").val("");
            $(".dele2").hide();
            $("button").css('background','#eee');
            $("button").css("color","#b4b4b4");
        })
        $("input").on("input", function() {
            if($(".iup2").val() == ""){
                $(".dele2").css('display','none');
            }else if($("iup2").val() != ""){
                $(".dele2").css('display','block');
            }
        });
//        密码可见
        $('#password').togglePassword({
            el: '#togglePassword'
        });
        $("input").on("input", function() {
            if(($("iup1").val() !== "")&&($(".iup2").val() !==   "")){
                $("button").css('background','#122a8c');
                $("button").css("color","#fff")
            } else {
                $("button").css('background','#eee');
            }
        });
//倒计时
        $(".daojishi").click(function(){
            getCode(this);
        })
        var num = 90;
        function getCode(obj){
            obj.innerHTML = "重新输入"+"("+num+"S"+")";
            obj.disabled = true;

            if(num == 0){
                clearTimeout(t);
                obj.innerHTML = "获取验证码";
                obj.disabled = false;
                num = 90;
            }else{
                var t = setTimeout(function(){getCode(obj)},1000);
            }
            num--;
        }
//眼睛切换
        $(".bukejian").on("click",function(){
            if($(".bukejian>img").attr("src")=="../images/mieye.png"){
                $(".bukejian>img").attr("src","../images/kejian.png");
            }
            else{
                $(".bukejian>img").attr("src","../images/mieye.png");
            }
        })
//        一个月免登陆
        $(".tyxy-c>nav>i>img").on("click",function(){
            if($(".tyxy-c>nav>i>img").attr("src")=="../images/hongdui.png"){
                $(".tyxy-c>nav>i>img").attr("src","../images/huiquan.png");
            }
            else{
                $(".tyxy-c>nav>i>img").attr("src","../images/hongdui.png");
            }
        })
    })

</script>
</body>
</html>