.box{
    max-width: 7.5rem;
    margin: 0 auto;
    height: 45.2rem;
    background-color: #f4ba3c;
}
.box a:hover{
    text-decoration: none;
}
/*顶部页面开始*/
.top{
    height: 3.27rem;
    background: url("../images/beijing.png") no-repeat;
    background-size: 100%;
    position: relative;
}
.date{
    width: 4.5rem;
    height: .35rem;
    border: .01rem  solid #fddea4;
    border-radius: .08rem;
    outline: none;
    position: absolute;
    left: 1.5rem;
    top: 1.3rem;
    color: #fef102;
    font-size: .13rem;
    padding-left: .1rem;
    padding-top: .04rem;
}
.search{
    width: 6rem;
    height: .5rem;
    padding-top: 2.77rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.search input{
    width: 4.93rem;
    height: .5rem;
    border-radius: .08rem 0 0 .08rem;
    outline: none;
    border: none;
    border: .01rem solid #fddea4;
    background-color: #f4ba3c;
    padding-left: .2rem;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #802629;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #802629;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #802629;
}
.search a{
    width: 1.07rem;
    height: .54rem;
    text-align: center;
    display: block;
    background-color: #fddea4;
    border-radius: 0 .08rem .08rem 0;
}
.search p{
    text-align: center;
    line-height: .5rem;
    color: #802629;
    font-size: .2rem;
}
/*顶部页面结束*/

/*中奖部分开始*/
.zhongjiangmingdan{
    display: flex;
    /*justify-content: space-around;*/
    /*width: 1.96rem;*/
    height: .41rem;
    /*background-color: yellow;*/
    margin-left: .23rem;
    margin-top: .22rem;
    margin-bottom: .1rem;
}
.zhongjiangmingdan img{
    margin-right: .1rem;
    width: .56rem;
    height: .41rem;
}
.zhongjiangmingdan p{
    color: #802629;
    font-size: .28rem;
}
/*中奖部分结束*/

/*中奖列表开始*/

.table111{
    width: 7.12rem;
    background-color: #fddea4;
    margin: 0 auto;
    border: .01rem solid #ab6c11;
    margin-bottom: .1rem;
}
.table-top{
    display: flex;
    align-items: center;
    height: .8rem;
    background-color: #ff681d;
}
.table-top img{
    margin-left: .1rem;
    margin-right: .1rem;
    width: .09rem;
    height: .09rem;
}
.table-top p{
    color: #fddea4;
    font-size: .24rem;
    font-weight: bold;
}
.ul1{
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
}
.ul2{
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
}
.ul1 li,.ul2 li{
    text-align: center;
    width: 2.5rem;
}
.table-bottom ul{
    height: .56rem;
    display: flex;
    align-items: center;
    margin-bottom: .12rem;
    color: #944c40;
}
.table-bottom{
    background-color: #fddea4;
}
.xian{
    display: block;
    width: 6.78rem;
    margin: 0 auto;
    border-bottom: .01rem #c19974 dashed;
    margin-bottom: .1rem;
}

.btn22{
    width: .9rem;
    height: .35rem;
    border: none;
    background-color: #fd5f12;
    border-radius: .08rem;
    color: #fddea4;
    font-weight: bold;
}
.ul3 li{
    width: .77rem;
    height: .22rem;
    border: .01rem solid #cc9774;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ul3 img{
    width: .2rem;
    height: .11rem;
}
/*中奖列表结束*/



/*领取方式部分开始*/
.lingqu{
    width: 7.11rem;
    height: 2.64rem;
    margin: 0 auto;
    background-color: #fddea4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: .01rem solid #ab6c11;
}
.lingqu-one{
    margin-left: .2rem;
}
.lingqu-two{
    margin-left: .2rem;
}
.lingqu img{
    width: .22rem;
    height: .22rem;
}
.lingqu p{
    color: #802629;
}
.fangshiyi{
    font-size: .22rem;
    font-weight: bold;
    margin-bottom: .1rem;
}
.fangshier{
    font-size: .22rem;
    font-weight: bold;
    margin-bottom: .1rem;
}

/*领取方式部分结束*/

/*新活动开始*/
.xinhuodong{
    width: 7.11rem;
    height: 5.82rem;
    margin: 0 auto;
    background-color: #fddea4;
    display: flex;
    flex-direction: column;
    color: #802629;
    border: .01rem solid #ab6c11;
}
.xinhuodongla{
    width: 7.11rem;
    height: 8.5rem;
    margin: 0 auto;
    background-color: #fddea4;
    display: flex;
    flex-direction: column;
    color: #802629;
}
.xinhuodong-top{
    margin-top: .2rem;
}
.xinhuodong-top img{
    width: .22rem;
    height: .22rem;
}
.bajiao-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.xinhuodong-bottom{
    margin-top: .4rem;
}
.icon1{
    display: block;
    background: url("../images/bajiao1.png") no-repeat;
}
.icon2{
    background: url("../images/bajiao2.png") no-repeat;
}
.icon3{
    background: url("../images/bajiao3.png") no-repeat;
}
.icon4{
    background: url("../images/bajiao4.png") no-repeat;
}
.icon5{
    display: block;
    background: url("../images/bajiao5.png") no-repeat;
}
.icon6{
    background: url("../images/bajiao6.png") no-repeat;
}
.icon7{
    display: block;
    background: url("../images/yingxiong1.png") no-repeat;
}
.icon8{
    background: url("../images/yingxiong2.png") no-repeat;
}
.icon9{
    background: url("../images/yingxiong3.png") no-repeat;
}
.icon10{
    background: url("../images/yingxiong4.png") no-repeat;
}
.icon11{
    display: block;
    background: url("../images/yingxiong5.png") no-repeat;
}
.icon12{
    background: url("../images/yingxiong6.png") no-repeat;
}
.bajiao-top a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bajiao-top i{
    width: 1.68rem;
    height: 1.02rem;
    background-size: 1.68rem 1.02rem;
}
.bajiao-top span{
    /*width: 2rem;*/
    color: #333333;
    font-size: .24rem;
    padding-top: .02rem;
    margin-top: .1rem;
}
.bajiao-top a:hover{
    text-decoration: none;
}
.xinhuodong-bottom a{
    width: 2rem;
    height: 1.5rem;
    margin-bottom: .2rem;
}
.xinhuodong2-bottom a{
    /*width: 1rem;*/
    height: 3rem;
    margin-bottom: .2rem;
}
.yiongxiong-top i{
    width: 1.68rem;
    height: 1.98rem;
    background-size: 1.68rem 1.98rem;
}
.yiongxiong-bottom i{
    width: 1.68rem;
    height: 1.98rem;
    background-size: 1.68rem 1.98rem;
}
.xinhuodong span{
    font-size: .16rem;
    color: #802629;
}
.xinhuodong span{
    font-size: .16rem;
    color: #802629;
}
.xinhuodongla span{
    /*width: 2.7rem;*/
    height: .5rem;
}
/*新活动部分结束*/

/*底部开始*/
.bottom-img{
    margin-top: .3rem;
}
.bottom-img a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*底部结束*/