<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>通讯录列表</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/swipebox.css"/>
    <link rel="stylesheet" href="../css/zy.media.min.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/swiper-3.4.2.min.js"></script>
    <script src="../js/echo.min.js"></script>
    <script src="../js/jquery.swipebox.js"></script>
    <style>
        .active{
            background-color: #ffffff;
            color: #122a8c;
        }
        body{
            padding-top: .8rem;
            padding-bottom: .9rem;
        }
    </style>
</head>
<body>
<div class="box">
    <!--公共头部布局开始-->
    <div class="header">
        <div class="header-c">
            <div class="hc-l">
                <a href="index.html">
                    <img src="../images/own/back.png" alt=""/>
                </a>
                <p>首页</p>
            </div>
            <div class="hc-c">
                <div class="rltop3">
                    <a href="havascript:;" class="active">消息</a>
                    <a href="havascript:;">通讯录</a>
                </div>
            </div>
            <div class="hc-r">
                <a href="javascript:;" class="jiajia">
                    <img src="../images/nav/jia.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!--公共头部布局开始-->

    <!--内容页tab-->
    <div id="tabs-container" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="content-slide">
                    <a href="liaotianjiemian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                                <i class="hongdian">
                                    <img src="../images/own/hongdian.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>王硕--道骐润滑油</p>
                                <span>你好呀</span>
                            </div>
                            <div class="eoscr">
                                <p>刚刚</p>
                                <i>
                                    <img src="../images/own/jingyin.png" alt=""/>
                                </i>
                            </div>
                        </span>
                    </a>
                    <a href="liaotianjiemian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                                <i class="hongdian">
                                    <img src="../images/own/hongdian.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>蔡红霞--汇隆精密仪器</p>
                                <span>我通过了你的朋友请求，现在我们可以开始...</span>
                            </div>
                            <div class="eoscr">
                                <p>一小时前</p>
                                <i>
                                    <img src="../images/own/jingyin.png" alt=""/>
                                </i>
                            </div>
                        </span>
                    </a>
                    <a href="liaotianjiemian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/guanfang.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p style="display: flex;align-items: center">网博会
                                    <i style="width: .66rem;height: .29rem;display: block;margin-left: .1rem">
                                        <img src="../images/own/xiaohong.png" alt="" style="width: 100%;height: 100%;display: block"/>
                                    </i>
                                </p>
                                <span>我暂时没有新的消息哦...</span>
                            </div>
                            <div class="eoscr">

                            </div>
                        </span>
                    </a>
                    <a href="liaotianjiemian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/nav/pinglun.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>评论/回复我的</p>
                                <span>还没有收到过消息~逛逛制造圈吧</span>
                            </div>
                            <div class="eoscr">

                            </div>
                        </span>
                    </a>
                    <a href="liaotianjiemian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/nav/zan.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>赞我的</p>
                                <span>还没有收到过消息~逛逛制造圈吧</span>
                            </div>
                            <div class="eoscr">

                            </div>
                        </span>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="content-slide" style="position: relative">
                    <!--检索联系人-->
                    <div class="jiansuo">
                        <div class="jiansuoc">
                            <div class="input">
                                <i>
                                    <img src="../images/own/fangdajing2.png" alt=""/>
                                </i>
                                <p>搜索联系人</p>
                            </div>
                        </div>
                    </div>
                    <!--检索联系人-->
                    <a href="newfriend.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/nav/newf.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>新的朋友</p>
                            </div>
                            <div class="eoscr2">
                                <i>
                                    <img src="../images/own/xingzhuang1.png" alt=""/>
                                </i>
                            </div>
                        </span>
                    </a>
                    <div style="color: #666666;font-size: .22rem;height: .6rem;line-height:.6rem;padding-left: .18rem;">
                        <p>233个好友可私聊</p>
                    </div>

                    <!--联系人列表-->
                    <div class="zm">C</div>
                    <a href="mingpian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>蔡红霞--(汇隆精密仪器)</p>
                            </div>
                            <div class="eoscr2">

                            </div>
                        </span>
                    </a>
                    <a href="mingpian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>蔡红霞--(汇隆精密仪器)</p>
                            </div>
                            <div class="eoscr2">

                            </div>
                        </span>
                    </a>
                    <a href="mingpian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>蔡红霞--(汇隆精密仪器)</p>
                            </div>
                            <div class="eoscr2">

                            </div>
                        </span>
                    </a>
                    <div class="zm">D</div>
                    <a href="mingpian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>蔡红霞--(汇隆精密仪器)</p>
                            </div>
                            <div class="eoscr2">

                            </div>
                        </span>
                    </a>
                    <a href="mingpian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>蔡红霞--(汇隆精密仪器)</p>
                            </div>
                            <div class="eoscr2">

                            </div>
                        </span>
                    </a>
                    <a href="mingpian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>蔡红霞--(汇隆精密仪器)</p>
                            </div>
                            <div class="eoscr2">

                            </div>
                        </span>
                    </a>
                    <a href="mingpian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>蔡红霞--(汇隆精密仪器)</p>
                            </div>
                            <div class="eoscr2">

                            </div>
                        </span>
                    </a>
                    <a href="mingpian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>蔡红霞--(汇隆精密仪器)</p>
                            </div>
                            <div class="eoscr2">

                            </div>
                        </span>
                    </a>
                    <a href="mingpian.html" class="eos">
                        <span class="eosc">
                            <div class="eoscl">
                                <i>
                                    <img src="../images/own/tx.png" alt=""/>
                                </i>
                            </div>
                            <div class="eoscc">
                                <p>蔡红霞--(汇隆精密仪器)</p>
                            </div>
                            <div class="eoscr2">

                            </div>
                        </span>
                    </a>
                    <!--联系人列表-->
                    <div class="rpo">
                        <a href="javascript:;" class="aa">A</a>
                        <a href="javascript:;">B</a>
                        <a href="javascript:;">C</a>
                        <a href="javascript:;">D</a>
                        <a href="javascript:;">E</a>
                        <a href="javascript:;">F</a>
                        <a href="javascript:;">G</a>
                        <a href="javascript:;">H</a>
                        <a href="javascript:;">I</a>
                        <a href="javascript:;">J</a>
                        <a href="javascript:;">K</a>
                        <a href="javascript:;">L</a>
                        <a href="javascript:;">M</a>
                        <a href="javascript:;">N</a>
                        <a href="javascript:;">O</a>
                        <a href="javascript:;">P</a>
                        <a href="javascript:;">Q</a>
                        <a href="javascript:;">R</a>
                        <a href="javascript:;">S</a>
                        <a href="javascript:;">T</a>
                        <a href="javascript:;">U</a>
                        <a href="javascript:;">V</a>
                        <a href="javascript:;">W</a>
                        <a href="javascript:;">X</a>
                        <a href="javascript:;">Y</a>
                        <a href="javascript:;">Z</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--内容页tab-->


    <!--更多-->
    <div class="fabuleixing">
        <div class="fabu">
            <p class="ptoptil">请选择您要发布的类型</p>
            <div class="ttrpo">
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/tuwen.png" alt=""/>
                    </i>
                    <p>图文</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/lianjie.png" alt=""/>
                    </i>
                    <p>链接</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/shipin.png" alt=""/>
                    </i>
                    <p>视频</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/zhibo.png" alt=""/>
                    </i>
                    <p>直播</p>
                </a>
            </div>
            <div class="chafoot">
                <a href="javascript:;">
                    <img src="../images/own/cha.png" alt=""/>
                </a>
                <p>取消</p>
            </div>
        </div>
    </div>
    <!--更多-->







    <!--底部导航开始-->
    <div class="foot">
        <div class="foot-c">
            <div class="fc-l">
                <a href="index.html">
                    <i>
                        <img src="../images/nav/ghome.png" alt=""/>
                    </i>
                    <p>首页</p>
                </a>
                <a href="messagelist.html" class="ms">
                    <i>
                        <img src="../images/nav/rmessage.png" alt=""/>
                    </i>
                    <p class="redp">消息</p>
                    <i class="h">
                        <img src="../images/own/hongdian.png" alt=""/>
                    </i>
                </a>
            </div>
            <div class="fc-c1">

            </div>
            <div class="fc-c">
                <a href="javascript:;">
                    <img src="../images/nav/fabu.png" alt="" class="fabuimg"/>
                </a>
                <p>发布</p>
            </div>
            <div class="fc-l">
                <a href="faxian.html">
                    <i>
                        <img src="../images/nav/faxian.png" alt=""/>
                    </i>
                    <p>发现</p>
                </a>
                <a href="my.html">
                    <i>
                        <img src="../images/nav/my.png" alt=""/>
                    </i>
                    <p>我的</p>
                </a>
            </div>
        </div>
    </div>
    <!--底部导航结束-->

</div>
<script src="../js/zy.media.min.js"></script>
<script>
    $(document).ready(function () {
        $(".swiper-wrapper").height($(".swiper-wrapper .swiper-slide").eq(0).find(".content-slide").height())
        var tabsSwiper = new Swiper('#tabs-container',{
            speed:500,
            onSlideChangeStart: function(){
                console.log($(".swiper-wrapper .swiper-slide").eq(tabsSwiper.activeIndex).find(".content-slide").height())
                $(".swiper-wrapper").height($(".swiper-wrapper .swiper-slide").eq(tabsSwiper.activeIndex).find(".content-slide").height())
                $(".rltop3 .active").removeClass('active')
                $(".rltop3 a").eq(tabsSwiper.activeIndex).addClass('active')
            }
        })
        $(".rltop3 a").on('touchstart mousedown',function(e){
            e.preventDefault()
            $(".rltop3 .active").removeClass('active')
            $(this).addClass('active')
            tabsSwiper.slideTo( $(this).index() )
        })
        $(".rltop3 a").click(function(e){
            e.preventDefault()
        })

        $(".fabuimg").on("click",function(){
            $(".fabuleixing").show()
            $(".ttrpo>a").addClass("animated bounceInUp")
        })

        $(".chafoot").on("click",function(){
            $(".fabuleixing").hide()
        })

        $(".fabuleixing").on("click",function(){
            $(".fabuleixing").hide()
        })
        $('.fabu').on('click',function(e){
            e.stopPropagation();
        })



        $(".eos").on("click",function(){
            $(this).find($(".hongdian>img")).hide()
        })

    })
</script>
</body>
</html>