<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>展商名录</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/man&zhanshang.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.js"></script>
    <style>
        .box {
            max-width: 7.5rem;
            background-color: #fff;
            margin: 0 auto;
        }
        body {
            background-color: #ffffff;
            padding-top: .8rem;
            padding-bottom: .89rem;
        }
    </style>
</head>
<body>
<div class="box">
    <!--公共头部布局开始-->
    <div class="header">
        <div class="header-c">
            <div class="hc-l">
                <a href="javascript:history.back();">
                    <img src="../images/own/back.png" alt=""/>
                </a>
                <p>返回</p>
            </div>
            <div class="hc-c">
                <p>展商名录</p>
            </div>
            <div class="hc-r">
                <a href="javascript:;">
                    <img src="../images/own/search.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!--公共头部布局开始-->


    <!--筛选开始-->
    <div class="threeseach">
        <a href="javascript:;">
            <p>不限行业</p>
            <i>
                <img src="../images/own/daosanjiao.png" alt=""/>
            </i>
        </a>
        <a href="javascript:;">
            <p>不限区域</p>
            <i>
                <img src="../images/own/daosanjiao.png" alt=""/>
            </i>
        </a>
        <a href="javascript:;">
            <p>高级筛选</p>
            <i>
                <img src="../images/own/daosanjiao.png" alt=""/>
            </i>
        </a>
    </div>
    <!--筛选结束-->
    <div style="height: .17rem;width: 7.5rem;background-color: #eeeeee"></div>

    <!--展商-->
    <div class="zslist">
        <div class="zslist-c">
            <p>展商(999+)</p>
        </div>
    </div>
    <!--展商-->


    <!--展商列表-->
    <div class="zslist2">
        <div class="zslist-c2 xixixi">
            <a href="zhanshangxiangqing.html">
                <div class="zslogo">
                    <i>
                        <img src="../images/company/weihua.png" alt=""/>
                    </i>
                </div>
                <div class="zsinfo">
                    <div class="zsinfot">
                        <p class="zsp1">卫华集团有限公司</p>
                        <p class="zsp2">主营：起重机、港口机械等</p>
                        <p class="zsp2">2004年成立   1600万注册资金   57亿元年产值</p>
                        <span>
                            <p>公交车</p>
                            <p>客运车</p>
                            <p>专用客车</p>
                        </span>
                    </div>
                    <div class="zsinfof">
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <p>
                            <span>99+</span>
                            负责人
                        </p>
                    </div>
                </div>
            </a>
            <div class="tg">
                <p>推广</p>
            </div>
        </div>
        <div class="zslist-c2">
            <a href="zhanshangxiangqing.html">
                <div class="zslogo">
                    <i>
                        <img src="../images/company/yutong.png" alt=""/>
                    </i>
                </div>
                <div class="zsinfo">
                    <div class="zsinfot">
                        <p class="zsp1">郑州宇通客车股份有限公司</p>
                        <p class="zsp2">主营：公交、客运、专用等客车</p>
                        <p class="zsp2">1989年成立   1.66亿注册资金   100.87亿元年产值</p>
                        <span>
                            <p>起重机</p>
                            <p>吊机</p>
                            <p>港口机械</p>
                        </span>
                    </div>
                    <div class="zsinfof">
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <p>
                            <span>99+</span>
                            负责人
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="zslist-c2">
            <a href="javascript:;">
                <div class="zslogo">
                    <i>
                        <img src="../images/company/zhongtie.png" alt=""/>
                    </i>
                </div>
                <div class="zsinfo">
                    <div class="zsinfot">
                        <p class="zsp1">中铁工程装备集团有限公司</p>
                        <p class="zsp2">主营：盾构、TBM等隧道施工设备</p>
                        <p class="zsp2">2010年成立   600万注册资金   90亿元年产值</p>
                        <span>
                            <p>公交车</p>
                            <p>客运车</p>
                            <p>专用客车</p>
                        </span>
                    </div>
                    <div class="zsinfof">
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <p>
                            <span>99+</span>
                            负责人
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="zslist-c2">
            <a href="http://vr.cneme.cn/tour/f10e2997e0389a0e">
                <div class="zslogo">
                    <i>
                        <img src="../images/company/yufei.png" alt=""/>
                    </i>
                </div>
                <div class="zsinfo">
                    <div class="zsinfot">
                        <p class="zsp1">豫飞重工有限公司</p>
                        <p class="zsp2">主营：起重机、港口机械等</p>
                        <p class="zsp2">2004年成立   1600万注册资金   57亿元年产值</p>
                        <span>
                            <p>公交车</p>
                            <p>客运车</p>
                            <p>专用客车</p>
                        </span>
                    </div>
                    <div class="zsinfof">
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <i>
                            <img src="../images/own/fzr.png" alt=""/>
                        </i>
                        <p>
                            <span>99+</span>
                            负责人
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!--<div class="zslist-c2">-->
            <!--<a href="javascript:;">-->
                <!--<div class="zslogo">-->
                    <!--<i>-->
                        <!--<img src="../images/company/weihua.png" alt=""/>-->
                    <!--</i>-->
                <!--</div>-->
                <!--<div class="zsinfo">-->
                    <!--<div class="zsinfot">-->
                        <!--<p class="zsp1">卫华集团有限公司</p>-->
                        <!--<p class="zsp2">主营：起重机、港口机械等</p>-->
                        <!--<p class="zsp2">2004年成立   1600万注册资金   57亿元年产值</p>-->
                        <!--<span>-->
                            <!--<p>公交车</p>-->
                            <!--<p>客运车</p>-->
                            <!--<p>专用客车</p>-->
                        <!--</span>-->
                    <!--</div>-->
                    <!--<div class="zsinfof">-->
                        <!--<i>-->
                            <!--<img src="../images/own/fzr.png" alt=""/>-->
                        <!--</i>-->
                        <!--<i>-->
                            <!--<img src="../images/own/fzr.png" alt=""/>-->
                        <!--</i>-->
                        <!--<i>-->
                            <!--<img src="../images/own/fzr.png" alt=""/>-->
                        <!--</i>-->
                        <!--<p>-->
                            <!--<span>99+</span>-->
                            <!--负责人-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="zslist-c2">-->
            <!--<a href="javascript:;">-->
                <!--<div class="zslogo">-->
                    <!--<i>-->
                        <!--<img src="../images/company/weihua.png" alt=""/>-->
                    <!--</i>-->
                <!--</div>-->
                <!--<div class="zsinfo">-->
                    <!--<div class="zsinfot">-->
                        <!--<p class="zsp1">卫华集团有限公司</p>-->
                        <!--<p class="zsp2">主营：起重机、港口机械等</p>-->
                        <!--<p class="zsp2">2004年成立   1600万注册资金   57亿元年产值</p>-->
                        <!--<span>-->
                            <!--<p>公交车</p>-->
                            <!--<p>客运车</p>-->
                            <!--<p>专用客车</p>-->
                        <!--</span>-->
                    <!--</div>-->
                    <!--<div class="zsinfof">-->
                        <!--<i>-->
                            <!--<img src="../images/own/fzr.png" alt=""/>-->
                        <!--</i>-->
                        <!--<i>-->
                            <!--<img src="../images/own/fzr.png" alt=""/>-->
                        <!--</i>-->
                        <!--<i>-->
                            <!--<img src="../images/own/fzr.png" alt=""/>-->
                        <!--</i>-->
                        <!--<p>-->
                            <!--<span>99+</span>-->
                            <!--负责人-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    </div>
    <!--展商列表-->



    <!--更多-->
    <div class="fabuleixing">
        <div class="fabu">
            <p class="ptoptil">请选择您要发布的类型</p>
            <div class="ttrpo">
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/tuwen.png" alt=""/>
                    </i>
                    <p>图文</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/lianjie.png" alt=""/>
                    </i>
                    <p>链接</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/shipin.png" alt=""/>
                    </i>
                    <p>视频</p>
                </a>
                <a href="javascript:;">
                    <i>
                        <img src="../images/nav/zhibo.png" alt=""/>
                    </i>
                    <p>直播</p>
                </a>
            </div>
            <div class="chafoot">
                <a href="javascript:;">
                    <img src="../images/own/cha.png" alt=""/>
                </a>
                <p>取消</p>
            </div>
        </div>
    </div>
    <!--更多-->


    <!--底部导航开始-->
    <div class="foot">
        <div class="foot-c">
            <div class="fc-l">
                <a href="index.html">
                    <i>
                        <img src="../images/nav/home.png" alt=""/>
                    </i>
                    <p class="redp">首页</p>
                </a>
                <a href="messagelist.html" class="ms">
                    <i>
                        <img src="../images/nav/message.png" alt=""/>
                    </i>
                    <p>消息</p>
                    <i class="h">
                        <img src="../images/own/hongdian.png" alt=""/>
                    </i>
                </a>
            </div>
            <div class="fc-c1">

            </div>
            <div class="fc-c">
                <a href="javascript:;">
                    <img src="../images/nav/fabu.png" alt="" class="fabuimg"/>
                </a>
                <p>发布</p>
            </div>
            <div class="fc-l">
                <a href="faxian.html">
                    <i>
                        <img src="../images/nav/faxian.png" alt=""/>
                    </i>
                    <p>发现</p>
                </a>
                <a href="my.html">
                    <i>
                        <img src="../images/nav/my.png" alt=""/>
                    </i>
                    <p>我的</p>
                </a>
            </div>
        </div>
    </div>
    <!--底部导航结束-->

</div>
<script>
    $(document).ready(function () {
        $(".fabuimg").on("click",function(){
            $(".fabuleixing").show()
            $(".ttrpo>a").addClass("animated bounceInUp")
        })

        $(".fabuleixing").on("click",function(){
            $(".fabuleixing").hide()
        })
        $('.fabu').on('click',function(e){
            e.stopPropagation();
        })

        $(".chafoot").on("click",function(){
            $(".fabuleixing").hide()
        })
    })
</script>
</body>
</html>