<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/member.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <script src="../js/base.js"></script>
    <title>易代宝个人中心</title>
</head>
<body>
    <div class="box">
        <!--头部公用开始-->
        <header id="header">
            <div class="header-wrap">
                <a href="javascript:history.back();" class="header-back">
                    <span>返回</span>
                </a>
                <h2>我的商城</h2>
                <a href="javascript:void(0)" id="btn-opera" class="i-main-opera">
                    <span></span>
                </a>
            </div>
            <div class="main-opera-pannel">
                <div class="main-op-table main-op-warp main-op-warp2">
                    <a href="http://www.yizhaibao.cn/wap/index.html" class="quarter">
                        <img src="http://www.yizhaibao.vip/wap/images/menu_01.png">
                        <p>首页</p>
                    </a>
                    <a href="http://www.yizhaibao.cn/wap/tmpl/product_first_categroy.html" class="quarter">
                        <img src="http://www.yizhaibao.vip/wap/images/menu_02.png">
                        <p>分类</p>
                    </a>
                    <a href="http://www.yizhaibao.cn/wap/tmpl/cart_list.html" class="quarter">
                        <img src="http://www.yizhaibao.vip/wap/images/menu_03.png">
                        <p>购物车</p>
                    </a>
                    <a href="http://www.yizhaibao.cn/wap/tmpl/member/member.html?act=member" class="quarter">
                        <img src="http://www.yizhaibao.vip/wap/images/menu_04.png">
                        <p>我的商城</p>
                    </a>
                </div>
            </div>
        </header>
        <!--头部公用结束-->


        <!--个人信息界面开始-->
            <div class="grxx">
                <div class="gr-top">
                    <i>
                        <img src="../images/touxiang.png" alt=""/>
                    </i>
                    <span>沙漠里卖卖水</span>
                </div>
                <div class="gr-foot">
                    <ul>
                        <li>
                            <a href="javascript:;" style="border-right: 1px solid #b7b7b7;">
                                <i>积分</i>
                                <i>0</i>
                            </a>
                        </li>
                        <li>
                            <a href="javasvript:;" style="border-right: 1px solid #b7b7b7;">
                                <i>预存款</i>
                                <i>0.00</i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i>债券金</i>
                                <i>14000.00</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        <!--个人信息界面结束-->




        <!--功能部分开始-->
            <div class="grgn">
                <div class="gn-center">
                    <a href="javascript:;">
                        <i>
                            <img src="../images/dd.png" alt=""/>
                        </i>
                        <span>我的订单</span>
                    </a>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/djq.png" alt=""/>
                        </i>
                        <span>我的代金券</span>
                    </a>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/sc.png" alt=""/>
                        </i>
                        <span>我的收藏</span>
                    </a>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/dz.png" alt=""/>
                        </i>
                        <span>地址管理</span>
                    </a>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/ll.png" alt=""/>
                        </i>
                        <span>浏览历史</span>
                    </a>
                    <a href="javascript:;">
                        <i>
                            <img src="../images/cz.png" alt=""/>
                        </i>
                        <span>债金券充值</span>
                    </a>
                    <a href="javascript:;" style="border-bottom: none">
                        <i>
                            <img src="../images/jl.png" alt=""/>
                        </i>
                        <span>债金券记录</span>
                    </a>
                    <a href="javascript:;" style="border-bottom: none">
                        <i>
                            <img src="../images/mm.png" alt=""/>
                        </i>
                        <span>支付密码</span>
                    </a>
                    <a href="javascript:;" style="border-bottom: none">
                        <i>
                            <img src="../images/gd.png" alt=""/>
                        </i>
                        <span>期待更多</span>
                    </a>
                </div>
            </div>
        <!--功能部分结束-->


        <!--底部部分开始-->
        <div class="gx-zx">
            <button>注销账号</button>
        </div>
        <!-- 底部部分结束-->
    </div>
</body>
</html>